{% for item in videos %}
{% set video_data = fn('get_fields', item) %}
{% if video_data.use_static_image %}
<div class="video img">
    <div class="video-wrapper nocc">
        <image width="1080" src="{{video_data.image.url}}" />
        <div class="video-inner">
            <div class="video-title">
                {% for line in video_data.title %}
                    {{line.line}}<br>
                {% endfor %}
            </div>
        </div>
        <div class="video-overlay"></div>
    </div>
    <div class="video-content">
    {{video_data.content}}
    </div>
</div>
{% else %}
<div class="video vdo">
    <div class="video-wrapper" onclick="playVideo(this)" onmouseenter="videoHover(this)" onmouseout="videoHoverOut(this)">
        <video width="1080" onloadeddata="this.parentNode.parentNode.style.transform='translateX(0%)';" data-full-video="{{video_data.video_sources_full.source}}" loop muted playsinline preload='metadata'>
            {% for source in video_data.video_sources %}
                <source src="{{source.source}}" type="video/{{source.format}}">
            {% endfor %}
            Sorry, your browser does not support HTML5 video.
        </video>
        <div class="video-mobile-play"><span>PLAY</span></div>
        <div class="video-inner">
            <div class="video-title">
                {% for line in video_data.title %}
                    {{line.line}}<br>
                {% endfor %}
            </div>
        </div>
        <div class="video-overlay"></div>
    </div>
    <div class="video-content">
    {{video_data.content}}
    </div>
</div>
{% endif %}
{% endfor %}