.service-block-one {
    position:relative;
    background:#1D1D1B;
    p {
        font-weight:300;
        color:white;
    }
    h1 {
        color: white;
        font-weight: 300;
        margin: 0;
    }
    em {
        color:var(--dot);
        font-weight: 400;
    }
    .primary {
        li {
            margin: 10px 0;
        }
    }
    .primary a {
        user-select: none;
        transition: all 0.15s ease-out;
        color: white;
        position: relative;
        font-weight: 900;
        cursor: pointer;
        z-index:2;
        &:not(.active) {
            &:hover {
                &:after {
                    opacity: 1;
                }
            }
        }
        &:after {
            transition: all 0.25s ease-out;
            content: "";
            position: absolute;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            bottom: 10px;
            right: -15px;
            background: var(--color);
            opacity: 0;
        }
        &.active {
            display: block;
            font-weight: 300;
            letter-spacing: -1.92px;
            transform: translateX(30px);
            &:after {
                opacity: 1;
                left: -25px;
                top: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .top {
        position: relative;
        z-index:2;
        padding: 35px 0;
    }
    .bg {
        position:absolute;
        top:-25px;
        left:-25px;
        z-index:1;
    }
    .inner {
        padding: 35px;
    }
    .po-r {
        position: relative;
    }
    .video {
        &-wrapper {
            position:relative;
            video {
                transition:all 0.5s ease-out;
                max-width: 100%;
                filter: grayscale(100%);
            }
            img {
                transition:all 0.5s ease-out;
                filter: grayscale(100%);
            }
            &:hover {
                video {
                    filter: grayscale(0%);
                }
                img {
                    filter: grayscale(0%);
                }
            }
        }
        &-container {
            transition:all 0.25s ease-out;
            max-width: 400px;
            overflow: hidden;
            p {
                font-size:16px;
                line-height:19px;
                color:white;
                font-weight: 400;
            }
            &:not(.active) {
                opacity:0;
            }
        }
        &-title {
            font-size:18px;
            line-height:22px;
            color:white;
            font-weight:900;
            text-shadow: 2px 2px 7px rgb(27 27 29 / 58%);
        }
        &-inner {
            position: absolute;
            left: 0;
            right: 70px;
            bottom: 0;
            padding: 20px;
        }
        &-mobile-play {
            position: absolute;
            right: 10px;
            bottom: 0;
            padding: 20px;
            span {
                color: white;
                font-weight: 900;
                border-bottom: 2px solid white;
                font-size: 14px;
                display: block;
                padding-bottom: 5px;
                letter-spacing: 1px;
            }
        }
        &-content {
            margin-top: 10px;
            margin-bottom: 35px;
            padding: 0 5px;
        }
        &-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 5;
        }
    }
}

.video-container {
    &.active {
        .video-wrapper {
            &:not(.nocc) {
                &:hover {
                    cursor: url('/wp-content/themes/avcom/blocks/service-block-one/play-hover.png') 2 2, pointer;
                }
            }
        }
    }
}

.video-player {
    transition: all 0.25s ease-out;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1D1D1B;
    // padding: 50px;
    z-index: 50;
    display:flex;
    &:not(.active) {
        transform: translateX(100%);
    }
    video {
        max-width: 100%;
        height: 100%;
    }
}

.video-category {
    &.active {
        .video-container-mobile {
            max-height: 3000px;
        }
    }
}

.video-container-mobile {
    transition:all 0.3s ease-out;
    max-width: 600px;
    overflow:hidden;
    max-height: 0;
    .wrapper {
        margin: 25px 0;
    }
}

.video-player {
    &.active {
        .outer {
            transform: rotate(1deg);
        }
    }
}

.video-closer {
    z-index: 50;
    .outer {
        transform: rotate(358deg);
        cursor: pointer;
        height:30px;
        width:30px;
        position: absolute;
        right: 30px;
        top: 30px;
        transition: all 1s ease-out;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .inner {
        display:block;
        &:before {
            transition: all 0.4s ease-out;
            font-family: "icomoon";
            content: "\e907";
            color: white;
            font-size: 30px;
        }
        &:hover {
            &:before {
                font-size: 34px;
            }
        }
    }
}

@include screen(0, 899) {
    .service-block-one {
        h1 {
            font-size:18px;
            line-height:22px;
        }
        .top {
            padding: 20px 0;
        }
        .primary a {
            line-height: 1;
            font-size:45px;
        }
        .video-home {
            display:none;
        }
        .nav-container {
            display:none;
        }
    }
}

@include screen(0, 380) {
    .service-block-one {
        .primary {
            a {
                font-size:40px;
            }
        }
    }
}

@include screen(500, 899) {
    .service-block-one {
        .primary {
            a {
                font-size:80px;
            }
        }
    }
}

@include screen(600) {
    .service-block-one {
        padding: 0 35px;
        .container {
            max-width: 85%;
        }
        h1 {
            font-size: 30px;
            line-height: 40px;
        }
        .top {
            p {
                font-weight:300;
                color:white;
                font-size: 22px;
                line-height: 30px;
                margin:0;
            }
        }
        .primary {
            li {
                margin: 15px 0;
                &:hover {
                    a {
                        font-weight: 300;
                        letter-spacing: -3.6px;
                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .primary a {
            line-height:1;
            &:after {
                height: 15px;
                width: 15px;
                bottom: 15px;
                right: -20px;
            }
        }
        .top {
            padding: 15px 0;
        }
        .inner {
            padding: 15px 35px;
        }
        .bg {
            display:none;
        }
        .nav {
            &-container {
                position: absolute;
                left: -125px;
                bottom: 8px;
                max-width: 140px;
            }
            a {
                color:#939597;
                line-height: 24px;
                display: block;
                margin-bottom: 5px;
                width: fit-content;
                &.this {
                    color:white;
                }
            }
        }
    }
}

@include screen(900) {
    .video-mobile-play,
    .video-container-mobile {
        display: none;
    }
}

@include screen(1200) {
    .service-block-one {
        .primary a {
            font-size: 60px;
        }
        .top {
            padding: 20px 0;
            p {
                font-size: 26px;
                line-height: 34px;
            }
        }
        .container {
            max-width: 75%;
            &.main {
                display: flex;
                gap: 100px;
                justify-content: space-between;
                align-items: flex-start;
                .wrapper {
                    position:relative;
                    flex-grow:1;
                }
            }
        }
        .video {
            transition:all 0.3s ease-out;
            &.vdo {
                transform: translateX(100%);
            }
            &-home {
                position: relative;
                height: 600px;
                width: 400px;
                overflow: scroll;
                flex:0 0 400px;
                &::-webkit-scrollbar {
                    display: none;
                }
                &:not(.active) {
                    .video {
                        opacity:0;
                    }
                }
                &.active {
                    .video {
                        opacity:1;
                    }
                }
            }
            &-content {
                p {
                    font-size: 16px;
                    line-height: 19px;
                    color: white;
                    font-weight: 400;
                }
            }
            &-container {
                max-width: 400px;
                overflow: hidden;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
            }
        }
    }
}

@include screen(1400) {
    .service-block-one {
        .primary a {
            font-size: 65px;
        }
        .top {
            padding: 30px 0;
            p {
                font-size:28px;
                line-height:36px;
            }
        }
        .container {
            max-width: 75%;
        }
    }
}


@include screen(1600) {
    .service-block-one {
        .primary a {
            font-size: 70px;
        }
        .top {
            padding: 35px 0;
            p {
                font-size: 30px;
                line-height: 40px;
            }
        }
        .container {
            max-width: 65%;
        }
    }
}

@include screen(1700) {
    .service-block-one {
        .primary a {
            font-size: 75px;
        }
    }
}

@include screen(1919) {
    .service-block-one {
        .primary a {
            font-size: 90px;
        }
    }
}



.vjs-play-progress.vjs-slider-bar {
    &:before {
        height: 10px !important;
        width: 10px !important;
        border-radius: 0.8em !important;
        top: -2px !important;
        right: -3px !important;
        content: "" !important;
        border:none !important;
    }
    &:after {
        position: absolute;
        font-family: 'icomoon';
        font-size: 19px;
        line-height: 11px;
        content: "\e908";
        top: -3px;
        right: -5px;
    }
}

.vjs-theme-fantasy .vjs-play-progress, .vjs-theme-fantasy .vjs-play-progress:before {
    background-color: #e42313 !important;
}

.vjs-theme-fantasy .vjs-button>.vjs-icon-placeholder:before, .vjs-theme-fantasy .vjs-time-control {
    line-height: 40px !important;
}

.vjs-theme-fantasy .vjs-control-bar {
    height: 40px !important;
    bottom: -1px !important;
}

.video-js {
    width: 100vw !important;
    height: 100vh !important;
    margin: auto;
}

.vjs-icon-placeholder:before {
    top: -5px !important;
    border:none !important;
    &:hover {
        border:none !important;
    }
}

.vjs-theme-fantasy .vjs-volume-bar {
    margin-top: 18px !important;
}

.vjs-icon-replay:before, .video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before {
    top: -5px !important;
}

.video-js .vjs-picture-in-picture-control .vjs-icon-placeholder:before,
.video-js .vjs-mute-control .vjs-icon-placeholder:before,
.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
    top: 0px !important;
}

.service-block-one {
    .mobile-nav {
        display: flex;
        justify-content: space-between;
        margin-top: 75px;
        &-title {
            font-weight:600;
        }
        a {
            flex: 0 0 125px;
            &:not(.display) {
                visibility: hidden;
            }
            .arrow {
                margin-bottom: 3px;
                &:before {
                    font-family: "icomoon";
                    color:#e42313;
                }
            }
            span {
                display:block;
                color:white;
                &:nth-child(2) {
                    font-size: 14px;
                    margin-bottom: 3px;
                }
            }
        }
        .next {
            text-align: right;
            .arrow {
                &:before {
                    content: "\e90c";
                }
            }
        }
        .previous {
            .arrow {
                &:before {
                    content: "\e90d";
                }
            }
        }
    }
}

.video-container-closer {
    border-bottom: 2px solid rgba(255,255,255,.2);
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-align: right;
    padding-bottom: 20px;
    position: relative;
    z
    &:before {
        font-family: "icomoon";
        content: "\e90a";
        color: #e42313;
        font-size: 20px;
        position: absolute;
        right: 65px;
        top: -2px;
    }
}