{% extends "block-base.twig" %}

{% block content %}
<section class="service-block-one {{block.className}}" {{blockSection(block)}}>
    <div class="inner">
        <div class="container">
            <div class="top">
                <div class="wysisyg" style="--dot:{{fields.content.color}}">{{fields.primary_content}}</div>
            </div>
        </div>
        <div class="container main po-r">
            <div class="wrapper">
                <ul class="rl primary">
                    {% for item in fields.services %}
                    <li class="video-category">
                        <a style="--color:{{item.color}}" onclick="toggleVideoCategory(this, {{loop.index}})">{{item.label}}</a>
                        <div class="video-container-mobile">
                            <div class="wrapper">
                                {% include "service-video-one.twig" with {'items': item.assets} %}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="nav-container">
                    <ul class="rl nav">
                    {% for item in fields.navigation.navigation_items %}
                        {% set slug = '/' ~ post.slug %}
                        <li>
                        {% if item.remove_link %}
                            <a class="this">{{item.link.title}}</a>
                        {% else %}
                            <a href="{{item.link.url}}" target="{{item.link.target}}">{{item.link.title}}</a>
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="video-home">
                {% for item in fields.services %}
                <div class="video-container" data-container="{{loop.index}}">
                    {% include "service-video-one.twig" with {'items': item.assets} %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<div class="video-player" onclick="">
<video id="primary-player"></video>
<div class="video-closer">
<div class="outer" onclick="closeVideoPlayer();"><span class="inner"></span></div>
</div>
</div>
<script>
    document.querySelectorAll('.primary a').forEach(function(e) {
        e.addEventListener('click', function(event) {
            if(event.srcElement.classList.contains('active')) {
                event.srcElement.classList.remove('active')
            } else {
                document.querySelectorAll('.primary a').forEach(function(el) {
                    el.classList.remove('active');
                });
                event.srcElement.classList.add('active')
            }
        })
    });

    function toggleVideoCategory(status, index) {
        document.querySelectorAll('[data-container]').forEach(function(e) {
            e.classList.remove('active');
        });

        if(status.classList.contains('active')) {

        } else {
            document.querySelector('[data-container="' + index + '"]').classList.add('active');
        }

        if(status.parentNode.classList.contains('active')) {
            status.parentNode.classList.remove('active');
        } else {
            document.querySelectorAll('.video-category').forEach(function(e) {
                e.classList.remove('active');
            });
            status.parentNode.classList.add('active');
        }
        document.querySelector('.video-home').scroll({top:0,behavior:'smooth'});
        if(screen.width < 900) {
            status.scrollIntoView();
        }
    }

    function playVideo(el) {


        var oldPlayer = videojs('primary-player');
        oldPlayer.dispose();

        var videoPlayer = document.createElement('video');
        videoPlayer.classList.add("video-js");
        videoPlayer.classList.add("vjs-theme-fantasy");
        videoPlayer.setAttribute("id", "primary-player");
        videoPlayer.setAttribute("controls", "");
            
        document.querySelector('.video-player').appendChild(videoPlayer);

        var player = videojs('primary-player', {
            controlBar: {
                fullscreenToggle: false
            },
            userActions: {
                doubleClick: false
            }
        });

        player.src(el.querySelector('video').dataset.fullVideo);
        
        document.querySelector('.video-player').classList.add('active');
        document.querySelector('.video-player video').play();
        document.querySelector('html').classList.add('player-open');
    }

    function closeVideoPlayer() {
        document.querySelector('.video-player').classList.remove('active');
        document.querySelector('html').classList.remove('player-open');
        
        if (document.pictureInPictureElement !== null) {

        } else {
            var oldPlayer = videojs('primary-player').pause();
        }
       
    }

    function loadVideos(category) {
        let data = new FormData();
        
        data.append('category', category);
        
        fetch("{{fn("admin_url", "admin-ajax.php")}}?action=ims_get_videos", {
            method: "POST",
            credentials: 'same-origin',
            body: data
            })
            .then(function (response) {
                return response.text();
            })
            .then(function (data) {
                document.getElementById('video-container').innerHTML = "";
                document.getElementById('video-container').innerHTML += data;
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
        }

        function videoHover(videoWrapper) {
            videoWrapper.querySelector('video').play();
        }

        function videoHoverOut(videoWrapper) {
            videoWrapper.querySelector('video').pause();
        }

        function refreshEventListeners() {
            document.querySelectorAll('.video-wrapper').forEach(function(e) {
                e.addEventListener('click', function(event) {
                    loadVideos(event.srcElement);
                })
            });
        }

</script>
<link rel="preload" href="https://vjs.zencdn.net/7.20.3/video-js.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="https://unpkg.com/@videojs/themes@1/dist/fantasy/index.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<script>
    window.HELP_IMPROVE_VIDEOJS = false;
</script>
<script src="https://vjs.zencdn.net/7.20.3/video.min.js" defer></script>
<script>
document.querySelectorAll('.video-container-mobile video').forEach(function(e){
    e.play();
    e.pause();
});
</script>
<style>
html.player-open {
    overflow:hidden;
}
</style>
{% endblock %}