@import "mixins.scss";

.case-study-video {
    .content {
        overflow: hidden;
        background:white;
        order:4;
        .video {
            position:relative;
            margin-bottom: 30px;
            @include screen(1024) {
                max-width: 1100px;
                margin: auto;
                margin-bottom: 60px;
            }
        }
        .video {
            video {
                max-width: 100%;
            }
        }
    }
}

