{% extends "block-base.twig" %}

{% block content %}
<section class="case-study-video">
    <div class="content">
        <div class="container">
            <div class="video">
                <video id="mini-player" class="video-js vjs-theme-fantasy vjs-fluid" controls>
                    <source src="{{fields.video.video_url}}" type="video/mp4">
                        Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</section>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        videojs('mini-player', {
            controlBar: {
                fullscreenToggle: true
            },
            userActions: {
                doubleClick: false
            },
            poster: "{{fields.video.thumbnail.url}}"
        });
    });
</script>
{% endblock %}
