.content-block-three {
    padding:35px;
    background:#1D1D1B;
    & > * {
        color:white;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight:300;
        margin: 0;
        line-height:1;
    }

    em {
        color: var(--dot-color);
    }

    p {
        font-weight:400;
    }
}

@include screen(0, 899) {
    .content-block-three {
        .primary {
            li {
                position: relative;
                font-size: 24px;
                line-height: 30px;
                font-weight: 300;
                padding-left: 25px;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
                &:before {
                    content:"";
                    position:absolute;
                    background:var(--color);
                    width:17px;
                    height:17px;
                    border-radius: 50%;
                    top: 50%;
                    left: 0;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .secondary {
            li {
                position: relative;
                font-size:16px;
                line-height:19px;
                padding-left: 10px;
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
                &:before {
                    content:"";
                    position:absolute;
                    background:white;
                    width:5px;
                    height: 5px;
                    border-radius: 50%;
                    top: 50%;
                    left: 0;
                    transform: translate(-50%, -50%);
                }
            }
            &-holder {
                padding: 20px 0;
            }
        }
        .flex {
            margin-top: 15px;
        }
    }
}

@include screen(900, 1535) {
    .content-block-three {
        padding:0;
        padding-top: 5vh;
        .top {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size:55px;
                font-weight:300;
            }
        }

        h3 {
            font-size:24px;
            line-height:30px;
            font-weight:300;
        }

        p {
            font-size:16px;
            line-height:19px;
        }

        .h {
            &-2 {
                padding-left:12.5vw;
            }
        }

        .top {
            padding-top:7.5vh;
        }
        .flex {
            display:flex;
            padding: 5vh 0;
            column-gap: 5vw;
            justify-content: space-between;
        }
        .left {
            padding-top:15px;
        }
        .right {
            // flex:0 0 900px;
            // max-width: 900px;
        }
        .primary {
            li {
                position: relative;
                font-size:24px;
                line-height:30px;
                font-weight:300;
                padding-left: 25px;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                &:before {
                    content:"";
                    position:absolute;
                    background:var(--color);
                    width:13px;
                    height:13px;
                    border-radius: 50%;
                    top: 50%;
                    left: 0;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .secondary {
            li {
                position: relative;
                font-size:16px;
                line-height:19px;
                padding-left: 10px;
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
                &:before {
                    content:"";
                    position:absolute;
                    background:white;
                    width:5px;
                    height: 5px;
                    border-radius: 50%;
                    top: 50%;
                    left: 0;
                    transform: translate(-50%, -50%);
                }
            }
            &-holder {
                display:flex;
                gap: 7.5vw;
                padding: 20px 0;
            }
        }
    }
}

@include screen(1536) {
    .content-block-three {
        padding:0;
        padding-top: 10vh;
        .top {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size:75px;
                font-weight:300;
            }
        }

        h3 {
            font-size:28px;
            line-height:34px;
            font-weight:300;
        }

        p {
            font-size:16px;
            line-height:19px;
        }

        .h {
            &-2 {
                padding-left:12.5vw;
            }
        }

        .top {
            padding-top:100px;
        }
        .flex {
            display:flex;
            padding: 10vh 0;
            column-gap: 5vw;
            justify-content: space-between;
        }
        .right {
            flex:0 0 900px;
            max-width: 900px;
        }
        .primary {
            li {
                position: relative;
                font-size:28px;
                line-height:34px;
                font-weight:300;
                padding-left: 50px;
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
                &:before {
                    content:"";
                    position:absolute;
                    background:var(--color);
                    width:17px;
                    height:17px;
                    border-radius: 50%;
                    top: 50%;
                    left: 0;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .secondary {
            li {
                position: relative;
                font-size:16px;
                line-height:19px;
                padding-left: 10px;
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
                &:before {
                    content:"";
                    position:absolute;
                    background:white;
                    width:5px;
                    height: 5px;
                    border-radius: 50%;
                    top: 50%;
                    left: 0;
                    transform: translate(-50%, -50%);
                }
            }
            &-holder {
                display:flex;
                gap: 7.5vw;
                padding: 20px 0;
            }
        }
    }
}
@include screen(0,900) {
.secondary + .secondary { margin-top:5px; }
}
