{% extends "block-base.twig" %}

{% block content %}
<section class="content-block-three {{block.className}}" style="--dot-color:{{fields.color}}" {{blockSection(block)}}>
    <div class="container-lg">
        <div class="top">
        <{{fields.primary_content.heading.heading_options.type}}>
        {% for line in fields.primary_content.heading.lines %}
            <div class="h-{{loop.index}}">{{line.line}}</div>
        {% endfor %}
        </{{fields.primary_content.heading.heading_options.type}}>
        </div>
    </div>
    <div class="container-lg flex">
        <div class="left">
            <ul class="rl primary">
            {% for item in fields.primary_list.list_items %}
                <li style="--color:{{item.color}}">{{item.text}}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="right">
            <div class="inner">
                {{fields.primary_content.content}}
                <div class="secondary-holder">
                {% for list in fields.secondary_list.lists %}
                    <ul class="rl secondary">
                    {% for item in list.list_items %}
                        <li style="--color:#ffffff">{{item.text}}</li>
                    {% endfor %}
                    </ul>
                {% endfor %}
                </div>
                {{fields.primary_content.secondary_content}}
            </div>
        </div>
    </div>
</section>
{% endblock %}
