.content-block-two {
  padding: 35px;
  background: #1D1D1B;
}
.content-block-two > * {
  color: white;
}
.content-block-two h1, .content-block-two h2, .content-block-two h3, .content-block-two h4, .content-block-two h5, .content-block-two h6 {
  font-weight: 300;
  margin: 0;
  line-height: 1;
}
.content-block-two em {
  color: var(--dot-color);
}
.content-block-two p {
  font-weight: 400;
}
.content-block-two img {
  width: 100%;
  height: auto;
  max-width: 48.5%;
}
.content-block-two.careers h1 {
  font-size: 55px;
}
@media only screen and (max-width: 899px) {
  .content-block-two .top {
    margin-bottom: 25px;
  }
  .content-block-two .right {
    display: flex;
    gap: 5px;
  }
  .content-block-two img {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1535px) {
  .content-block-two {
    padding: 0;
    padding-top: 5vh;
  }
  .content-block-two .top h1, .content-block-two .top h2, .content-block-two .top h3, .content-block-two .top h4, .content-block-two .top h5, .content-block-two .top h6 {
    font-size: 50px;
    font-weight: 300;
  }
  .content-block-two h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
  }
  .content-block-two p {
    font-size: 16px;
    line-height: 19px;
  }
  .content-block-two .h-1 {
    padding-left: 3.5vw;
  }
  .content-block-two .h-2 {
    padding-left: 12.5vw;
  }
  .content-block-two .top {
    padding-top: 7.5vh;
  }
  .content-block-two .container-full {
    display: flex;
    padding-top: 5vh;
    column-gap: 50px;
    align-items: center;
  }
  .content-block-two .container-full .left {
    flex-grow: 1;
    max-width: 55vw;
    padding-top: 15px;
  }
  .content-block-two .container-full .left .inner {
    max-width: 574px;
    margin-left: auto;
    padding-top: 5vh;
  }
  .content-block-two .container-full .right {
    flex: 0 0 45vw;
    max-width: 45vw;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .content-block-two .container-full .right img {
    flex: 0 0 48%;
    max-width: 48%;
    height: 100%;
    width: auto;
  }
  .content-block-two .container-full .right img:nth-child(1) {
    margin-bottom: -50px;
  }
  .content-block-two .container-full .right img:nth-child(2) {
    margin-top: -50px;
  }
}
@media only screen and (min-width: 1536px) {
  .content-block-two {
    padding: 0;
    padding-top: 10vh;
  }
  .content-block-two .top h1, .content-block-two .top h2, .content-block-two .top h3, .content-block-two .top h4, .content-block-two .top h5, .content-block-two .top h6 {
    font-size: 75px;
    font-weight: 300;
  }
  .content-block-two h3 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 300;
  }
  .content-block-two p {
    font-size: 16px;
    line-height: 19px;
  }
  .content-block-two .h-1 {
    padding-left: 3.5vw;
  }
  .content-block-two .h-2 {
    padding-left: 12.5vw;
  }
  .content-block-two .top {
    padding-top: 100px;
  }
  .content-block-two .container-full {
    display: flex;
    padding-top: 125px;
    column-gap: 100px;
    align-items: center;
  }
  .content-block-two .container-full .left {
    flex-grow: 1;
    max-width: 55vw;
  }
  .content-block-two .container-full .left .inner {
    max-width: 574px;
    margin-left: auto;
    padding-top: 5vh;
  }
  .content-block-two .container-full .right {
    flex: 0 0 45vw;
    max-width: 45vw;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .content-block-two .container-full .right img:nth-child(1) {
    margin-bottom: -50px;
  }
  .content-block-two .container-full .right img:nth-child(2) {
    margin-top: -50px;
  }
}
