.content-block-seven {
    padding:35px;
    background:#1D1D1B;
    & > * {
        color:white;
    }
    h1{
        font-weight:300;
        margin: 0;
        line-height:1;
        @include screen(900) {
            line-height:1.2;
        }
    }
    .h {
        &-1 {
            font-size: 44px;
            @include screen(900) {
                font-size: 54px;
            }
            @include screen(1366) {
                font-size: 65px;
            }
        }
        &-2 {
            font-size: 35px;
            padding-left:5.5vw;
            @include screen(900) {
                font-size: 45px;
            }
            @include screen(1366) {
                font-size: 55px;
            }
        }
    }
    p {
        font-weight:300;
        line-height:1.2;
        font-size:18px;
        @include screen(900) {
            font-size:20px;
        }
        @include screen(1024) {
            font-size:20px;
        }
        @include screen(1280) {
            font-size:24px;
        }
        @include screen(1366) {
            font-size:25px;
        }
        @include screen(1536) {
            font-size:26px;
        }
        @include screen(1920) {
            font-size:28px;
        }
    }
    a {
        color:white;
        font-weight: 600;
    }
    video {
        width: 100%;
        height: auto;
    }
    .container-lg {
        @include screen(900) {
            max-width: 95%;
        }
        @include screen(1280) {
            max-width: 95%;
        }
        @include screen(1366) {
            max-width: 84%;
        }
        @include screen(1536) {
            max-width: 83%;
        }
        @include screen(1537) {
            max-width: 76%;
        }
        @include screen(1920) {
            max-width: 70%;
        }
    }
    .left {
        .inner {
            @include screen(900,1280) {
                padding-left:35px;
            }
        }
    }
}

@include screen(0,899) {
    .content-block-seven {
        .top {
            margin-bottom: 25px;
        }
        .right {
            display:flex;
            gap:5px;
        }
        img {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}

@include screen(900, 1535) {
    .content-block-seven{
        padding:0;
        padding-top: 5vh;

        .h {
            &-1 {
            }
            &-2 {
                padding-left:5.5vw;
            }
        }

        .top {
            padding-top:7.5vh;
        }
        .container-full {
            display:flex;
            padding-top: 5vh;
            column-gap: 50px;
            align-items: center;
            .left {
                flex-grow: 1;
                max-width: 55vw;
                padding-top: 15px;
                .inner {
                    max-width: 574px;
                    margin-left: auto;
                    padding-top: 5vh;
                }
            }
            .right {
                flex:0 0 45vw;
                max-width: 45vw;
                display: flex;
                justify-content: space-between;
                gap: 15px;
                img {
                    flex: 0 0 48%;
                    max-width: 48%;
                    height: 100%;
                    width: auto;
                    &:nth-child(1) {
                        margin-bottom: -50px;
                    }
                    &:nth-child(2) {
                        margin-top: -50px;
                    }
                }
            }
        }
    }
}

@include screen(1536) {
    .content-block-seven{
        padding:0;
        padding-top: 5vh;
        .top {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size:75px;
                font-weight:300;
            }
        }

        h3 {
            font-size:28px;
            line-height:34px;
            font-weight:300;
        }
        .h {
            &-1 {
            }
            &-2 {
                padding-left:5.5vw;
            }
        }
        .container-full {
            display:flex;
            padding: 65px 0;
            column-gap: 100px;
            align-items: center;
            .left {
                flex-grow: 1;
                max-width: 55vw;
                .inner {
                    max-width: 574px;
                    margin-left: auto;
                    padding-top: 5vh;
                }
            }
            .right {
                flex:0 0 45vw;
                max-width: 45vw;
                display: flex;
                justify-content: space-between;
                gap: 15px;
                img {
                    &:nth-child(1) {
                        margin-bottom: -50px;
                    }
                    &:nth-child(2) {
                        margin-top: -50px;
                    }
                }
            }
        }
    }
}