{% extends "block-base.twig" %}

{% block content %}
<section class="content-block-seven {{block.className}}" style="--dot-color:{{fields.primary_content.color}}" {{blockSection(block)}}>
    <div class="container-lg">
        <div class="top">
        <{{fields.primary_content.heading.heading_options.type}}>
        {% for line in fields.primary_content.heading.lines %}
            <div class="h-{{loop.index}}">{{line.line}}</div>
        {% endfor %}
        </{{fields.primary_content.heading.heading_options.type}}>
        </div>
    </div>
    <div class="container-full">
        <div class="left">
            <div class="inner">
                {{fields.primary_content.content}}
            </div>
        </div>
        <div class="right">
            <video muted= loop playsinline autoplay>
                <source src="{{fields.content.video_url}}" type="video/mp4">
                Your browser does not support HTML video.
                </video>
        </div>
    </div>
</section>
{% endblock %}
