@use 'theme/mixins' as *;
.has-text-align-center {
    text-align: center;
}
.has-text-align-right {
    text-align: right;
}
figcaption {
    font-size: 14px;
    margin-left: 15px;
}

.wp-block-image {
    margin-left:0;
    margin-right:0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    img {
        height:auto;
    }
}

a {
    color:#E42313;
}

.wp-block-media-text {
    display:flex;
    @include screen(0,900) {
        flex-wrap: wrap;
    }
    &.alignwide {
        align-items: center;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.has-small-font-size {
    font-size: 90%;
    line-height: 1.2;
}

.has-large-font-size, .has-large-font-size > * {
    font-size: 110% !important;
    line-height: 1.2 !important;
}

.wp-block-quote {
    border-left: 2px solid #1D1D1B;
    padding-left: 2.5vw;
    position:relative;
    margin-left: 56px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1px;
    padding-bottom: 1px;
    &:before {
        content:"";
        background:url('/wp-content/themes/avcom/images/quote.svg');
        position: absolute;
        height: 34px;
        width: 44px;
        left: -60px;
    }
}
.wp-block-media-text__media {
    @include screen(0,1023) {
        width: 100%;
        height: auto;
    }
}