@forward 'blog-utility';
@use 'theme/mixins' as *;

.blog {
    &-hero {
        background:#1D1D1B;
        padding: 50px 25px;
        h1,
        .date {
            color:white;
        }
        h1 {
            margin-top: 0;
            font-weight: 300;
        }
        em {
            color:#E42313;
        }
        .date {
            font-size:16px;
        }
    }
    &-main {
        padding: 30px;
        display: flex;
        flex-direction: column-reverse;
    }
    &-content {
        li,
        p {
            font-size: 16px;
            line-height:19px;
        }
        ul,
        ol {
            li {
                &:not(:first-child) {
                    margin-top:10px;
                }
                &::marker{
                    color:#E42313;
                }
            }
        }
        h1,
        h2,
        h3,
        h4,
        h5 {
            margin-top: 2rem;
            font-weight:300;
        }
    }
    &-image {
        .image {
            text-align: center;
        }
    }
    &-recommended {
        padding: 30px;
        h3 {
            font-weight:300;
        }
        &-title {
            padding-bottom:15px;
        }
    }
    &-posts {
        padding:30px 0;
    }
}

.post {
    &-container {
        max-width: 490px;
        display: block;
        margin: auto;
    }
    &-category {
        color:#1D1D1B;
        padding: 20px 5px;
        .inner {
            display:flex;
            position: relative;
            align-items: center;
            &:before {
                content:"";
                height:16px;
                width:16px;
                border-radius:50%;
                display:block;
                margin-right: 10px;
                background:var(--color);
            }
        }
    }
    &-title {
        padding: 0 5px;
        h4 {
            font-weight:300;
            color:#1D1D1B;
        }
    }
    &-content {
        padding: 0 5px;
        li,
        p {
            color:#1D1D1B;
            font-size: 16px;
            line-height:1.33;
        }
    }
    &-image {
        position:relative;
        overflow:hidden;

        img {
            transition: all 0.3s ease-out;
            width: 100%;
            height: auto;
            display: block;
            @include screen(900) {
                object-fit: cover;
                min-height: 490px;
            }
        }

        &-shape {
            height: 96px;
            width: 96px;
            background: #E42313;
            border-radius: 50%;
            position: absolute;
            bottom: -20px;
            right: -20px;
            &:before {
                font-family:"icomoon";
                content: "\e90e";
                color: white;
                position: absolute;
                font-size: 28px;
                top: 28px;
                left: 28px;
            }
        }
    }
    &-main {
        padding-bottom: 25px;
        border-bottom: 1px solid #939597;
        margin-bottom: 10vh !important;
    }
}

.blog-archive {
    .post-item {
        padding: 10px 25px;
    }
}

@include screen(1024) {
    .blog {
        &-hero {
            h1 {
                font-size: 100px;
            }
        }
        &-main {
            padding: 60px 0;
            flex-direction: row;
        }
        &-content {
            li {
                ul,
                ol {
                    li {
                        &:not(:first-child) {
                            margin-top:15px;
                        }
                    }
                }
            }
        }
        &-image {
            flex: 0 0 23vw;
            max-width: 23vw;
            margin-left:75px;
        }
        &-recommended {
            .container {
                padding:0;
            }
            &-title {
                padding-bottom:35px;
            }
        }
        &-posts {
            padding:60px 0;
        }
        &-archive {
            .post-list {
                display:flex;
                flex-wrap: wrap;
                article {
                    width: fit-content;
                    margin: auto;
                }
                .post-item {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }
    }
    .post {
        &-image {
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
    .single-post {
        .post-list {
            display:flex;
        }
        .post-item {
            flex:0 0 23%;
            max-width: 23%;
            margin:15px;
        }
    }
}

.post {
    &-header {
        border-bottom:1px solid #939597;
        width: 1336px;
        max-width: 80%;
        margin:auto;
        margin-bottom: 7.5vh;
        .container {
            max-width: 1100px;
            margin: auto;
        }
        h1 {
            padding-top:9vh;
            padding-bottom: 20px;
            font-weight: 400;
            text-align: center;
        }
        h4 {
            font-weight: 300;
            text-align: center;
        }
        .bot {
            margin-top:4.5vh;
            margin-bottom:7vh;
            display:flex;
            justify-content: center;
            gap:65px;
        }
    }
    &-category {
        padding:0;
        position:relative;
        &:before {
            content:"";
            height:16px;
            width:16px;
            display:block;
            border-radius: 50%;
            background:var(--color);
            position: absolute;
            left: -25px;
            top: 3px;
        }
    }
    &-main {
        max-width: 800px;
        margin:auto;
        h4 {
            font-size: 24px;
            line-height: 30px;
            font-weight: 600;
        }
    }
}

.single-post {
    background: white;
    @include screen(0,1023) {
        padding: 0 15px;
    }
    .wp-block-media-text {
        gap:34px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        .wp-block-media-text__media {
            @include screen(900) {
                flex: 0 0 40%;
            }
        }
        figure {
            margin:0;
        }
    }
    .wp-block-image {
        figure {
            margin:0;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}

.blog-posts {
    .post {
        &-image {
            margin-bottom: 20px;
        }
        &-category {
            margin-bottom: 20px;
            .inner {
                font-size: 16px;
                margin-left: 5px;
                &:before {
                    margin-top: 2px;
                }
            }
        }
    }
    &.loading {

    }
}

.filter {
    width: 270px;
    height:48px;
    background:#1D1D1B;
    position:relative;
    display:flex;
    align-items: center;
    cursor:pointer;
    border: 1px solid white;
    &-head {
        display:flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &-title {
        font-size: 14px;
        padding: 22px;
        color: white;
    }
    &-body {
        transition:all 0.3s ease-out;
        overflow:hidden;
        position: absolute;
        top: 47px;
        left: -1px;
        right: -1px;
        max-height: 0;
        z-index: 1;
    }
    &-option {
        color: white;
        display: flex;
        gap: 10px;
        cursor:pointer;
        & + .filter-option {
            margin-top:15px;
        }
    }
    &-options {
        background:#1D1D1B;
        border: 3px solid white;
        border-top:1px solid white;
        padding: 15px 20px;
        list-style: none;
        margin: 0;
    }
    &-chevron {
        width: 40px;
        &:before {
            color: white;
            transition:all 0.3s ease-out;
            position: absolute;
            font-family: "icomoon";
            content: "\e911";
            font-size: 20px;
            top: 13px;
            transform: rotate(90deg);
        }
    }
    &-top-title {
        font-size: 16px;
        color:white;
        margin-bottom: 20px;
    }
    &-filters {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap:16px;
        margin-top: 16px;
        min-height: 37px;
    }
    &-filter {
//        position:relative;
        cursor: pointer;
        font-size: 12px;
        color: white;
        border: 1px solid white;
        padding: 10px 15px;
        border-radius: 23px;
        display: flex;
        justify-content: space-between;
        gap: 15px;
        // &:after {
        //     font-family: "icomoon";
        //     content: "\e907";
        //     color:white;
        // }
        &:not(.active) {
            display:none;
        }
        .closer {
            position:relative;
            border: 1px solid white;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            &:after {
                font-family: "icomoon";
                content: "\e907";
                color:white;
                position:absolute;
                left: 50%;
                top: 50%;
                right: 1px;
                transform: translate(-50%,-50%);
                font-size: 6px;
            }
        }
    }
    &-wrapper {
        display: flex;
        gap: 50px;
        align-items: center;
    }
    &-reset {
        font-size: 16px;
        color:white;
        cursor:pointer;
    }
    &:hover{
        .filter-body {
            max-height:175px;
        }
        .filter-chevron {
            &:before {
                transform: rotate(270deg);
            }
        }
    }
    label {
        padding-left: 25px;
        position:relative;
        &:before {
            transition: all 0.3s ease-out;
            content: "";
            height: 13px;
            width: 13px;
            display: block;
            background: white;
            position: absolute;
            left: 1px;
            top: 5px;
            border-radius: 3px;
        }
    }
    input {
        display:none;
        &:checked {
            + label {
                &:before {
                    background: #E42313;
                }
            }
        }
    }
    label,
    input {
        height: 22px;
        cursor:pointer;
    }
}

.blog-posts {
    position: relative;
    .inner {
        opacity:1;
        transition: all 0.2s ease-out;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transition: all 0.4s ease-out;
        margin: auto;
        max-width: 100px;
        min-height: 25vh;
        text-align: center;
        margin-top: 150px;
        opacity:0;
        svg {
            animation: flip 0.75s ease-out infinite;
        }

    }
    &.loading {
        .overlay {
            opacity:1;
        }
        .inner {
            opacity:0;
        }
    }
}

@keyframes flip {
    50% {
      transform: rotate3d(0, 1, 0, 90deg);
    }
  }