@use 'theme/mixins' as *;


.footer {
    background:#1D1D1B;
    padding: 0 35px;
    z-index: 3;
    position: relative;
    padding-bottom: 50px;
    a,
    span {
        color:white;
    }
    &-cta {
        font-size:23px;
        line-height: 17px;
        font-weight:900;
        em {
            color:#E42313;
        }
    }
    .top {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .mid {
        padding: 25px 0;
        font-size: 14px;
        font-weight: 400;
    }
    .bot {
        ul {
            display: flex;
            gap: 25px;
            justify-content: center;
            padding-bottom: 35px;
        }
        a {
            font-size: 14px;
        }
    }
    &-logo {
        padding-bottom: 25px;
    }
    &-cta {
        &-link {
            display: flex;
            align-items: center;
            .wrapper {
                position:relative;
                height:35px;
                width:35px;
                margin-left: 15px;
                svg {
                    height:35px;
                    width:35px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
    .footer-menu-item-holder {
        font-size:14px;
    }
}

@include screen(0,899) {
    .footer {
        .top {
            padding: 55px 0;
        }
        &-menu {
            display:none;
        }
    }
}

@include screen(900) {
    .footer {
        &-wrapper {
            max-width: 78%;
            margin: auto;
        }
        &-menu {
            flex: 0 0 150px;
            &-list {
                display:flex;
                flex-wrap: wrap;
                gap:25px;
            }
        }
        .top {
            padding: 25px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 35px;
        }
        .bot {
            display:none;
        }
    }
}

a:hover {
    text-decoration: none !important;
    color: white !important;
}

.body-container-wrapper {
    min-height: calc(100vh - 447px) !important;
}