@use 'theme/mixins' as *;

.notfound {
    background:#1D1D1B;
    padding: 50px 0;
    h1 {
        color:white;
        font-weight: 900;
        margin: 0;
    }
    .sub {
        color:white;
        text-align: center;
    }
    .holder {
        max-width: 1450px;
        margin-left: auto;
        margin-right: auto;
    }
    .wrapper {
        display:flex;
        flex-wrap: wrap;
        gap:20px;
        justify-content: center;
    }
    .ball {
        transition: all 0.25s ease-out;
        background:white;
        height:225px;
        width:225px;
        border-radius: 50%;
        &:hover {
            transform: scale(1.05);
        }
        &.double {
            background:#E42313;
        }
        &.has-content {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a {
            font-size:23px;
            line-height:17px;
            font-weight:900;
            position: relative;
            display: block;
            padding-left: 50px;
            &:after {
                margin-left:0;
                font-size:50px;
                position: absolute;
                left: -10px;
                transform: rotateZ(180deg);
            }
        }
    }
}
@include screen(0, 899) {
    .notfound {
        h1 {
            font-size: 120px;
            line-height: 0.9;
        }
        .sub {
            font-size: 15px;
            line-height: 12px;
        }
        .ball {
            height:150px;
            width:150px;
            border-radius: 50%;
            &.double {
                border-radius: 113px;
                width:300px;
            }
            a {
                font-size: 20px;
                &:after {
                    font-size: 35px;
                    left: 0;
                }
            }
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(9),
            &:nth-child(10),
            &:nth-child(11),
            &:nth-child(12),
            &:nth-child(15),
            &:nth-child(16),
            &:nth-child(17),
            &:nth-child(18),
            &:nth-child(19),
            &:nth-child(20),
            &:nth-child(21) {
                display:none;
            }
        }
    }
}

@include screen(900) {
    .notfound {
        h1 {
            font-size: 194px;
            line-height: 0.9;
        }
        .sub {
            font-size: 22px;
            line-height:27px;
        }
        .ball {
            height:225px;
            width:225px;
            border-radius: 50%;
            &.double {
                border-radius: 113px;
                width:470px;
            }
        }
    }
}

@include screen(900, 1279) {
    .notfound {
        .wrapper {
            max-width: 900px;
            margin: auto;
        }
        .ball {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(9),
            &:nth-child(10),
            &:nth-child(11),
            &:nth-child(15),
            &:nth-child(16),
            &:nth-child(17),
            &:nth-child(18),
            &:nth-child(19) {
                display:none;
            }
        }
    }
}

@include screen(1280, 1440) {
    .notfound {
        .ball {
            &:nth-child(1),
            &:nth-child(9),
            &:nth-child(15),
            &:nth-child(16) {
                display:none;
            }
        }
    }
}