@import "/home/web/www/html/wp-content/themes/avcom/node_modules/rfs/scss.scss";

$rfs-breakpoint: 768px;

@font-face {
    font-family: "icomoon";
    src: url("/wp-content/themes/avcom/fonts/icomoon.ttf") format("truetype");
    src: url("/wp-content/themes/avcom/fonts/icomoon.woff") format("woff");
    src: url("/wp-content/themes/avcom/fonts/icomoon.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: "Lato";
//     src: url("/wp-content/themes/avcom/fonts/Lato-Thin.ttf") format("truetype");
//     font-weight: 100;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Lato";
//     src: url("/wp-content/themes/avcom/fonts/Lato-Light.ttf") format("truetype");
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Lato";
//     src: url("/wp-content/themes/avcom/fonts/Lato-Regular.ttf") format("truetype");
//     font-weight: 400;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Lato";
//     src: url("/wp-content/themes/avcom/fonts/Lato-SemiBold.ttf") format("truetype");
//     font-weight: 600;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Lato";
//     src: url("/wp-content/themes/avcom/fonts/Lato-Bold.ttf") format("truetype");
//     font-weight: 700;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Lato";
//     src: url("/wp-content/themes/avcom/fonts/Lato-Black.ttf") format("truetype");
//     font-weight: 900;
//     font-display: swap;
// }

// /* lato-100 - latin */
// @font-face {
//     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Lato';
//     font-style: normal;
//     font-weight: 100;
//     src: url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-100.eot'); /* IE9 Compat Modes */
//     src: url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-100.woff') format('woff'), /* Modern Browsers */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-100.svg#Lato') format('svg'); /* Legacy iOS */
//   }
//   /* lato-300 - latin */
//   @font-face {
//     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Lato';
//     font-style: normal;
//     font-weight: 300;
//     src: url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-300.eot'); /* IE9 Compat Modes */
//     src: url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-300.woff') format('woff'), /* Modern Browsers */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
//   }
//   /* lato-regular - latin */
//   @font-face {
//     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Lato';
//     font-style: normal;
//     font-weight: 400;
//     src: url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
//     src: url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
//   }
//   /* lato-700 - latin */
//   @font-face {
//     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Lato';
//     font-style: normal;
//     font-weight: 700;
//     src: url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-700.eot'); /* IE9 Compat Modes */
//     src: url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-700.woff') format('woff'), /* Modern Browsers */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
//   }
//   /* lato-900 - latin */
//   @font-face {
//     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: 'Lato';
//     font-style: normal;
//     font-weight: 900;
//     src: url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-900.eot'); /* IE9 Compat Modes */
//     src: url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-900.woff') format('woff'), /* Modern Browsers */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
//          url('/wp-content/themes/avcom/assets/fonts/lato-v23-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
//   }

html {
    font-family: "Lato";
}

.title {
    @include font-size(4rem);
}

body {
    @include font-size(18px);
    line-height: 1.2;
}

// .home-block {
//     a {
//         @include font-size(75px);
//         line-height: 1;
//     }
// }

.menu-link {
    @include font-size(55px);
}

.menu {
    &-link {
        @include font-size(65px);
    }
    &-item {
        &:after {
            @include font-size(70px);
        }
    }
}

h1 {
    @include font-size(60px);
    @include margin(1.5rem 0);
    margin-top:0;
    font-weight: 700;
}

h2 {
    @include font-size(48px);
    @include margin(1rem 0);
    margin-top:0;
    font-weight: 700;
}

h3 {
    @include font-size(36px);
    @include margin(0.75rem 0);
    margin-top:0;
    font-weight: 700;
}

h4 {
    @include font-size(28px);
    @include margin(0.5rem 0);
    margin-top:0;
    font-weight: 500;
}

h5 {
    @include font-size(23px);
    @include margin(0.25rem 0);
    margin-top:0;
    font-weight: 500;
}

h6 {
    @include font-size(20px);
    @include margin(0.15rem 0);
    margin-top:0;
    font-weight: 500;
}

p {
    @include font-size(18px);
    @include rfs(24px, line-height);
}