/* Error: Undefined mixin.
 *    ,
 * 61 | / @include screen(1200) {
 * 62 | |     .ctab {
 * 63 | |         padding: 15px;
 * 64 | |         padding-top: 25px;
 * 65 | |         padding-bottom: 15px;
 * 66 | |         h6 {
 * 67 | |             font-size: 16px;
 * 68 | |         }
 * 69 | |         img {
 * 70 | |             max-height: 65px;
 * 71 | |             margin-bottom: 10px;
 * 72 | |         }
 * 73 | |         &.active {
 * 74 | |             transform: translate(-10px, -10px);
 * 75 | |         }
 * 76 | |         &s {
 * 77 | |             .container {
 * 78 | |                 background: white;
 * 79 | |                 padding: 0;
 * 80 | |             }
 * 81 | |             &-body {
 * 82 | |                 p {
 * 83 | |                     font-size: 18px;
 * 84 | |                 }
 * 85 | |             }
 * 86 | |         }
 * 87 | |     }
 * 88 | \ }
 *    '
 *   blocks/home-block/style.scss 61:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 61 \2502  \250c  @include screen(1200) {\a 62 \2502  \2502      .ctab {\a 63 \2502  \2502          padding: 15px;\a 64 \2502  \2502          padding-top: 25px;\a 65 \2502  \2502          padding-bottom: 15px;\a 66 \2502  \2502          h6 {\a 67 \2502  \2502              font-size: 16px;\a 68 \2502  \2502          }\a 69 \2502  \2502          img {\a 70 \2502  \2502              max-height: 65px;\a 71 \2502  \2502              margin-bottom: 10px;\a 72 \2502  \2502          }\a 73 \2502  \2502          &.active {\a 74 \2502  \2502              transform: translate(-10px, -10px);\a 75 \2502  \2502          }\a 76 \2502  \2502          &s {\a 77 \2502  \2502              .container {\a 78 \2502  \2502                  background: white;\a 79 \2502  \2502                  padding: 0;\a 80 \2502  \2502              }\a 81 \2502  \2502              &-body {\a 82 \2502  \2502                  p {\a 83 \2502  \2502                      font-size: 18px;\a 84 \2502  \2502                  }\a 85 \2502  \2502              }\a 86 \2502  \2502          }\a 87 \2502  \2502      }\a 88 \2502  \2514  }\a    \2575 \a   blocks/home-block/style.scss 61:1  root stylesheet";
}
