.sliding-text-one {
    padding: 35px;
    z-index: 3;
    position: relative;
    background: white;
    .one,
    .four {
        font-weight:300;
    }
    .five,
    .two {
        font-weight:900;
    }
    .three {
        font-weight: 400;
    }
    .cta {
        text-align: right;
        padding-top: 50px;
    }
}

@include screen(0,899) {
    .sliding-text-one {
        .one,
        .two,
        .four,
        .five {
            font-size: 50px;
            line-height: 58px;
        }
        .wrapper {
            padding: 100px 0;
        }
        .three {
            padding-top: 15px;
            padding-bottom: 100px;
            .inner {
                max-width: 75%;
                display: block;
                margin-left: auto;
            }
        }
    }
}

@include screen(900) {
    .sliding-text-one {
        .one,
        .two,
        .four,
        .five {
            font-size: 100px;
            line-height: 116px;
        }
        .wrapper {
            padding: 100px 0;
        }
        .three {
            font-size:28px;
            line-height:34px;
            .inner {
                max-width: 75%;
                display: block;
                margin-left: auto;
            }
        }
        .second {
            display: flex;
            align-items: center;
            padding-bottom: 100px;
        }
        .third {
            text-align: right;
        }
    }
}

@include screen(900) {
    .sliding-text-one {
        .container {
            max-width: 85%;
        }
    }
}

@include screen(1200) {
    .sliding-text-one {
        .container {
            max-width: 75%;
        }
    }
}

@include screen(1600) {
    .sliding-text-one {
        .container {
            max-width: 55%;
        }
    }
}