{% extends "block-base.twig" %}

{% block content %}
<section class="sliding-text-one {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="first">
                <div class="ltr one"><span class="inner">{{fields.content.one}}</span></div>
            </div>
            <div class="second">
                <div class="two"><span class="inner">{{fields.content.two}}</span></div>
                <div class="three"><span class="inner">{{fields.content.three}}</span></div>
            </div>
            <div class="third">
                <div class="rtl four"><span class="inner">{{fields.content.four}}</span></div>
                <div class="rtl five"><span class="inner">{{fields.content.five}}</span></div>
            </div>
            <div class="cta">
                <a class="btn" href="{{fields.content.link.url}}" target="{{fields.content.link.target}}">{{fields.content.link.title}}</a>
            </div>
        </div>
    </div>
</section>
<script>

</script>
{% endblock %}
