.home-block {
    position:relative;
    background:#1D1D1B;
    min-height:1000px;
    p {
        font-weight:300;
        color:white;
    }
    h1,
    h2 {
        color: white;
        font-weight: 300;
        margin: 0;
    }
    em {
        color:var(--dot);
        font-weight: 400;
    }
    li {
        margin: 10px 0;
        &:hover {
            a {
                font-weight: 300;
                letter-spacing: -1.92px;
                &:after {
                    opacity: 1;
                }
            }
        }
    }
    li a {
        transition: all 0.15s ease-out;
        color: white;
        position: relative;
        font-weight: 900;
        cursor: pointer;
        z-index:2;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 10px;
        // &:hover {
        //     font-weight: 300;
        //     letter-spacing: -1.92px;
        //     &:after {
        //         opacity: 1;
        //     }
        // }
        &:after {
            transition: all 0.25s ease-out;
            content: "";
            position: absolute;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            bottom: 10px;
            right: -15px;
            background: var(--color);
            opacity: 0;
        }
    }
    .top {
        position: relative;
        z-index:2;
        padding: 35px 0;
    }
    .bg {
        position:absolute;
        top:-25px;
        left:-25px;
        z-index:1;
    }
    .inner {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1;
        padding: 35px;
    }
    .btn {
        position:relative;
        &:after {
            @include screen(0, 899) {
                margin-left:0;
                font-size: 20px;
            }
            @include screen(900) {
                position: absolute;
                top: -15px;
            }
        }
    }
    .mid {
        margin-bottom: 25px;
    }
}

@include screen(0, 899) {
    .home-block {
        min-height:100vh;
    }
}

@include screen(0, 599) {
    .home-block {
        h1, h2 {
            font-size: 18px;
            line-height: 22px;
        }
        p {
            margin: 5px 0;
        }
        .top {
            padding: 20px 0;
        }
        li a {
            font-size:45px;
            line-height: 1.1;
        }
    }
}

@include screen(600) {
    .home-block {
        padding: 0 35px;
        .container {
            max-width: 85%;
        }
        h1, h2 {
            font-size: 36px;
            line-height: 44px;
        }
        p {
            font-weight:300;
            color:white;
            font-size: 22px;
            line-height: 30px;
            margin:0;
        }
        li {
            margin: 15px 0;
        }
        li a {
            font-size:calc(1rem + 5vh);
            line-height:1;
            &:hover {
                letter-spacing: -3.6px;
                &:after {
                    opacity: 1;
                }
            }
            &:after {
                height: 15px;
                width: 15px;
                bottom: 12px;
                right: -20px;
            }
        }
        .top {
            padding: 15px 0;
        }
        .inner {
            padding: 0;
        }
        .bg {
            display:none;
        }
    }
}

@include screen(1200) {
    .home-block {
        li a {
            font-size:calc(1rem + 5vh);
        }
        p {
            font-size: 26px;
            line-height: 34px;
        }
        .top {
            padding: 20px 0;
        }
        .container {
            max-width: 75%;
        }
    }
}

@include screen(1400) {
    .home-block {
        li a {
            // font-size: 65px;
            font-size:calc(1rem + 5vh);
        }
        p {
            font-size:28px;
            line-height:36px;
        }
        .container {
            max-width: 65%;
        }
    }
}


@include screen(1600) {
    .home-block {
        li a {
            font-size:calc(1rem + 5vh);
        }
        p {
            font-size:36px;
            line-height:44px;
        }
        .top {
            padding: 25px 0;
        }
        .container {
            max-width: 55%;
        }
    }
}

@include screen(1700) {
    .home-block {
        li a {
            font-size:calc(1rem + 5vh);
        }
    }
}

@include screen(1919) {
    .home-block {
        li a {
            font-size: 90px;
        }
    }
}