{% extends "block-base.twig" %}

{% block content %}
<section class="home-block {{block.className}}" {{blockSection(block)}}>
    <div class="inner">
        <div class="container">
            <div class="top">
                <div class="wysisyg" style="--dot:{{fields.content.color}}">{{fields.content.content}}</div>
            </div>
            <div class="mid">
                <div class="wysisyg"><h2>You may know us as a globally trusted AV partner, but we do so much more. <a class="btn" href="/about-us"></a></h2></div>
            </div>
        </div>
        <div class="container">
            <ul class="rl">
            {% for item in fields.content.items %}
                <li>
                    <a href="{{item.item.url}}" target="{{item.item.target}}" style="--color:{{item.color}}">{{item.item.title}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>
<script>
    document.querySelector('.home-block').style.setProperty('--height', document.querySelector('.home-block .inner').offsetHeight  + 'px');
</script>
{% endblock %}