.cb1 {
    h1 {
        font-size: 65px;
        line-height: 1;
        white-space: break-spaces;
        font-weight:300;
    }
    h2 {
        margin-top: 0;
        font-weight: 300;
    }
    em {
        color:#E42313;
        font-weight: 900;
        font-style: normal;
    }
    .left {
        background:#1D1D1B;
        color:white;
    }
    .right {
        background:white;
    }
    form {
        label {
            font-size: 16px;
        }
        .form-field {
            margin-bottom: 30px;
        }
        .wpcf7-form-control-wrap {
            input,
            textarea {
                border:none;
                outline: none;
                transition:all 0.25s ease-out;
                border-bottom: 1px solid;
                border-color:#939597;
                font-size: 18px;
                padding: 10px 2px;
                width:100%;
                &:focus {
                    border-color:#1D1D1B;
                }
                &::placeholder {
                    font-size: 16px;
                    color: rgba(147, 149, 151, 0.4);
                }
            }
            textarea {
                height: 150px;
            }
        }
    }
    .wpcf7-not-valid-tip {
        margin-top: 10px;
    }
    .form-submit {
        p {
            display:none;
        }
    }
    &-social {
        padding-top: 15vh;
        ul {
            display: flex;
            gap: 25px;
            justify-content: flex-start;
        }
        a {
            position:relative;
            &:before {
                font-size: 32px;
                font-family: "icomoon";
                color:#1D1D1B;
                content:var(--icon);
            }
        }
    }
    &-item {
        &-title {
            font-weight: bold;
        }
        p {
            font-weight: 300;
        }
        &:not(:last-child) {
            margin-bottom: 35px;
        }
    }
}

@include screen(0,899) {
    .cb1 {
        .left {
            padding: 35px;
        }
        .right {
            padding: 35px;
        }
        &-content {
            max-width: 300px;
        }
        &-list {
            &.one {
                display:none;
            }
        }
        &-item {
            p {
                margin:0;
            }
        }
    }
}

@include screen(900) {
    .cb1 {
        h1 {
            font-size: 100px;
        }
        &-wrapper {
            display:flex;
        }
        &-content {
            max-width: 435px;
            padding-bottom: 15vh;
        }
        &-item {
            p {
                margin: 10px 0;
            }
            a {
                color:white;
            }
        }
        &-list {
            max-width: 350px;
        }
        .left {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 10vh 10vw;
        }
        .right {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 10vh 5vw;
        }
        .form {
            &-wrapper {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 1.5vw;
            }
            &-field {
                &:not(.full) {
                    flex: 0 0 45%;
                    max-width: 45%;
                }
                &.full {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
        &-list {
            &.two {
                display:none;
            }
        }
    }
}
