.ninja-cta {
    background:var(--bg);
    order: 5;
    border-top:2px solid var(--primary);
    border-bottom:2px solid var(--primary);
    .ninja-body {
        display:none;
        position: absolute;
        left: 0;
        top: -50px;
        bottom: 0;
        left: -25%;
        z-index: 5;
        height: 300px;
        @include screen(1024) {
            display:block;
        }
        @include screen(1280) {
            left: -18%;
        }
        @include screen(1536) {
            height: 395px;
        }
        img {
            max-height: 300px;
            @include screen(1536) {
                max-height: 395px;
            }
        }
    }
    .inner {
        position: relative;
        max-width: 75%;
        margin: auto;
        padding: 30px;
        @include screen(1024) {
            padding: 20px 0;
            padding-left: 100px;
        }
        @include screen(1280) {
            padding: 50px 0;
            padding-left: 20vw;
            max-width: 940px;
        }
        @include screen(1536) {
            padding: 60px 0;
            padding-left: 15vw;
        }
        &:before {
            content: "";
            top: 0;
            left: -100%;
            right: 100%;
            bottom: 0;
            position: absolute;
            background: var(--primary);
        }
    }
    .cta {
        margin-top:15px;
    }
    a {
        color:var(--color);
    }
    h2 {
        color:var(--color);
        margin-top: 0;
        @include screen(1024) {
            font-weight: 900;
            font-size: 73px;
            margin-bottom: 0;
            line-height: 1;
        }
        @include screen(1024) {
            font-weight: 900;
            font-size: 60px;
            margin-bottom: 0;
            line-height: 1;
        }
        @include screen(1366) {
            font-size: 65px;
        }
        @include screen(1536) {
            font-size: 73px;
        }
    }
    h3 {
        color:var(--color);
        @include screen(1024) {
            font-weight: 900;
            margin-top: 0;
            font-size: 40px;
            line-height: 1;
        }

        @include screen(1366) {
            font-size: 45px;
        }
        
        @include screen(1536) {
            font-size: 50px;
        }
    }
}