{% extends "block-base.twig" %}

{% block content %}
<div class="ninja-cta" style="--bg:{{fields.background}};--color:{{fields.text_color}};--primary:{{fields.primary_color}};">
    <div class="container">
        <div class="inner">
            <h2>{{fields.first_line}}</h2>
            <h3>{{fields.second_line}}</h3>
            <div class="cta">
                <a class="btn" href="{{fields.button.url}}" target="{{fields.button.target}}" target="">{{fields.button.title}}</a>
            </div>
            <div class="ninja-body">
                <img src="/wp-content/themes/avcom/blocks/ninja-cta/ninja.png">
            </div>
        </div>
        </div>
    </div>
{% endblock %}
