.content-counter {
    padding: 35px;
    position:relative;
    @include screen(1024) {
        padding: 17.5vh 0;
    }
    &:before {
        content:"";
        top:0;
        bottom:0;
        left:0;
        right:0;
        position: absolute;
        background:url('/wp-content/themes/avcom/blocks/content-counter/bg-one.png'), white;
        background-repeat: no-repeat;
        background-position: right;
        z-index: -1;
    }

    h2 {
        font-size: 35px;
        font-weight: 300;
        line-height: 1;
        @include screen(1024) {
            font-size: 78px;
        }
    }

    .top {
        strong {
            font-weight: 900;
        }
        em {
            color: #E42313;
            font-size: 100px;
            line-height: 0px;
        }
    }

    ul {
        margin-top: 6vh;
        @include screen(1024) {
            display: flex;
            gap: 5vw;
        }
    }

    li {
        & + li {
            @include screen(0,1023) {
                margin-top: 50px;
            }
        }
    }

    .container {
        @include screen(1024) {
            max-width: 78%;
            margin: auto;
        }
    }
}

.counter {
    &-sep {
        height:4px;
        width: 52px;
        background:#E42313;
        margin-bottom: 16px;
        margin-top: 12px;
    }
    &-num {
        font-size: 52px;
        font-weight: 300;
    }
    &-label {
        font-size: 22px;
    }
}