{% extends "block-base.twig" %}

{% block content %}
<section class="content-counter {{block.className}}" {{blockSection(block)}}>
    <div class="top">
        <div class="container">{{fields.content.content}}</div>
    </div>
    <div class="bot">
        <div class="container">
            <ul class="rl">
            {% for item in fields.content.items %}
                <li>
                    <div class="counter">
                        <div class="counter-num">{{item.number}}</div>
                        <div class="counter-sep"></div>
                        <div class="counter-label">{{item.label}}</div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>
<script>
const animationDuration = 2000;
const frameDuration = 1000 / 60;
const totalFrames = Math.round( animationDuration / frameDuration );
const easeOutQuad = t => t * ( 2 - t );
    const options = {
    rootMargin: "-20% 0% -25% 0%",
        // roots margin

    threshold: 0,
        //array of thresholds which are points that your element
        //that is being observed is coming in or out of obervation area
    };

const animateCountUp = el => {
  console.log('triggered');
	let frame = 0;
  const formatter = new Intl.NumberFormat('en-IE', {});
	const countTo = parseInt( el.innerHTML, 10 );
	const counter = setInterval( () => {
		frame++;
		const progress = easeOutQuad( frame / totalFrames );
		const currentCount = Math.round( countTo * progress );
		if ( parseInt( el.innerHTML, 10 ) !== currentCount ) {
			el.innerHTML = formatter.format(currentCount);
		}
		if ( frame === totalFrames ) {
			clearInterval( counter );
		}
	}, frameDuration );
};

const runAnimations = () => {
	const countupEls = document.querySelectorAll( '.counter-num' );
	countupEls.forEach( animateCountUp );
};

function onVisible(element, callback) {
  new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if(entry.intersectionRatio > 0) {
        callback(element);
        observer.disconnect();
      }
    });
  }, options).observe(element);
}

//onVisible(document.querySelector(".content-counter"), () => runAnimations());


</script>
{% endblock %}