{% extends "block-base.twig" %}

{% block content %}
{% set social_links = fn('get_field','social_links', 'option') %}
<section class="cb2 {{block.className}}" {{blockSection(block)}}>
    <div class="cb2-wrapper">
        <div class="left">
            <div class="cb2-content">
                {{fields.content.text}}
            </div>
            <div class="cb2-list one">
            {% for item in fields.content.items %}
                <div class="cb2-item">
                    <div class="cb2-item-title">{{item.title}}</div>
                    <div class="cb2-item-content">{{item.inner}}</div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="right">
            <div class="inner">
                <h2>{{fields.cta.title}}</h2>
                <div class="cb2-form-wrapper">
                    [gravityform id="{{fields.cta.form}}"]
                <div class="form-submit">
                    <div class="btn btn-primary" onclick="document.querySelector('.gform_button.button').click();" data-title="Submit">Submit</div>
                </div>
                </div>
                <div class="cb2-social">
                    <ul class="rl">
                    {% for item in social_links.links %}
                        <li>
                            <a href="{{item.url}}" target="_blank" style="--icon:'{{item.type}}';"></a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% if fields.cta.form_data.redirect %}
<script>
document.addEventListener( 'wpcf7mailsent', function( event ) {
  location = '{{fields.cta.form_data.redirect_url}}';
}, false );
</script>
{% endif %}

{% endblock %}