<article class="" id="tease-{{item.id}}">
    <a href="{{item.link}}" class="post-container">
        <div class="post-info">
            <div class="post-image">
                <img src="{{item.thumbnail.src}}" alt="{{item.thumbnail.alt}}"/>
                <div class="post-image-shape">
                    
                </div>
            </div>
            <div class="post-category">
            </div>
            <div class="post-title">
                <h4>{{item.title}}</h4>
            </div>
            <div class="post-content">
                <p class="preview">{{ item.preview.length(15).read_more('') }}</p>
            </div>
        </div>
    </a>
</article>