<article class="" id="tease-{{item.id}}">
{% set category = fn('get_post_primary_category', item.id) %}
    <a href="{{item.link}}" class="post-container">
        <div class="post-info">
            <div class="post-image">
                <div class="post-bg"><img src="{{item.thumbnail.src}}"></div>
                <div class="post-inner">
                    <div class="wrapper">
                        <div class="post-category">
                            <div class="inner" style="--color:{{ fn('get_field', 'category_colour', category.primary_category).color }}";><span>{{category.primary_category.name}}</span></div>
                        </div>
                        <div class="post-title">
                            <h4>{{item.title}}</h4>
                        </div>
                    </div>
                    <div class="post-image-shape"></div>
                </div>
            </div>
        </div>
    </a>
</article>