.content-block-six{
    padding:35px;
    background:#1D1D1B;
    padding-bottom: 75px;
    & > * {
        color:white;
    }
    h2 {
        font-size: 50px;
        font-weight: 700;
        margin: 0;
        line-height:1.2;
    }
    .container {
        @include screen(900) {
            max-width: 65%;
        }
        @include screen(1024) {
            max-width: 100%;
        }
        @include screen(1280) {
            max-width: 95%;
        }
        @include screen(1366) {
            max-width: 84%;
        }
        @include screen(1537) {
            max-width: 72%;
        }
        @include screen(1920) {
            max-width: 64%;
        }
    }
    .inner {
        max-width: 1080px;
        p {
            font-size: 18px;
            line-height: 1.2;
            font-weight: 300;
            @include screen(900) {
                font-size:20px;
            }
            @include screen(1024) {
                font-size:20px;
            }
            @include screen(1280) {
                font-size:24px;
            }
            @include screen(1366) {
                font-size:25px;
            }
            @include screen(1536) {
                font-size:26px;
            }
            @include screen(1920) {
                font-size:28px;
            }
        }
    }
}

@include screen(0,899) {
    .content-block-six {
        .top {
            margin-bottom: 25px;
        }
        .right {
            display:flex;
            gap:5px;
        }
        img {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}