{% extends "block-base.twig" %}

{% block content %}
<section class="content-block-six {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="top">
            <h2>{{fields.content.title}}</h2>
        </div>
    </div>
    <div class="container">
        <div class="left">
            <div class="inner">
                {{fields.content.content}}
            </div>
        </div>
    </div>
</section>
{% endblock %}
