.content-block-one {
    background:#1D1D1B;
    & > * {
        color:white;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        line-height:1;
    }
    em {
        color: var(--dot-color);
    }
    p {
        font-weight:300;
    }
    .video {
        &-wrapper {
            position:relative;
        }
        &-content {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@include screen(0,899) {
    .content-block-one {
        overflow:hidden;
        max-width: 100%;
        h1 {
            font-weight:300;
        }
        .top {
            padding: 35px;
            padding-bottom: 0;
        }
        .mid {
            padding: 0 35px;
        }
        video {
            width: 75%;
            margin-left: auto;
            display: block;
        }
        .video {
            &-content {
                left:25%;
            }
        }
    }
}

@include screen(900, 1279) {
    .content-block-one {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size:80px;
            font-weight:300;
        }
        p {
            font-size: 24px;
            line-height: 30px;
        }
        .h {
            &-2 {
                padding-left:12.5vw;
            }
        }
        .mid {
            padding-top: 25px;
            margin-left: 13vw;
            max-width: 750px;
        }
        .video-content {
            left: 15vw;
        }
        .video-wrapper {
            video {
                max-width: 100%;
                width: 750px;
                margin-left: 13vw;
            }
            p {
                font-size: 50px;
            }
        }
    }
}

@include screen(1280, 1535) {
    .content-block-one {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size:80px;
            font-weight:300;
        }
        p {
            font-size: 24px;
            line-height: 30px;
        }
        .h {
            &-2 {
                padding-left:12.5vw;
            }
        }
        .top {
            padding-top: 5vh;
        }
        .mid {
            padding-top: 25px;
            margin-left: 15vw;
            max-width: 900px;
        }
        .bot {
            padding-top: 25px;
            margin-left: 15vw;
        }
        .video-content {
            left: 75px;
        }
        .video-wrapper {
            video {
                width: 100%;
            }
            p {
                font-size: 65px;
                line-height: 1.4;
                margin: 0;
            }
        }
    }
}

@include screen(1536) {
    .content-block-one {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size:108px;
            font-weight:300;
        }
        p {
            font-size:28px;
            line-height:34px;
        }
        .h {
            &-2 {
                padding-left:12.5vw;
            }
        }
        .top {
            padding-top:100px;
        }
        .mid {
            padding-top: 50px;
            margin-left: 15vw;
            max-width: 900px;
        }
        .bot {
            padding-top: 50px;
            margin-left: 15vw;
        }
        .video {
            &-wrapper {
                p {
                    font-size: 75px;
                    line-height: 1.4;
                    margin: 0;
                }
                video {
                    width: 100%;
                }
            }
            &-content {
                em {
                    font-size: 125px;
                    line-height: 0;
                }
            }
        }
    }
}