{% extends "block-base.twig" %}

{% block content %}
<section class="content-block-one {{block.className}}" style="--dot-color:{{fields.dot_color.color}}" {{blockSection(block)}}>
    <div class="container-lg">
        <div class="top">
        <{{fields.primary_content.heading.heading_options.type}}>
        {% for line in fields.primary_content.heading.lines %}
            <div class="h-{{loop.index}}">{{line.line}}</div>
        {% endfor %}
        </{{fields.primary_content.heading.heading_options.type}}>
        </div>
        <div class="mid">
        {{fields.primary_content.content}}
        </div>
        <div class="bot">
            <div class="video-wrapper">
                <video autoplay muted loop playsinline>
                    <source src="{{fields.video_section.video_source}}" type"video/mp4">
                    Sorry, your browser does not support HTML5 video.
                </video>
                <div class="video-content">
                {% for line in fields.video_section.text_lines %}
                    <div>{{line.line}}</div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<script>

</script>
{% endblock %}
