{% extends "block-base.twig" %}

{% block content %}
{% set footer_options = fn('get_field','footer_options', 'option') %}
<footer id="footer" class="footer {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="footer-wrapper">
        <div class="top">
            <div class="footer-cta">
                <div class="footer-logo">
                    <img src="/wp-content/themes/avcom/blocks/theme-footer/logo.png" alt="" height="67" width="172">
                </div>
                <div class="footer-cta-link">
                    <a href="{{footer_options.cta.url}}" target="{{footer_options.cta.target}}">{{footer_options.cta.title}}<em>.</em></a>
                </div>
            </div>
            <div class="footer-menu">
                <ul class="rl footer-menu-list">
                {% for item in footer_primary_menu.get_items %}
                    <li class="footer-menu-item">
                        <a class="footer-menu-item-holder" href="{{item.url}}" target="{{item.target}}">
                            {{item.title}}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="mid">
            <div class="footer-cp">
                <span>© {{ "now"|date("Y") }} {{footer_options.copyright_text}}</span>
            </div>
        </div>
        <div class="bot">
            <ul class="rl footer-menu-list">
            {% for item in footer_primary_menu.get_items %}
                <li class="footer-menu-item">
                    <a class="footer-menu-item-holder" href="{{item.url}}" target="{{item.target}}">
                        {{item.title}}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</footer>
<section class="sticky-modal">
<div data-modal-target="modal5" class="sticky-modal-toggle">
    <div class="shape">
<svg xmlns="http://www.w3.org/2000/svg" width="32.188" height="32.188" viewBox="0 0 32.188 32.188">
  <g id="Group_415" data-name="Group 415" transform="translate(196.406 -4577.5)">
    <g id="Group_414" data-name="Group 414" transform="translate(-164.219 4577.5) rotate(90)">
      <g id="Icon_feather-arrow-right" data-name="Icon feather-arrow-right" transform="translate(6.25 9.551)">
        <path id="Path_3" data-name="Path 3" d="M0,0H13.086" transform="translate(0 6.543)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
        <path id="Path_4" data-name="Path 4" d="M0,0,6.543,6.543,0,13.086" transform="translate(6.543 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
      </g>
      <g id="Ellipse_4" data-name="Ellipse 4" transform="translate(0)" fill="none" stroke="#fff" stroke-width="1.5">
        <circle cx="16.094" cy="16.094" r="16.094" stroke="none"/>
        <circle cx="16.094" cy="16.094" r="15.344" fill="none"/>
      </g>
    </g>
    <path id="Path_1785" data-name="Path 1785" d="M0,0H14.2" transform="translate(-172.71 4601.438) rotate(180)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
  </g>
</svg>

    </div>
    <div class="text">Download <strong>Future of Events Report</strong> NOW</div>
</div>
<div class="modal" id="modal5">
  <div class="modal-content">
    <span class="modal-close">×</span>
    <div class="acf-innerblocks-container">
        <section class="whitepaper-form-new {{fields.form_columns}}" {{blockSection(block)}}>
            <div class="container">
                <div class="wrapper">
                    <div class="media">
                        <img src="https://aonndpeydo.cloudimg.io/v7/https://avcom.ie/wp-content/uploads/2023/03/The_Future_of_Events_Report_2023-COVER-1.png" alt="" loading="lazy" height="2339" width="1654">
                    </div>
                    <div class="flex">
                        <div class="flex-content">
                            <h2>Experience More: The Future of Events Report 2023</h2>
                            <h5>Complete the form below to download the report!</h5>
                            <hr class="wp-block-separator has-alpha-channel-opacity">
                            <p>The world of corporate events has changed. Event organisers must adapt to offer immersive experiences that engage attendees on a deeper level. Our report provides powerful insights into the future of events, along with strategies that will ensure your audience experiences more.</p>
                        </div>
                        <div class="flex-form">
                        {{ fn('do_shortcode', '[gravityform id="3"]')}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
  </div>
</div>
</section>
<script>
const modalTriggerButtons = document.querySelectorAll("[data-modal-target]");
const modals = document.querySelectorAll(".modal");
const modalCloseButtons = document.querySelectorAll(".modal-close");

modalTriggerButtons.forEach(elem => {
  elem.addEventListener("click", event => toggleModal(event.currentTarget.getAttribute("data-modal-target")));
});

modalCloseButtons.forEach(elem => {
  elem.addEventListener("click", event => toggleModal(event.currentTarget.closest(".modal").id));
});

modals.forEach(elem => {
  elem.addEventListener("click", event => {
    if(event.currentTarget === event.target) toggleModal(event.currentTarget.id);
  });
});

// Close Modal with "Esc"...
document.addEventListener("keydown", event => {
  if(event.keyCode === 27 && document.querySelector(".modal.modal-show")) {
    toggleModal(document.querySelector(".modal.modal-show").id);
  }
});

function toggleModal(modalId) {
  const modal = document.getElementById(modalId);
  if(screen.width > 1024) {
    if(getComputedStyle(modal).display==="flex") { // alternatively: if(modal.classList.contains("modal-show"))
      modal.classList.add("modal-hide");
      setTimeout(() => {
        document.body.style.overflow = "initial";
        modal.classList.remove("modal-show", "modal-hide");
        modal.style.display = "none";      
      }, 200);
    }
    else {
      document.body.style.overflow = "hidden";
      modal.style.display = "flex";
      modal.classList.add("modal-show");
    }
  } else {
    window.location = "https://avcom.ie/the-future-of-events-report-2023/";
  }
}

</script>
{% endblock %}
