{% extends "block-base.twig" %}

{% block content %}
{% set blog_options = fn('get_field','activity_archive_data', 'option') %}
{% set category = "" %}
<link rel="stylesheet" href="/wp-content/themes/avcom/static/blog.css" type="text/css" media="screen" />

<div class="single-post">
	<div class="post-header">
		<div class="container">
			<div class="inner">
				<h1>{{ post.title }}</h1>
				<div class="mid"><h4>{{ post.preview.read_more('') }}</h4></div>
				<div class="bot">
					<div class="post-data"><span class="date">{{ post.date('d.m.Y') }}</span></div>
					<div class="post-category" style="--color:{{ fn('get_field', 'category_colour', category.primary_category).color }};">{{category.primary_category.name}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="post-main container">
		<div class="post-content-wrapper">
			<div class="post-content">
			<InnerBlocks/>
			</div>
		</div>
	</div>
	<div class="post-recommended hide">
		<div class="container">
			<div class="inner">
				<div class="blog-recommended-title">
					<h3>Suggested Articles</h3>
				</div>
				<div class="blog-recommended-posts">
					<ul class="rl post-list">
						{% for item in activities %}
							<li class="post-item">{% include ['post-tease.twig'] %}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


