.content-block-four {
    padding:35px;
    background:white;
    & > * {
        color:#1D1D1B;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        line-height:1;
    }

    em {
        color: var(--dot-color);
    }

    p {
        font-weight:400;
    }
    .primary {
        display:flex;
        gap: 2.5vw;
        .number {
            font-size:37px;
            line-height:45px;
            font-weight:300;
        }
        .label {
            font-size:16px;
            line-height:19px;
            white-space: nowrap;
        }
    }
}

@include screen(0, 899) {
    .content-block-four {
        .primary {
            flex-direction: column;
            align-items: center;
            margin: 25px 0;
        }
    }
}

@include screen(900, 1535) {
    .content-block-four {
        padding: 5vh 0;
        .top {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size:45px;
                font-weight:300;
            }
        }

        h3 {
            font-size:24px;
            line-height:30px;
            font-weight:300;
        }

        p {
            font-size:16px;
            line-height:19px;
        }

        .h {
            &-2 {
                padding-left:12.5vw;
            }
        }

        .flex {
            display:flex;
            padding-top: 2.5vh;
            justify-content: space-evenly;
            align-items: center;
        }
        .right {
            flex: 0 0 600px;
            max-width: 600px;
        }
    }
}

@include screen(1536) {
    .content-block-four {
        padding: 10vh 0;
        .top {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size:60px;
                font-weight:300;
            }
        }

        h3 {
            font-size:28px;
            line-height:34px;
            font-weight:300;
        }

        p {
            font-size:16px;
            line-height:19px;
        }

        .h {
            &-2 {
                padding-left:12.5vw;
            }
        }

        .flex {
            display:flex;
            padding-top: 7.5vh;
            justify-content: space-between;
        }
        .right {
            flex:0 0 900px;
            max-width: 900px;
        }
    }
}