{% extends "block-base.twig" %}

{% block content %}
<section class="content-block-four {{block.className}}" style="--dot-color:{{fields.color}}" {{blockSection(block)}}>
    <div class="container-lg">
        <div class="top">
        <{{fields.primary_content.heading.heading_options.type}}>
        {% for line in fields.primary_content.heading.lines %}
            <div class="h-{{loop.index}}">{{line.line}}</div>
        {% endfor %}
        </{{fields.primary_content.heading.heading_options.type}}>
        </div>
    </div>
    <div class="container flex">
        <div class="left">
            <ul class="rl primary">
            {% for item in fields.primary_list.items %}
                <li>
                    <div class="number">{{item.prefix}}<span class="">{{ fn('number_format',item.number)}}</span></div>
                    <div class="label">{{item.label}}</div>
                    </li>
            {% endfor %}
            </ul>
        </div>
        <div class="right">
            <div class="inner">
                {{fields.primary_content.content}}
            </div>
        </div>
    </div>
</section>
<script>
const animationDuration = 2000;
const frameDuration = 1000 / 60;
const totalFrames = Math.round( animationDuration / frameDuration );
const easeOutQuad = t => t * ( 2 - t );

const animateCountUp = el => {
	let frame = 0;
	const countTo = parseInt( el.innerHTML, 10 );
	const counter = setInterval( () => {
		frame++;
		const progress = easeOutQuad( frame / totalFrames );
		const currentCount = Math.round( countTo * progress );
		if ( parseInt( el.innerHTML, 10 ) !== currentCount ) {
			el.innerHTML = currentCount;
		}
		if ( frame === totalFrames ) {
			clearInterval( counter );
		}
	}, frameDuration );
};

const runAnimations = () => {
	const countupEls = document.querySelectorAll( '.countup' );
	countupEls.forEach( animateCountUp );
};

function onVisible(element, callback) {
  new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if(entry.intersectionRatio > 0) {
        callback(element);
        observer.disconnect();
      }
    });
  }).observe(element);
}

onVisible(document.querySelector(".content-block-four"), () => runAnimations());

</script>
{% endblock %}
