{% extends "block-base.twig" %}

{% block content %}
{% set blog_options = fn('get_field','posts_archive_data', 'option') %}
<link rel="stylesheet" href="/wp-content/themes/avcom/static/blog.css" type="text/css" media="screen" />
<div class="blog-archive blog-container">
    <div class="blog-hero">
        <div class="inner container">
            {{ blog_options.content}}
        </div>
        <div class="container filter-container">
            <div class="filter-top-title">Filter By</div>
            <div class="filter-wrapper">
                <div class="filter">
                    <div class="filter-head">
                        <div class="filter-title">Categories</div>
                        <div class="filter-chevron"></div>
                    </div>
                    <div class="filter-body">
                        <ul class="filter-options">
                            {% for category in categories %}
                            <li class="filter-option">
                                <input name="{{category.slug}}" id="{{category.slug}}" type="checkbox" value="{{category.id}}" class="filter-input"></input>
                                <label for="{{category.slug}}"><small>{{category.name}}</small></label><br>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="filter-reset" onclick="resetFilters()">Reset Filters</div>
            </div>
            <ul class="filter-filters">
                {% for category in categories %}
                <li class="filter-filter" id="filter-button-{{category.id}}" onclick="removeFilter('{{category.slug}}')">{{category.name}}<div class="closer"></div></li>
                {% endfor %}
            </ul>
        </div>
    </div>
	<div class="blog-posts">
		<div class="inner container">
            <ul class="rl post-list">
                {% for item in posts %}
                {% if not item.post_password %}
                    <li class="post-item {% if loop.first %}featured{% endif %}">{% include ['post-tease.twig'] %}</li>
                {% endif %}
                {% endfor %}
            </ul>
		</div>
        <div class="overlay">
            <svg id="Avcom-Glyph-white" xmlns="http://www.w3.org/2000/svg" width="40.1" height="46.4" viewBox="0 0 40.1 46.4">
            <path id="Path_1" data-name="Path 1" d="M45.32,35.2a15.256,15.256,0,0,1-11.981,5.753,15.454,15.454,0,1,1,12.094-25,21.255,21.255,0,0,1,4.867-6.2A23.161,23.161,0,1,0,33.3,48.7a22.955,22.955,0,0,0,16.774-7.257A20.592,20.592,0,0,1,45.32,35.2" transform="translate(-10.2 -2.3)" fill="#000"/>
            <path id="Path_2" data-name="Path 2" d="M65.382,47.714a9.791,9.791,0,1,1-9.81-9.814,9.8,9.8,0,0,1,9.81,9.814" transform="translate(-32.471 -24.514)" fill="#e42313"/>
            </svg>
        </div>
	</div>
</div>
<script>
function refreshFilters() {

    [...document.querySelectorAll('.filter-filter')].forEach(e => {
        e.classList.remove('active');
    });

    let activeFilters = [];

    document.querySelectorAll( '.filter-input' ).forEach(function( e ) {if ( e.checked ) { activeFilters.push(e.value); } });

    if( activeFilters.length > 0 ) {

        activeFilters.forEach(filter => {
            document.querySelector('#filter-button-' + filter).classList.add('active');
        });
    }

    loadPosts( getActiveFilters() );
}

function removeFilter(cat) {
    document.getElementById(cat).checked = false;
    refreshFilters();
}

function resetFilters() {
    [...document.querySelectorAll('.filter-option input')].forEach(e => {
        e.checked = false;
    });
    refreshFilters();
}

function getActiveFilters() {
    let activeFilters = [];

    let allFilters = [];

    document.querySelectorAll( '.filter-input' ).forEach(function( e ) {
        allFilters.push( e.value );
        if ( e.checked ) { activeFilters.push(e.value); }
    });

    if( activeFilters.length < 1 ) {

        return allFilters;

    } else {

        return activeFilters;
    }
}

document.querySelectorAll( '.filter-input' ).forEach(function( e ) {
    e.addEventListener( 'change', ( event ) => {
        refreshFilters();
        loadPosts( getActiveFilters() );
    });
});

document.querySelectorAll( '.filter-option' ).forEach(function( e ) {
    e.addEventListener( 'click', ( event ) => {
        console.log('clicked');
        document.querySelector('.filter-top-title').click();
    });
});

function delay(time) {
  return new Promise(resolve => setTimeout(resolve, time));
}

function loadPosts(categories) {
    document.querySelector('.blog-posts').classList.add('loading');
    
    let url = "{{fn("admin_url", "admin-ajax.php")}}?action=get_posts_ajax";
    
    let body = new FormData();

    body.append('categories', getActiveFilters());

    let headers = { method: "POST", credentials: 'same-origin', body: body };

    fetch(url, headers)
        .then(function (response) {
            return response.text();
        })
        .then(function (data) {
            document.querySelector('.blog-posts .inner').innerHTML = data;
            delay(1000).then(() => document.querySelector('.blog-posts').classList.remove('loading'));
        })
        .catch(function (error) {
            console.error("Error:", error);
        });
}
</script>
{% endblock %}


