.case-study-container {
    display: flex;
    flex-direction: column;
    background:white;
    .related {
        background: #1d1d1b;
        padding-bottom: 50px;
        .top {
            padding: 50px 25px;
            @include screen(1024) {
                padding: 50px 0;
                padding-top:75px;
            }
        }
        h3 {
            color:white;
            font-weight: 400;
            font-size:28px;
        }
    }
    a {
        color:#E42313;
    }
}



.vjs-play-progress.vjs-slider-bar {
    &:before {
        height: 10px !important;
        width: 10px !important;
        border-radius: 0.8em !important;
        top: -2px !important;
        right: -3px !important;
        content: "" !important;
        border:none !important;
    }
    &:after {
        position: absolute;
        font-family: 'icomoon';
        font-size: 19px;
        line-height: 11px;
        content: "\e908";
        top: -3px;
        right: -5px;
    }
}

.vjs-theme-fantasy .vjs-play-progress, .vjs-theme-fantasy .vjs-play-progress:before {
    background-color: #e42313 !important;
}

.vjs-theme-fantasy .vjs-button>.vjs-icon-placeholder:before, .vjs-theme-fantasy .vjs-time-control {
    line-height: 40px !important;
}

.vjs-theme-fantasy .vjs-control-bar {
    height: 40px !important;
    bottom: -1px !important;
}


.vjs-icon-placeholder:before {
    top: -5px !important;
    border:none !important;
    &:hover {
        border:none !important;
    }
}

.vjs-theme-fantasy .vjs-volume-bar {
    margin-top: 18px !important;
}

.vjs-icon-replay:before, .video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before {
    top: -5px !important;
}

.video-js .vjs-picture-in-picture-control .vjs-icon-placeholder:before,
.video-js .vjs-mute-control .vjs-icon-placeholder:before,
.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
    top: 0px !important;
}

.vjs-theme-fantasy {
    --vjs-theme-fantasy--primary:rgb(228, 35, 19) !important;
}

.vjs-theme-fantasy .vjs-big-play-button {
    width: 70px;
    height: 70px;
    background: none;
    line-height: 70px;
    font-size: 80px;
    border: none;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
    color: var(--vjs-theme-fantasy--primary);
}