.case-study-container {
    display: flex;
    flex-direction: column;
    .hero {
        padding: 25px;
        order:2;
        @include screen(1024) {
            order:1;
        }
        .video {
            position:relative;
            @include screen(1024) {
                margin: 0 -100px;
            }
            img {
                width: 100%;
                height: auto;
                display:block;
            }
        }
    }
    .title {
        padding: 40px 40px 0;
        order:1;
        @include screen(1024) {
            padding: 10px 40px 60px;
            order:2;
        }
        * {
            color:white;
        }
        h1 {
            font-weight: 300;
            font-size: 35px;
            margin-top: 0;
            @include screen(1024) {
                font-size: 75px;
                margin-bottom: 0;
            }
        }
        h3 {
            font-weight: 300;
            font-size: 20px;
            @include screen(1024) {
                font-size: 30px;
                line-height: 45px;
            }
        }
    }
    .info {
        order:3;
        background: white;
        padding: 25px 35px;
        @include screen(1024) {
            padding: 50px 0px;
        }
        h4 {
            font-weight: 300;
            @include screen(1024) {
                font-size: 40px;
                line-height: 48px;
            }
        }
        .top {
            border-bottom: 1px solid black;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        .bot {
            display: flex;
            gap: 80px;
            @include screen(1024) {
                gap: 7vw;
            }
            span {
                font-size: 16px;
            }
        }
        .wrapper {
            @include screen(1024) {
                display: flex;
                align-items: center;
                gap: 6.7vw;
            }
        }
        .left {
            @include screen(1024) {
                flex: 0 0 500px;
                max-width: 500px;
            }
        }
        .right {
            @include screen(1024) {
                flex-grow: 1;
                max-width: 700px;
            }
            p {
                font-size: 20px;
                line-height: 30px;
                @include screen(1024) {
                    font-size: 24px;
                    line-height: 34px;
                }
            }
        }
        strong {
            display:block;
        }
    }
    .content {
        overflow: hidden;
        background:white;
        order:4;
        .image {
            margin-bottom: 30px;
            @include screen(1024) {
                max-width: 1100px;
                margin: auto;
                margin-bottom: 60px;
            }
            img {
                display:block;
            }
        }
        .flex {
            margin-bottom: 30px;
            padding: 0px 35px;
            @include screen(1024) {
                padding:0;
                max-width: 935px;
                margin: auto;
                margin-bottom: 60px;
            }
            h5 {
                color:#E42313;
                font-weight: 300;
                @include screen(1024) {
                    font-size: 30px;
                    line-height: 30px;
                }
            }
            ul {
                padding-left: 20px;
            }
            li + li {
                margin-top:10px;
            }
            p,
            li {
                @include screen(1024) {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
    }
    .slider {
        margin: 50px 0;
        position:relative;
        padding: 0px 15px;
        @include screen(1024) {
            padding: 0px;
        }
        &-wrapper {
            @include screen(1024) {
                margin-right: -25vw;
            }
        }
        &:before {
            content:"";
            position:absolute;
            display:block;
            background:#E42313;
            height:620px;
            width:620px;
            border-radius: 50%;
            left: -130vw;
            top: 47%;
            transform: translate(0, -50%);
            @include screen(1024) {
                top: 50%;
                left: -25vw;
            }
        }
        .slide {
            img {
                height: 397px;
                width: auto;
            }
        }
        .controls {
            display: flex;
            gap: 20px;
            &-container {
                display: flex;
                justify-content: space-between;
                margin: auto;
                margin-top: 10px;
                flex-direction: column;
                gap:15px;
                align-items: flex-end;
                @include screen(1024) {
                    max-width: 80%;
                    gap:0;
                    flex-direction: row;
                    align-items: center;
                }
            }
            .control {
                &:before {
                    cursor:pointer;
                    font-family: "icomoon";
                    font-size: 25px;
                    @include screen(1280) {
                        font-size: 30px;
                    }
                    @include screen(1366) {
                        font-size: 38px;
                    }
                }
                &.prev {
                    &:before {
                        content: "\e90d";
                        transform: translate(-50%,-50%);
                        left: -25px;
                    }
                }
                &.next {
                    &:before {
                        content: "\e90c";
                        right: 0;
                        transform: translate(-50%,-50%) rotate(180deg);
                        right: -30px;
                    }
                }
    
            }
        }
        .nav {
            &-items {
                display:flex;
                align-items: center;
                gap:10px;
            }
            &-item {
                cursor:pointer;
                transition:all 0.3s ease-out;
                height:12px;
                width:12px;
                border-radius: 50%;
                background:#939597;
                @include screen(1024) {
                    height:16px;
                    width:16px;
                }
                &.tns-nav-active {
                    background:#E42313;
                }
            }
        }
    }
    .ninja {
        background:white;
        order: 5;
        border-top:2px solid #F4A100;
        border-bottom:2px solid #F4A100;
        &-body {
            position: absolute;
            left: 0;
            top: -50px;
            bottom: 0;
            left: -18%;
            height: 395px;
            z-index: 5;
            img {
                max-height: 395px;
            }
        }
        .inner {
            position:relative;
            max-width: 940px;
            margin: auto;
            @include screen(1024) {
                padding: 50px 0;
                padding-left: 20vw;
            }
            @include screen(1536) {
                padding: 60px 0;
                padding-left: 15vw;
            }
            &:before {
                content: "";
                top: 0;
                left: -100%;
                right: 100%;
                bottom: 0;
                position: absolute;
                background: #F4A100;
            }
        }
        .cta {
            margin-top:10px;
        }
        h2 {
            @include screen(1024) {
                font-weight: 900;
                font-size: 73px;
                margin-bottom: 0;
                line-height: 1;
            }
            @include screen(1024) {
                font-weight: 900;
                font-size: 60px;
                margin-bottom: 0;
                line-height: 1;
            }
            @include screen(1366) {
                font-size: 65px;
            }
            @include screen(1536) {
                font-size: 73px;
            }
        }
        h3 {
            @include screen(1024) {
                font-weight: 900;
                margin-top: 0;
                font-size: 40px;
                line-height: 1;
            }

            @include screen(1366) {
                font-size: 45px;
            }
            
            @include screen(1536) {
                font-size: 50px;
            }
        }
    }
    .related {
        background: #1d1d1b;
        order:6;
        padding-bottom: 50px;
        .top {
            padding: 50px 25px;
            @include screen(1024) {
                padding: 50px 0;
                padding-top:75px;
            }
        }
        h3 {
            color:white;
            font-weight: 400;
            font-size:28px;
        }
    }
    .video {
        video {
            max-width: 100%;
        }
    }
}

.post {
    &-category {
        margin-bottom: 10px;
        .inner {
            width: fit-content;
            font-size: 14px;
            margin-left: 5px;
            padding-left: 25px;
            &:before {
                position: absolute;
                transition: all 0.3s ease-out;
                left: 0;
                top: -1px;
            }
            span {
                color:white;
                z-index: 2;
            }
        }
    }
}

.post-list {
    display:flex;
}
.post-item {
    flex:0 0 23%;
    max-width: 23%;
    margin:15px;
}

.post {
    &-container {
        display: block;
    }
    &-category {
        color:white;
        .inner {
            display:flex;
            position: relative;
            align-items: center;
            &:before {
                content:"";
                height:18px;
                width:18px;
                border-radius:100px;
                display:block;
                margin-right: 10px;
                background:var(--color);
                max-width: 134px;
            }
        }
    }
    &-title {
        padding: 0 5px;
        h4 {
            font-weight:700;
            color:white;
        }
    }
    &-content {
        padding: 0 5px;
        li,
        p {
            color:#1D1D1B;
            font-size: 16px;
            line-height:1.33;
        }
    }
    &-image {
        position:relative;
        overflow:hidden;
        background: var(--bg);
        transition: all 0.3s ease-out;
        background-position: center;
        background-size: 100%;
        display: flex;
        align-items: flex-end;
        padding-top: 100%;
        position: relative;
        &:hover {
            .post-bg {
                transform: scale(1.2);
            }
            .post-category .inner {
                &:before {
                    width: 147%;
                }
            }
        }
        img {
            transition: all 0.3s ease-out;
            width: 100%;
            height: auto;
            display: block;
            @include screen(900) {
                object-fit: cover;
                min-height: 490px;
            }
        }

        &-shape {
            height: 96px;
            width: 96px;
            background: #E42313;
            border-radius: 50%;
            position: absolute;
            bottom: -20px;
            right: -20px;
            &:before {
                font-family:"icomoon";
                content: "\e90e";
                color: white;
                position: absolute;
                font-size: 28px;
                top: 28px;
                left: 28px;
            }
        }
        .wrapper {
            max-width: 82%;
            padding-left: 16px;
            padding-bottom: 16px;
            @include screen(1024) {
                padding-left: 30px;
                padding-bottom: 16px;
            }
        }
    }
    &-main {
        padding-bottom: 25px;
        border-bottom: 1px solid #939597;
        margin-bottom: 10vh !important;
    }
    &-list {
        display:flex;
        flex-wrap: wrap;
    }
    &-item {
        flex: 0 0 100%;
        max-width: 100%;
        @include screen(600) {
            flex: 0 0 50%;
            max-width: 50%;
        }
        @include screen(1024) {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }
    }
    &-inner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: flex-end;
    }
    &-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: all 0.3s ease-out;
    }
}


.vjs-play-progress.vjs-slider-bar {
    &:before {
        height: 10px !important;
        width: 10px !important;
        border-radius: 0.8em !important;
        top: -2px !important;
        right: -3px !important;
        content: "" !important;
        border:none !important;
    }
    &:after {
        position: absolute;
        font-family: 'icomoon';
        font-size: 19px;
        line-height: 11px;
        content: "\e908";
        top: -3px;
        right: -5px;
    }
}

.vjs-theme-fantasy .vjs-play-progress, .vjs-theme-fantasy .vjs-play-progress:before {
    background-color: #e42313 !important;
}

.vjs-theme-fantasy .vjs-button>.vjs-icon-placeholder:before, .vjs-theme-fantasy .vjs-time-control {
    line-height: 40px !important;
}

.vjs-theme-fantasy .vjs-control-bar {
    height: 40px !important;
    bottom: -1px !important;
}

// .video-js {
//     width: 100vw !important;
//     height: 100vh !important;
//     margin: auto;
// }

.vjs-icon-placeholder:before {
    top: -5px !important;
    border:none !important;
    &:hover {
        border:none !important;
    }
}

.vjs-theme-fantasy .vjs-volume-bar {
    margin-top: 18px !important;
}

.vjs-icon-replay:before, .video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before {
    top: -5px !important;
}

.video-js .vjs-picture-in-picture-control .vjs-icon-placeholder:before,
.video-js .vjs-mute-control .vjs-icon-placeholder:before,
.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
    top: 0px !important;
}

.vjs-theme-fantasy {
    --vjs-theme-fantasy--primary:rgb(228, 35, 19) !important;
}
.vjs-theme-fantasy .vjs-big-play-button {
    width: 70px;
    height: 70px;
    background: none;
    line-height: 70px;
    font-size: 80px;
    border: none;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
    color: var(--vjs-theme-fantasy--primary);
}