{% extends "block-base.twig" %}

{% block content %}
<link rel="preload" href="https://vjs.zencdn.net/7.20.3/video-js.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="https://unpkg.com/@videojs/themes@1/dist/fantasy/index.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<script>
    window.HELP_IMPROVE_VIDEOJS = false;
</script>
<script src="https://vjs.zencdn.net/7.20.3/video.min.js" defer></script>
<div class="case-study-container">
    <div class="hero">
        <div class="container">
            <div class="video">
                <video id="primary-player" class="video-js vjs-theme-fantasy vjs-fluid" controls>
                    <source src="{{fields.video.video_url}}" type="video/mp4">
                        Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
    <div class="title">
        <div class="container">
            <h1>{{fields.video.title}}</h1>
            <h3>{{fields.video.subtitle}}</h3>
        </div>
    </div>
    <div class="info">
        <div class="container">
            <div class="wrapper">
                <div class="left">
                    <div class="top">
                        <h4>{{fields.info.title}}</h4>
                    </div>
                    <div class="bot">
                        <div>
                            <strong>Date</strong>
                            <span>{{fields.info.date}}</span>
                        </div>
                        <div>
                            <strong>Location</strong>
                            <span>{{fields.info.location}}</span>
                        </div>
                    </div>
                </div>
                <div class="right">{{fields.info.content}}</div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="image">
                {{imageElement(fields.content_one.image)}}
            </div>
        </div>
        <div class="container">
            <div class="flex">{{fields.content_one.content}}</div>
            <div class="flex hide-mobile hide-desktop">
                <h5>Value Delivered</h5>
                <p>Attracting 500+ travel professionals from 40+ countries, this was one of the largest global corporate events to ever take place in Ireland. AVCOM provided the following multi-service offering to produce and capture a world-class event experience:</p>
                <ul>
                    <li><strong>Creative Production Services</strong> across multiple iconic Dublin locations & venues</li>
                    <li><strong>Complete Audio Visual Services</strong> for the entire event</li>
                    <li><strong>Bespoke Lighting Design</strong> creating a unique experience in Dublin’s Christchurch Cathedral</li>
                    <li><strong>Extensive stakeholder management</strong> both in Ireland, Europe and USA.</li>
                    <li><strong>Event Video Production</strong> (70 hours of content filmed with 5 production crews)</li>
                    <li><strong>Multiple Overnight Video Editing</strong> of 70 hours of content to 5 hours of engaging content to showcase at Digital Day</li>
                    <li><strong>Capture of aerial / drone</strong> footage of Dublin</li>
                    <li><strong>Content editing</strong> and formatting for post-event marketing and social media</li>
                    <li><strong>Design, technical production and broadcast</strong> of the Site Global Digital Day from AVCOM’s custom TV Broadcast studio at Croke Park</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="slider">
                <div class="slider-wrapper">
                    <div class="slides">
                    {% for item in fields.slider.slides %}
                        <div class="slide">
                            <img src="{{item.slide.url}}" >
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="controls-container">
                    <div class="slider-nav">
                        <div class="nav-items">
                        {% for item in fields.slider.slides %}
                            <div class="nav-item"></div>
                        {% endfor %}                            
                        </div>
                    </div>
                    <div class="controls">
                        <div class="control prev"></div>
                        <div class="control next"></div>
                    </div>
                </div>
            </div>
        <div class="container">
            <div class="flex">{{fields.content_two.content}}</div>
        </div>
    </div>
    <div class="ninja hide-mobile">
        <div class="container">
            <div class="inner">
                <h2>How can we</h2>
                <h3>help you experience more?</h3>
                <div class="cta">
                    <a class="btn" href="#" target="">Work with AVCOM</a>
                </div>
                <div class="ninja-body">
                    <img src="/wp-content/themes/avcom/blocks/single-case-study/ninja.png">
                </div>
            </div>
        </div>
    </div>
    <div class="related">
        <div class="container">
            <div class="top">
                <h3>You might also like</h3>
            </div>
            <div class="wrapper">
                <ul class="rl post-list">
                    {% for item in objects %}
                        <li class="post-item">{% include ['post-tease-new.twig'] %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        videojs('primary-player', {
            controlBar: {
                fullscreenToggle: true
            },
            userActions: {
                doubleClick: false
            }
        });
    });
</script>
<script>
  var slider = tns({
    container: '.slider .slides',
    controlsContainer: '.slider .controls',
    navContainer: '.slider .slider-nav .nav-items',
    items: 1,
    loop:true,
    autoplay: false,
    nav: true,
    navPosition:'bottom',
    autoplayButtonOutput: false,
    mouseDrag:true,
    autoWidth:true,
    gutter:16

  });
</script>
<script src="https://vjs.zencdn.net/7.20.3/video.min.js" defer></script>
{% endblock %}
