@import "mixins.scss";

.case-study-image {
    .content {
        overflow: hidden;
        background:white;
        order:4;
        .image {
            margin-bottom: 30px;
            @include screen(1024) {
                max-width: 1100px;
                margin: auto;
                margin-bottom: 60px;
            }
            img {
                display:block;
                height: auto;
            }
        }
    }
}