{% extends "block-base.twig" %}

{% block content %}
<section class="case-study-image">
    <div class="content">
        <div class="container">
            <div class="image">
                {{imageElement(fields.content.image)}}
            </div>
        </div>
    </div>
</section>
{% endblock %}
