@import "mixins.scss";

.case-study-related {
    .related {
        background: #1d1d1b;
        order:6;
        padding-bottom: 50px;
        .top {
            padding: 50px 25px;
            @include screen(1024) {
                padding: 50px 0;
                padding-top:75px;
            }
        }
        h3 {
            color:white;
            font-weight: 400;
            font-size:28px;
        }
    }
}