@import "mixins.scss";

.bio-slider {
    padding: 35px 0;
    background:white;
    .top {
        padding: 0 35px;
        @include screen(1024) {
            padding: 0;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 300;
        }
    }
}

cards {
    display:block;
}

card {
    width: 100%;
    aspect-ratio: 1;
    height:330px;
    width:330px;
    display:block;
    inner {
        display:flex;
        align-items: center;
        justify-content: center;
        position:relative;
        height:330px;
        width:330px;
        overflow: hidden;
        flex-direction: column;
    }

    img,
    overlay {
        position: absolute;
        transition:all 0.3s ease-in-out;
    }

    name,
    position {
        display:block;
        line-height: 1.2;
    }

    img {
        filter: grayscale(100%);
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    overlay {
        z-index: 2;
        background: var(--color);
        opacity: 0.8;
        border-radius: 50%;
        height: 1%;
        width: 1%;
        top: -5px;
        right: -5px;
    }

    div {
        text-align: center;
        transition:all 0.4s ease-in-out;
        opacity:0;
        display:block;
        color:white;
        z-index: 3;
        user-select: none;
    }

    name {
        font-weight: 700;
        font-size: var(--name-size);
    }
    position {
        font-size: var(--title-size);
    }

    &:hover {
        cursor:pointer;
        overlay {
            top: -100px;
            right: -100px;
            height: 155%;
            width: 155%;
        }
        img {
            filter: grayscale(0%);
        }
        div {
            opacity:1;
        }
    }
    &.normal {
        name {
            font-size: 37px;
        }
    
        position {
            font-size: 25px;
        }
    }
    &.small {
        height:260px;
        width:261px;
        inner {
            height:260px;
            width:261px;
        }
        &:hover {
            overlay {
                top: -75px;
                right: -75px;
            }
        }
    }
    &.large {
        height:434px;
        width:435px;
        inner {
            height:434px;
            width:435px;
        }
        &:hover {
            overlay {
                top: -125px;
                right: -125px;
                height: 170%;
                width: 170%;
            }
        }
    }
}

.slider {
    margin: 50px 0;
    position:relative;
    padding: 0px 15px;
    @include screen(1024) {
        padding: 0px;
    }
    card {
        &:hover {
            cursor:grab !important;
        }
    }
    .slide {
        img {
            height: 397px;
            width: auto;
        }
    }
    .controls {
        display: flex;
        gap: 20px;
        &-container {
            display: flex;
            justify-content: space-between;
            margin: auto;
            margin-top: 10px;
            flex-direction: column;
            gap:15px;
            flex-direction: row;
            align-items: center;
        }
        .control {
            &:before {
                cursor:pointer;
                font-family: "icomoon";
                font-size: 25px;
                @include screen(1280) {
                    font-size: 30px;
                }
                @include screen(1366) {
                    font-size: 38px;
                }
            }
            &.prev {
                &:before {
                    content: "\e917";
                    transform: translate(-50%,-50%);
                    left: -25px;
                }
            }
            &.next {
                &:before {
                    content: "\e912";
                    right: 0;
                    transform: translate(-50%,-50%) rotate(180deg);
                    right: -30px;
                }
            }

        }
    }
    .nav {
        &-items {
            display:flex;
            align-items: center;
            gap:10px;
        }
        &-item {
            cursor:pointer;
            transition:all 0.3s ease-out;
            height:12px;
            width:12px;
            border-radius: 50%;
            background:#939597;
            @include screen(1024) {
                height:16px;
                width:16px;
            }
            &.tns-nav-active {
                background:#E42313;
            }
        }
    }
}
