{% extends "block-base.twig" %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

<section class="bio-slider" id="{{block.id}}" {{blockSection(block)}}>
    <div class="container">
        <div class="top">{{fields.content}}</div>
    </div>
    <div class="container">
            <div class="slider">
                <div class="slider-wrapper">
                    <div class="slides">
                    {% for slide in fields.slider %}
                        <card class="{{fields.size}}">
                            <inner>
                                <img src="{{slide.image.url}}">
                                <overlay style="mix-blend-mode: {{fields.overlay_blend_mode}};--color:rgba({{slide.color.code.red}},{{slide.color.code.green}},{{slide.color.code.blue}},{{slide.color.opacity}});"></overlay>
                                <div>
                                    <name style="--name-size:{{fields.name_font_size}}px;">{{slide.name}}</name>
                                    <position style="--name-size:{{fields.name_font_size}}px;">{{slide.title}}</position>
                                </div>
                            </inner>
                        </card>
                    {% endfor %}
                    </div>
                </div>
                <div class="controls-container">
                    <div class="slider-nav">
                        <div class="nav-items">
                        {% for slide in fields.slider %}
                            <div class="nav-item"></div>
                        {% endfor %}                            
                        </div>
                    </div>
                    <div class="controls">
                        <div class="control prev"></div>
                        <div class="control next"></div>
                    </div>
                </div>
            </div>
    </div>
</section>

<script>
  var slider = tns({
    container: '#{{block.id}} .slider .slides',
    controlsContainer: '#{{block.id}} .slider .controls',
    navContainer: '#{{block.id}} .slider .slider-nav .nav-items',
    loop:true,
    autoplay: false,
    nav: true,
    navPosition:'bottom',
    autoplayButtonOutput: false,
    mouseDrag:true,
    gutter:20,
    autoWidth:true,
    responsive: {
        1024: {
            gutter:0,
        }
    }

  });
</script>
{% endblock %}
