@use "mixins" as *;

.btn {
    font-size:18px;
    color:#1D1D1B;
    &:after {
        content: "\e90b";
        color: #e42313;
        font-family: "icomoon";
        margin-left: 20px;
        font-weight: 400;
        font-size: 40px;
        vertical-align: middle;
        cursor: pointer;
    }
}