@use "mixins" as *;

.header {
    &-logo {
        background:#1D1D1B;
        z-index: 5;
        position: relative;
        &-link {
            img {
                display: block;
            }
        }
        &-wrapper {
            display:flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 0;
        }
    }
    &-toggler {
        display: flex;
        align-items: center;
        .wrapper {
            position:relative;
            height:35px;
            width:35px;
            margin-right: 15px;
            svg {
                height:35px;
                width:35px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transform: rotate(180deg);
            }
        }
        a {
            color:white;
            font-weight: 600;
        }
    }
}

@include screen(0,899) {
    .header {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index:10;
        &-logo {
            padding: 0 35px;
            &-link {
                img {
                    max-height: 46px;
                    max-width: 40px;
                }
            }
            &-text {
                display:none;
            }
        }
        &-wrapper {
            border-top: 1px solid rgba(255, 255, 255, 0.5);
        }
    }
}

@include screen(900) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        &-logo {
            &-wrapper {
                padding-top: 45px;
                padding-bottom: 30px;
                max-width: 78%;
                margin: auto;
            }
            &-link {
                display: flex;
                align-items: center;
                gap: 15px;
                img {
                    max-height: 64px;
                    max-width: 56px;
                }
            }
            &-text {
                color: white;
                font-size: 28px;
                font-weight: 600;
                letter-spacing: -1px;
                em {
                    color:#E42313;
                }
            }
        }
        &-toggler {
            cursor: pointer;
        }
    }
}