@use "mixins" as *;

.header {
    &-logo {
        background:#1D1D1B;
        z-index: 5;
        position: relative;
        &-link {
            img {
                display: block;
            }
        }
        &-wrapper {
            display:flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 0;
        }
    }
    &-toggler {
        cursor: pointer;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            transition: all .4s ease-out;
        }
        &:before {
            position: absolute;
            transition:all 0.4s ease-out;
            content: "\e907";
            font-family: "icomoon";
            color:white;
            font-size: 30px;
            opacity: 0;
        }
    }
}

.menu {
    &-container {
        transition: all 0.3s ease-out;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 71px;
        background: #1D1D1B;
        padding: 35px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid;
    }
    &-inner {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-link {
        color:white;
        font-weight:900;
    }
    &-item {
        overflow: hidden;
        &:after {
            z-index: -1;
            position: relative;
            opacity:0;
            font-weight:900;
            content:attr(data-title);
        }
        &-holder {
            position: absolute;
            top: -100%;
            left: 0;
            right: 0;
            transition: all 0.3s ease-out;
        }
    }
    &-social {
        padding-bottom: 25px;
        ul {
            display: flex;
            gap: 25px;
            justify-content: flex-start;
        }
        li {
            opacity:0;
        }
        a {
            position:relative;
            &:before {
                font-size: 25px;
                font-family: "icomoon";
                color:white;
                content:var(--icon);
            }
        }
    }
}

@include screen(0,899) {
    html {
        &.menu-open {
            overflow: hidden;
        }
        .menu-container {
            transform: translateY(calc(100% + 71px));
        }
    }
    .header {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index:10;
        &-logo {
            padding: 0 35px;
            &-link {
                img {
                    max-height: 46px;
                    max-width: 40px;
                }
            }
            &-text {
                display:none;
            }
        }
        &-wrapper {
            border-top: 1px solid rgba(255, 255, 255, 0.5);
        }
    }
    body {
        padding-bottom: 71px;
    }
}

html {
    &.menu-open {
        .header-toggler {
            svg {
                opacity:0;
            }
            &:before {
                opacity: 1;
            }
        }
    }
}

@include screen(900) {
    html {
        .menu-container {
            transform: translateY(calc(-100% - 71px));
        }
        &.menu-open {
            overflow: hidden;
            .header-toggler {
                svg {
                    opacity:0;
                }
                &:before {
                    opacity: 1;
                }
            }
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
    body {
        padding-top: 139px;
    }
    .menu {
        &-container {
            top: 71px;
            bottom: 0;
            z-index: 4;
        }
        &-inner,
        &-social {
            max-width: 78%;
            width: 100%;
            margin: auto;
        }
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        &-logo {
            &-wrapper {
                padding-top: 45px;
                padding-bottom: 30px;
//                max-width: 78%;
                margin: auto;
            }
            &-link {
                display: flex;
                align-items: center;
                gap: 15px;
                img {
                    max-height: 64px;
                    max-width: 56px;
                }
            }
            &-text {
                color: white;
                font-size: 28px;
                font-weight: 600;
                letter-spacing: -1px;
                em {
                    color:#E42313;
                }
            }
        }
        &-toggler {
            cursor: pointer;
        }
    }
}


.submenu {
    transition: all .3s ease-out;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1d1d1b;
    padding: 35px;
    border-bottom: 1px solid;
    z-index: 10;
    &-inner {
        max-width: 78%;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .toggler {
        cursor:pointer;
        color: white;
        font-weight: bold;
        font-size: 16px;
        border-bottom: 2px solid white;
        width: fit-content;
        padding-bottom: 2px;
        margin-top: 100px;
        margin-left: 50px;
        position: relative;
        &:before {
            font-family: "icomoon";
            content: "\e90b";
            color: #e42313;
            position: absolute;
            font-size: 35px;
            left: -50px;
            top: -10px;
            transform: rotate(180deg);
        }
    }
}

.submenu {
    transform: translateX(100%);
}

.header-logo-wrapper {
    @include screen(900) {
        max-width: 90%;
    }
    @include screen(1536) {
        max-width: 1320px;
    }
}
