@use "mixins" as *;

body {
    margin: 0;
}

@include screen(900) {
    .container-lg {
        max-width: 80%;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: auto;
        margin-right: auto;
    }
}


.hide {
    display: none;
}

.privacy-policy {
    .main {
        max-width: 95%;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: auto;
        margin-right: auto;
    }
}

@include screen(900) {
    .privacy-policy {
        .main {
            max-width: 80%;
            padding-left: 25px;
            padding-right: 25px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .container {
      max-width: 1335px;
      padding-left: 16px;
      padding-right: 16px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .container-m {
      width: 736px;
      max-width: auto;
      padding-left: 16px;
      padding-right: 16px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media only screen and (min-width: 1024px) {
    .container-l {
      width: 992px;
      max-width: auto;
      padding-left: 16px;
      padding-right: 16px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media only screen and (min-width: 1367px) {
    .container-xl {
      width: 1335px;
      max-width: auto;
      padding-left: 16px;
      padding-right: 16px;
      margin-left: auto;
      margin-right: auto;
    }
  }