{% extends "block-base.twig" %}

{% block content %}
<section class="whitepaper-form {{fields.form_columns}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="media">
                {{imageElement(fields.image)}}
            </div>
            <div class="flex">
                <div class="flex-content">
                    {{fields.content}}
                </div>
                <div class="flex-form">
                    [contact-form-7 id="{{fields.form.ID}}" title="{{fields.form.post_title}}"]
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.querySelector('.form-field.consent label').addEventListener('click', function(e) {
        let input = document.querySelector('.form-field.consent input');
        console.log(e);
        if (input.checked) {
            input.click();
            input.checked = false;
            console.log("untick");
            e.srcElement.classList.remove('active');
        } else {
            input.checked = true;
            e.srcElement.classList.add('active');
            console.log("tick");
        }
    });
</script>
{% endblock %}
