{% extends "block-base.twig" %}

{% block content %}
<link rel="stylesheet" href="/wp-content/themes/avcom/static/orphan.min.css" type="text/css" media="screen" />
<div class="notfound" style="">
    <div class="holder" style="">
        <div class="wrapper">

            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>

            <div class="ball"></div>
            <div class="ball double has-content">
                <div class="inner">
                    <h1>404</h1>
                    <div class="sub">Uh oh, something went wrong.</div>
                </div>
            </div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>

            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball has-content">
                <div class="inner">
                    <a href="/" class="btn">Go Back</a>
                </div>
            </div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>

            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
    </div>
</div>
{% endblock %}
