@import "mixins.scss";

.case-study-hero {
    background: #1d1d1b;
    .hero {
        padding: 25px;
        order:2;
        @include screen(1024) {
            order:1;
        }
        .video {
            position:relative;
            @include screen(1024) {
                margin: 0 -100px;
            }
        }
        .video {
            video {
                max-width: 100%;
            }
        }
        .image {
            position:relative;
            @include screen(1024) {
                margin: 0 -100px;
            }
            img {
                width: 100%;
                height: auto;
                display:block;
            }
        }
    }
    .title {
        padding: 40px;
        order:1;
        @include screen(1024) {
            padding: 10px 40px 60px;
            order:2;
        }
        * {
            color:white;
        }
        h1 {
            font-weight: 300;
            font-size: 35px;
            margin-top: 0;
            @include screen(1024) {
                font-size: 75px;
                margin-bottom: 0;
            }
        }
        h3 {
            font-weight: 300;
            font-size: 20px;
            @include screen(1024) {
                font-size: 30px;
                line-height: 45px;
            }
        }
    }
}
