{% extends "block-base.twig" %}

{% block content %}
<link rel="preload" href="https://vjs.zencdn.net/7.20.3/video-js.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="https://unpkg.com/@videojs/themes@1/dist/fantasy/index.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<script>
    window.HELP_IMPROVE_VIDEOJS = false;
</script>
<section class="case-study-hero {{fields.type}}">
    <div class="hero">
        <div class="container">
        {% if fields.type == "video" %}
            <div class="video">
                <video id="primary-player" class="video-js vjs-theme-fantasy vjs-fluid" controls>
                    <source src="{{fields.video_url}}" type="video/mp4">
                        Your browser does not support the video tag.
                </video>
            </div>
        {% else %}
            <div class="image">
                {{imageElement(fields.image)}}
            </div>
        {% endif %}
        </div>
    </div>
    <div class="title">
        <div class="container">
            <h1>{{fields.first_line}}</h1>
            <h3>{{fields.second_line}}</h3>
        </div>
    </div>
</section>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        videojs('primary-player', {
            controlBar: {
                fullscreenToggle: true
            },
            userActions: {
                doubleClick: false
            },
            poster: "{{fields.thumbnail.url}}"
        });
        console.log('loaded');
    });
</script>
<script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
{% endblock %}
