<div class="header-wrapper">
    <div class="header-container">
        <div class="menu-logo">
            <div class="header-logo">
                <div class="header-logo-wrapper">
                    <a class="header-logo-link" href="/" title="Home">
                        {{ imageElement(primary_logo, false, false) }}
                        <div class="header-logo-text">Experience more<em>.</em></div>
                    </a>
                    <div class="d-flex">
                        <div class="header-toggler" onclick="toggleMenu(this);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="10" viewBox="0 0 38 10">
                                <g id="Group_19" data-name="Group 19" transform="translate(-316 -808)">
                                    <circle id="Ellipse_1" data-name="Ellipse 1" cx="5" cy="5" r="5" transform="translate(316 808)" fill="#e42313"/>
                                    <circle id="Ellipse_2" data-name="Ellipse 2" cx="5" cy="5" r="5" transform="translate(330 808)" fill="#e42313"/>
                                    <circle id="Ellipse_3" data-name="Ellipse 3" cx="5" cy="5" r="5" transform="translate(344 808)" fill="#e42313"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-container">{% include "menu.twig" with {'items': header_primary_menu.get_items} %}</div>
        </div>
    </div>
</div>
<style>
body {
    background: #1d1d1b;
}
</style>