{% set social_links = fn('get_field','social_links', 'option') %}

<div class="menu-inner">
    <div class="menu-logo">
        <image src="" alt="" />
    </div>
    <ul class="rl menu-list">
    {% for item in items %}
        <li class="menu-item po-r {% if item.children %}parent{% endif %}" data-title="{{item.title}}">
            <div class="menu-item-holder">
                <a class="menu-link" {% if item.children %}onclick="toggleSubmenu(this);event.stopPropagation();"{% endif %} href="{{item.link}}" target="{{item.target}}" data-text="{{item.title}}">{{item.title}}</a>
            </div>
            {% if item.children %}
            <div class="submenu">
                <div class="submenu-inner">
                    <ul class="rl menu-list">
                    {% for child in item.children %}
                        <li class="menu-item po-r" data-title="{{child.title}}">
                            <div class="menu-item-holder">
                                <a class="menu-link" href="{{child.link}}" target="{{child.target}}" data-text="{{child.title}}">{{child.title}}</a>
                            </div>
                        </li>
                    {% endfor %}
                        <li>
                            <div class="container">
                                <div class="toggler" onclick="toggleSubmenu();">MENU</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
<div class="menu-social">
    <ul class="rl">
    {% for item in social_links.links %}
        <li>
            <a href="{{item.url}}" target="_blank" style="--icon:'{{item.type}}';"></a>
        </li>
    {% endfor %}
    </ul>
</div>
<style>
.submenu {
    transform: translateX(100%);
}
</style>
<script>

function toggleMenu(e) {
    if(window.menuOpen) {

        gsap.to(".menu-container", 0.8, {css:{borderBottomColor: "transparent"}});

        if(screen.width > 899) {
            if(window.subMenuOpen) {
                gsap.to(".menu-container", 0.8, {y: 71, yPercent: -100, onComplete: toggleSubmenu });
            } else {
                gsap.to(".menu-container", 0.8, {y: 71, yPercent: -100});
            }
        } else {
            if(window.subMenuOpen) {
                gsap.to(".menu-container", 1, {y: 71, yPercent: 100, onComplete: toggleSubmenu});
            } else {
                gsap.to(".menu-container", 1, {y: 71, yPercent: 100});
            }
        }

        window.menuOpen = false;

        document.getElementsByTagName('html')[0].classList.remove('menu-open');

    } else {
        if(screen.width > 899) {
            gsap.to(".menu-container", 0.8, {y: window.innerHeight - 71, yPercent: -100, onComplete: showMenuItems });

        } else {
            gsap.to(".menu-container", 1, {y: window.innerHeight - 71, yPercent: -100, onComplete: showMenuItems });
        }
        window.menuOpen = true;
        document.getElementsByTagName('html')[0].classList.add('menu-open');
    }
}

function toggleSubmenu() {
    if(document.querySelector(".submenu").classList.contains("moving")) {

    } else {
        if(window.subMenuOpen) {

            if(screen.width > 899) {
                // Desktop close
                document.querySelector(".submenu").classList.add("moving");
                TweenLite.to(".submenu", 0.5, {xPercent: 100, onComplete: removeClass(".submenu", "moving") });

            } else {
                // Mobile close
                document.querySelector(".submenu").classList.add("moving");
                TweenLite.to(".submenu", 1, {xPercent: 100, onComplete: removeClass(".submenu", "moving") });
            }

            window.subMenuOpen = false;


        } else {

            if(screen.width > 899) {
                // Desktop open
                document.querySelector(".submenu").classList.add("moving");
                TweenLite.to(".submenu", 0.8, {xPercent: -100, onComplete: removeClass(".submenu", "moving") });
            } else {
                // Mobile open
                document.querySelector(".submenu").classList.add("moving");
                TweenLite.to(".submenu", 1, {xPercent: -100, onComplete: removeClass(".submenu", "moving") });
            }
            window.subMenuOpen = true;
        }
    }
}

function removeClass(selector, cssClass) {
    console.log('removing class');
    document.querySelector(selector).classList.remove(cssClass);
}
function showMenuItems() {
  
    for (let i = 0; i <= document.querySelectorAll(".menu-item-holder").length; i++) {
        gsap.to(document.querySelectorAll(".menu-item-holder")[i], 0.3 + i /12, {y:0, yPercent: 100, });
        gsap.to(document.querySelectorAll(".menu-item-holder")[i], 0.3 + i /12, {css:{opacity:1}});
    }

    for (let i = 0; i <= document.querySelectorAll(".menu-social li").length; i++) {
        gsap.to(document.querySelectorAll(".menu-social li")[i], 0.15 + i /2, {css:{opacity:1}});
    }

    gsap.to(".menu-container", 0, {css:{borderColor: "rgba(255,255,255,0.25)"}});
}

function hideMenuItems() {

    document.querySelectorAll(".menu-item-holder").forEach(function(e) {
        e.style.setProperty('transform', '');
    });

    document.querySelectorAll(".menu-social li").forEach(function(e) {
        e.style.opacity = "0";
    });
}

</script>