{% extends "block-base.twig" %}

{% block content %}
<header id="header" class="header {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="header-wrapper">
        <div class="header-container">
            <div class="menu-logo">
                <div class="header-logo">
                    <div class="header-logo-wrapper">
                        <a class="header-logo-link" href="/" title="Home">
                            <img src="/wp-content/themes/avcom/blocks/theme-header/logo.png" alt="" height="65" width="57">
                            <div class="header-logo-text">Experience more<em>.</em></div>
                        </a>
                        <div class="d-flex">
                            <div class="header-toggler" onclick="toggleMenu(this);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="38" height="10" viewBox="0 0 38 10">
                                    <g id="Group_19" data-name="Group 19" transform="translate(-316 -808)">
                                        <circle id="Ellipse_1" data-name="Ellipse 1" cx="5" cy="5" r="5" transform="translate(316 808)" fill="#e42313"/>
                                        <circle id="Ellipse_2" data-name="Ellipse 2" cx="5" cy="5" r="5" transform="translate(330 808)" fill="#e42313"/>
                                        <circle id="Ellipse_3" data-name="Ellipse 3" cx="5" cy="5" r="5" transform="translate(344 808)" fill="#e42313"/>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-container">{% include "menu.twig" with {'items': header_primary_menu.get_items} %}</div>
            </div>
        </div>
    </div>
</header>
<div class="cursor-ball"></div>
<style>
@media only screen and (min-width: 600px) {
	.cursor-ball {
		pointer-events:none;
		background: #E42313;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(-50%, -50%);
		z-index:50;
	}
}
</style>
<script>
const ball = document.querySelector('.cursor-ball');

let mouseX = 0;
let mouseY = 0;
let lastY = 0;

let ballX = 0;
let ballY = 0;

let speed = 0.1;

// Update ball position
function animate() {
	//Determine distance between ball and mouse
	let distX = mouseX - ballX;
	let distY = mouseY - ballY;
	
	// Find position of ball and some distance * speed
	ballX = (ballX - 1.6) + (distX * speed);
	ballY = (ballY - 0.5) + (distY * speed);
	ball.style.left = ballX + "px";
	ball.style.top = ballY + "px";
	
	requestAnimationFrame(animate);
}

animate();
// Move ball with cursor
document.addEventListener("mousemove", (event) => {
	mouseX = event.pageX;
	mouseY = event.pageY;
	lastX = event.pageX;
	lastY = event.pageY;
});

{# document.addEventListener("scroll", (event) => {
	console.log(event);
	mouseX = window.cursorX;
	mouseY = window.cursorY;
}); #}

{# function updateWindowMousePosition(event) {
	console.log("screenX:", event.screenX, "screenY:",event.screenY);
	window.cursorX = event.screenX;
	window.cursorY = event.screenY;
} #}

{# window.addEventListener('scroll', function(e) {
	//mouseY = lastY + document.documentElement.scrollTop;
	if (lastY >= document.body.scrollHeight) {
		
	}
	console.log(document.documentElement.scrollTop);
}); #}

</script>
<style>
body {
    background: #1d1d1b;
}
</style>
{% endblock %}
