@import "mixins.scss";

.case-study-flex {
    .content {
        overflow: hidden;
        background:white;
        .flex {
            margin-bottom: 30px;
            padding: 0px 35px;
            @include screen(1024) {
                padding:0;
                max-width: 935px;
                margin: auto;
                margin-bottom: 60px;
            }
            h5 {
                color:#E42313;
                font-weight: 300;
                @include screen(1024) {
                    font-size: 30px;
                    line-height: 30px;
                }
            }
            ul {
                padding-left: 20px;
            }
            li + li {
                margin-top:10px;
            }
            p,
            li {
                @include screen(1024) {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
    }
}