{% extends "block-base.twig" %}

{% block content %}
<section class="case-study-flex">
    <div class="content">
        <div class="container">
            <div class="flex">
                <InnerBlocks/>
            </div>
        </div>
    </div>
</section>
{% endblock %}
