.cta-block-one{
    padding: 50px 15px;
    background:#1D1D1B;
    & > * {
        color:white;
    }
    .btn {
        color:white;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        line-height:1;
    }
    em {
        color: var(--dot-color);
    }

}

@include screen(0, 899) {
    margin-bottom: 25px;
}

@include screen(900, 1535) {
    .cta-block-one {
        padding: 4vh 0;
        .container-lg {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
        h5 {
            font-size:36px;
            line-height:45px;
        }
        .container {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
        .top {
        }
    }
}

@include screen(1536) {
    .cta-block-one {
        padding: 6vh 0;
        h5 {
            font-size:46px;
            line-height:55px;
        }
        .container {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
        .top {
        }
    }
}