{% extends "block-base.twig" %}

{% block content %}
<section class="cta-block-one {{block.className}}" style="--dot-color:{{fields.color}}" {{blockSection(block)}}>
    <div class="container-lg">
        <div class="left">
            <h5>
            {% for line in fields.primary_content.heading.lines %}
                <div>{{line.line}}</div>
            {% endfor %}
            </h5>
        </div>
        <div class="right">
            <a class="btn" href="{{fields.cta.url}}" target="{{fields.cta.target}}">{{fields.cta.title}}</a>
        </div>
    </div>
</section>
{% endblock %}
