.logo-showcase-one {
    padding: 35px;
    background:white;
    & > * {
        color:#1D1D1B;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        line-height:1;
    }
    em {
        color: var(--dot-color);
    }

    p {
        font-weight:400;
    }
    .bot {
        padding: 50px 0;
        ul {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            row-gap: 20px;
            column-gap: 10px;
        }
    }
}

@include screen(900, 1535) {
    .logo-showcase-one  {
        padding: 5vh 0;
        .container-lg {
            max-width: 90%;
        }
        h3 {
            font-size:28px;
            line-height:34px;
            font-weight:300;
        }
        p {
            font-size:16px;
            line-height:19px;
        }

    }
}


@include screen(1536) {
    .logo-showcase-one  {
        padding: 5vh 0;
        .container-lg {
            max-width: 90%;
        }
        h3 {
            font-size:28px;
            line-height:34px;
            font-weight:300;
        }
        p {
            font-size:16px;
            line-height:19px;
        }

    }
}