{% extends "block-base.twig" %}

{% block content %}
<section class="logo-showcase-one {{block.className}}" {{blockSection(block)}}>
    <div class="container-lg flex">
        <div class="top">
            <div class="inner">
                {{fields.content.text}}
            </div>
        </div>
        <div class="bot">
            <ul class="rl">
            {% for item in fields.content.items %}
                <li>
                {{imageElement(item.image)}}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
