@import "mixins.scss";

.whitepaper-form-new {
    background: white;
    padding: 80px 0;
    @include screen(1024) {
        padding: 80px 0;
    }
    .wrapper {
        @include screen(1024) {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row;
        }
    }
    .flex {
        position:relative;
        flex:0 0 48.5%;
        margin-bottom: 25px;
        padding: 0 40px;
        padding-top: 20px;
        @include screen(1024) {
            padding: 0;
            margin-bottom: 0px;
        }
    }
    .media {
        text-align: center;
        padding: 0 36px;
        flex:0 0 48.5%;
        position: relative;
        @include screen(768) {
            margin: 50px 0;
        }
        @include screen(1024) {
            padding:0;
            margin:0;
        }
        @include screen(1280) {
            max-width: 610px;
        }
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .gfield {
        margin-bottom: 10px;
        p {
            margin:0;
        }
        br {
            display:none;
        }
        label {
            color:#333333;
            font-size: 14px;
            display:block;
            margin-bottom: 5px;
        }
        textarea {
            transition:all 0.3s ease-out;
            border:none;
            border-bottom: 1px solid;
            border-color: #939597;
            min-height: 45px;
            padding-left: 25px;
            width: 100%;
            margin-bottom: 10px;
            outline:none;
            font-size: 16px;
            @include screen(1024) {
                min-height: 55px;
            }
            &:focus {
                border-color: #1D1D1B;
            }
            &::placeholder {
                color: rgba(147, 149, 151, 0.4);
                font-size: 16px;
            }
        }
        input {
            transition:all 0.3s ease-out;
            border:none;
            border-bottom: 1px solid;
            border-color: #939597;
            min-height: 45px;
            width: 100%;
            margin-bottom: 10px;
            outline:none;
            font-size: 16px;
            border-radius: 0px !important;
            @include screen(1024) {
                min-height: 55px;
            }
            &:focus {
                border-color: #1D1D1B;
            }
            &::placeholder {
                color: rgba(147, 149, 151, 0.4);
                font-size: 16px;
            }
        }
        &.consent {
            display: flex;
            margin-bottom: 50px;
            flex: 0 0 100% !important;
            p {
                display: flex;
                align-items: center;
            }
            label {
                margin-left: 15px;
                // padding-left: 15px;
                position: relative;
                font-size: 16px;
                &:before {
                    // content: "";
                    height: 20px;
                    width: 20px;
                    background: white;
                    transition: all 0.3s ease-out;
                    display: block;
                    border: 1px solid black;
                    border-radius: 2px;
                    position: absolute;
                    left: -20px;
                    top: 2px;
                    cursor: pointer;
                }
                &.active {
                    &:before {
                        border-color: white;
                        background: #E42313;
                    }
                }
                a {
                    color:#E42313;
                }
            }
            input {
                min-height: unset;
                &:checked {
                    + label {
                        &:before {
                            content:"";
                            background: #E42313;
                        }
                    }
                }
            }
        }
    }
    .form-submit {
        input {
            background: #f20a22;
            color: white;
            border: none;
            padding: 16px 50px;
            border-radius: 25px;
            font-family: "Lato";
            cursor: pointer;
        }
    }
    &.two-columns {
        .form-wrapper {
            @include screen(768) {
                display: flex;
                flex-wrap: wrap;
                column-gap: 30px;
            }
        }
        .form-field {
            @include screen(768) {
                margin-bottom: 15px;
                flex: 0 0 calc(50% - 15px);
            }
        }
    }
}

.gform {
    &_fields {
        display:flex;
        flex-wrap:wrap;
        gap:16px;
    }
    &_heading {
        display:none;
    }
    &_button {
        background: #f20a22;
        color: white;
        border: none;
        padding: 16px 50px;
        border-radius: 25px;
        font-family: "Lato";
        cursor: pointer;
    }
    &_submission_error {
        font-size: 15px;
        color: #E42313;
        margin: 25px 0;
        border: 2px solid #E42313;
        border-radius: 3px;
        padding: 20px;
        outline: none;
    }
    &_validation_errors {
        &:focus-visible {
            outline: none;
        }
    }
}

.gfield {
    &_validation_message {
        color: #E42313;
        font-size: 14px;
        margin-top: 15px;
        font-weight: 700;
    }
    &_error {
        border: 1px solid #E42313 !important;
        padding: 15px;
    }
    &--width {
        &-half {
            flex:0 0 calc(50% - 8px);
            max-width: calc(50% - 8px);
        }
        &-full {
            flex:0 0 100%;
            max-width: 100%;
        }
    }
    &--type {
        &-checkbox {
            border:none;
            legend {
                display:none;
            }
            a {
                color:#E42313;
            }
            input {
                min-height: unset !important;
                width: fit-content !important;
                margin-bottom: 3px !important;
                margin-right: 15px;
            }
            .gchoice {
                display: flex;
            }
        }
        &-honeypot {
            display:none;
        }

    }
}