.whitepaper-form-new {
  background: white;
  padding: 80px 0;
}
@media only screen and (min-width: 1024px) {
  .whitepaper-form-new {
    padding: 80px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .whitepaper-form-new .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }
}
.whitepaper-form-new .flex {
  position: relative;
  flex: 0 0 48.5%;
  margin-bottom: 25px;
  padding: 0 40px;
  padding-top: 20px;
}
@media only screen and (min-width: 1024px) {
  .whitepaper-form-new .flex {
    padding: 0;
    margin-bottom: 0px;
  }
}
.whitepaper-form-new .media {
  text-align: center;
  padding: 0 36px;
  flex: 0 0 48.5%;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .whitepaper-form-new .media {
    margin: 50px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .whitepaper-form-new .media {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .whitepaper-form-new .media {
    max-width: 610px;
  }
}
.whitepaper-form-new .wp-block-image {
  margin-bottom: 30px;
}
.whitepaper-form-new .wp-block-buttons {
  margin-top: 30px;
}
.whitepaper-form-new img {
  max-width: 100%;
  height: auto;
}
.whitepaper-form-new .form-field {
  margin-bottom: 15px;
}
.whitepaper-form-new .form-field p {
  margin: 0;
}
.whitepaper-form-new .form-field br {
  display: none;
}
.whitepaper-form-new .form-field label {
  color: #333333;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}
.whitepaper-form-new .form-field input {
  transition: all 0.3s ease-out;
  border: none;
  border-bottom: 1px solid;
  border-color: #939597;
  min-height: 45px;
  padding-left: 25px;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  font-size: 16px;
}
@media only screen and (min-width: 1024px) {
  .whitepaper-form-new .form-field input {
    min-height: 55px;
  }
}
.whitepaper-form-new .form-field input:focus {
  border-color: #1D1D1B;
}
.whitepaper-form-new .form-field input::placeholder {
  color: rgba(147, 149, 151, 0.4);
  font-size: 16px;
}
.whitepaper-form-new .form-field.consent {
  display: flex;
  margin-bottom: 50px;
  flex: 0 0 100% !important;
}
.whitepaper-form-new .form-field.consent p {
  display: flex;
  align-items: center;
}
.whitepaper-form-new .form-field.consent label {
  margin-left: 15px;
  position: relative;
  font-size: 16px;
}
.whitepaper-form-new .form-field.consent label:before {
  height: 20px;
  width: 20px;
  background: white;
  transition: all 0.3s ease-out;
  display: block;
  border: 1px solid black;
  border-radius: 2px;
  position: absolute;
  left: -20px;
  top: 2px;
  cursor: pointer;
}
.whitepaper-form-new .form-field.consent label.active:before {
  border-color: white;
  background: #E42313;
}
.whitepaper-form-new .form-field.consent label a {
  color: #E42313;
}
.whitepaper-form-new .form-field.consent input {
  min-height: unset;
}
.whitepaper-form-new .form-field.consent input:checked + label:before {
  content: "";
  background: #E42313;
}
.whitepaper-form-new .form-submit input {
  background: #f20a22;
  color: white;
  border: none;
  padding: 16px 50px;
  border-radius: 25px;
  font-family: "Lato";
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .whitepaper-form-new.two-columns .form-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .whitepaper-form-new.two-columns .form-field {
    margin-bottom: 15px;
    flex: 0 0 calc(50% - 15px);
  }
}
.whitepaper-form-new .gform_fields {
  display: flex;
  flex-wrap: wrap;
}
.whitepaper-form-new .gform--width-half {
  flex: 0 0 50%;
  max-width: 50%;
}
.whitepaper-form-new .gform--width-full {
  flex: 0 0 100%;
  max-width: 100%;
}
