<article class="" id="tease-{{item.id}}">
    <a href="{{item.link}}" class="job">
        <div class="shape"></div>
        <div class="wrapper">
            <div class="job-title">
                <h4>{{item.title}}</h4>
            </div>
            <div class="job-dots">
                <img src="/wp-content/themes/avcom/blocks/careers-index/dots.png" alt="Avcom dots">
            </div>
            <div class="job-attributes">
                <div class="attribute-title">Key Attributes:</div>
                <div class="attributes">
                {% for attribute in key_attributes %}
                {% if loop.index == 1 or loop.index == 2 %}
                    <div class="attribute">{{attribute.key_attribute}}</div>
                {% endif %}
                {% endfor %}
                </div>
                <div class="attributes">
                {% for attribute in key_attributes %}
                {% if loop.index == 3 or loop.index == 4 %}
                    <div class="attribute">{{attribute.key_attribute}}</div>
                {% endif %}
                {% endfor %}
                </div>
                            <div class="attributes">
                {% for attribute in key_attributes %}
                {% if loop.index == 5 or loop.index == 6 %}
                    <div class="attribute">{{attribute.key_attribute}}</div>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="ninja">
            <img src="/wp-content/themes/avcom/blocks/careers-index/ninja.png" alt="Avcom Ninja">
            <div class="ninja-overlay">Experience more<em>.</em></div>
        </div>
    </a>
</article>