.blog-archive {
    background: white;
}

.post-container {
    &.job {
        h4 {
            @include screen(1366) {
                font-size: 40px;
            }
        }
        .cta {
            padding: 0 5px;
            .btn {
                font-weight: 600;
            }
        }
    }
}

.job {
    display:block;
    background:#1D1D1B;
    position:relative;
    overflow:hidden;
    padding: 7.5vh 25px;
    @include screen(900) {
        padding: 7.5vh 2.2vw;
    }
    .shape {
        height: 96px;
        width: 96px;
        background: #E42313;
        border-radius: 50%;
        position: absolute;
        top: -36px;
        right: -36px;
        &:before {
            font-family: "icomoon";
            content: "\e90e";
            color: white;
            position: absolute;
            font-size: 22px;
            top: 47px;
            left: 24px;
        }
    }
    &-list {
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:32px;
        @include screen(0,899) {
            padding: 0 25px;
        }
    }
    &-item {
        flex:0 0 100% ;
        @include screen(900) {
            flex:0 0 calc((100% - 82px) / 3 );
        }
    }
    &-dots {
        margin-left: 2px;
        margin-bottom: 40px;
    }
    &-title {
        h4 {
            color:white;
            font-size: 28px;
            line-height: 33px;
        }
        min-height: 109px;
        display: flex;
        align-items: center;
    }
    &-attributes {
        color:white;
        .attribute-title {
            font-size: 14px;
        }
        .attributes {
            display: flex;
            & + .attributes {
                margin-top:5px;
            }
            .attribute {
                position: relative;
                &:nth-child(1) {
                    &:after {
                        color: #E42313;
                        content:"|";
                        margin: 0 5px;
                    }
                }
            }
        }
    }
    &s {
        &-title {
            padding: 0 35px;
            padding-bottom: 35px;
            @include screen(1280) {
                padding: 0;
                padding-bottom: 75px;
            }
            h3 {
                font-weight: 900;
                font-size: 45px;
                @include screen(900) {
                    font-size: 50px;
                }
                @include screen(1280) {
                    font-size: 55px;
                }
                @include screen(1366) {
                    font-size: 65px;
                }
            }
        }
    }
}

.ninja {
    position: absolute;
    right: 0;
    bottom: 0;
    &-overlay {
        color: white;
        font-weight: 600;
        position: absolute;
        right: 14px;
        width: 168px;
        bottom: 20px;
        font-size: 21px;
        em {
            color: #E42313;
        }
    }
    img {
        display:block;
    }
}

@include screen(900,1279) {
    .job {
        .attribute  {
            font-size: 14px;
            &-title {
                font-size: 12px;
            }
        }
        &-list {
            gap:15px;
        }
        &-title {
            min-height: 95px;
            h4 {
                color:white;
                font-size: 24px;
                line-height: 1.2;
            }
        }
    }
    .ninja {
        img {
            max-width: 75px;
        }
        &-overlay {
            right: -48px;
            bottom: 6px;
            font-size: 14px;
        }
    }
}