{% extends "block-base.twig" %}

{% block content %}
{% set blog_options = fn('get_field','posts_archive_data', 'option') %}
<link rel="stylesheet" href="/wp-content/themes/avcom/static/blog.css" type="text/css" media="screen" />
<div class="blog-archive blog-container">
	<div class="blog-posts">
        <div class="container">
            <div class="jobs-title">
                <h3>Open Positions</h3>
            </div>
        </div>
		<div class="inner container">
            <ul class="rl job-list">
                {% for item in jobs %}
                {% set key_attributes = fn('get_field', 'key_attributes', item) %}
                    <li class="job-item">{% include ['job-tease.twig'] %}</li>
                {% endfor %}
            </ul>
		</div>
	</div>
</div>
{% endblock %}
