@media only screen and (max-width: 1200px) {
  .hide-m {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .hide-d {
    display: none !important;
  }
}

@media only screen and (max-width: 1023px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}
.has-text-align-center {
  text-align: center;
}

.has-text-align-right {
  text-align: right;
}

figcaption {
  font-size: 14px;
  margin-left: 15px;
}

.wp-block-image {
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.wp-block-image img {
  height: auto;
}

a {
  color: #E42313;
}

.wp-block-media-text {
  display: flex;
}
@media only screen and (max-width: 900px) {
  .wp-block-media-text {
    flex-wrap: wrap;
  }
}
.wp-block-media-text.alignwide {
  align-items: center;
}
.wp-block-media-text img {
  width: 100%;
  height: auto;
}

.has-small-font-size {
  font-size: 90%;
  line-height: 1.2;
}

.has-large-font-size, .has-large-font-size > * {
  font-size: 110% !important;
  line-height: 1.2 !important;
}

.wp-block-quote {
  border-left: 2px solid #1D1D1B;
  padding-left: 2.5vw;
  position: relative;
  margin-left: 56px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1px;
  padding-bottom: 1px;
}
.wp-block-quote:before {
  content: "";
  background: url("/wp-content/themes/avcom/images/quote.svg");
  position: absolute;
  height: 34px;
  width: 44px;
  left: -60px;
}

@media only screen and (max-width: 1023px) {
  .wp-block-media-text__media {
    width: 100%;
    height: auto;
  }
}

.blog-hero {
  background: #1D1D1B;
  padding: 50px 25px;
}
.blog-hero h1,
.blog-hero .date {
  color: white;
}
.blog-hero h1 {
  margin-top: 0;
  font-weight: 300;
}
.blog-hero em {
  color: #E42313;
}
.blog-hero .date {
  font-size: 16px;
}
.blog-main {
  padding: 30px;
  display: flex;
  flex-direction: column-reverse;
}
.blog-content li,
.blog-content p {
  font-size: 16px;
  line-height: 19px;
}
.blog-content ul li:not(:first-child),
.blog-content ol li:not(:first-child) {
  margin-top: 10px;
}
.blog-content ul li::marker,
.blog-content ol li::marker {
  color: #E42313;
}
.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5 {
  margin-top: 2rem;
  font-weight: 300;
}
.blog-image .image {
  text-align: center;
}
.blog-recommended {
  padding: 30px;
}
.blog-recommended h3 {
  font-weight: 300;
}
.blog-recommended-title {
  padding-bottom: 15px;
}
.blog-posts {
  padding: 30px 0;
}

.post-container {
  display: block;
}
.post-category {
  color: white;
}
.post-category .inner {
  display: flex;
  position: relative;
  align-items: center;
}
.post-category .inner:before {
  content: "";
  height: 18px;
  width: 18px;
  border-radius: 100px;
  display: block;
  margin-right: 10px;
  background: var(--color);
  max-width: 134px;
}
.post-title {
  padding: 0 5px;
}
.post-title h4 {
  font-weight: 700;
  color: white;
}
.post-content {
  padding: 0 5px;
}
.post-content li,
.post-content p {
  color: #1D1D1B;
  font-size: 16px;
  line-height: 1.33;
}
.post-image {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  padding-top: 100%;
  position: relative;
}
.post-image:hover .post-bg {
  transform: scale(1.2);
}
.post-image:hover .post-category .inner:before {
  width: 147%;
}
.post-image img {
  transition: all 0.3s ease-out;
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.post-image-shape {
  height: 96px;
  width: 96px;
  background: #E42313;
  border-radius: 50%;
  position: absolute;
  bottom: -20px;
  right: -20px;
}
.post-image-shape:before {
  font-family: "icomoon";
  content: "\e90e";
  color: white;
  position: absolute;
  font-size: 28px;
  top: 28px;
  left: 28px;
}
.post-image .wrapper {
  max-width: 82%;
  padding-left: 16px;
  padding-bottom: 16px;
}
@media only screen and (min-width: 1024px) {
  .post-image .wrapper {
    padding-left: 30px;
    padding-bottom: 16px;
  }
}
.post-main {
  padding-bottom: 25px;
  border-bottom: 1px solid #939597;
  margin-bottom: 10vh !important;
}
.post-list {
  display: flex;
  flex-wrap: wrap;
}
.post-item {
  flex: 0 0 100%;
  max-width: 100%;
}
@media only screen and (min-width: 600px) {
  .post-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media only screen and (min-width: 1280px) {
  .post-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
.post-item.featured {
  flex: 0 0 100%;
  max-width: 100%;
}
@media only screen and (min-width: 1280px) {
  .post-item.featured {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }
}
.post-item.featured .post-image {
  padding-top: 50%;
}
.post-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
}
.post-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-out;
}

@media only screen and (min-width: 1024px) {
  .blog-hero h1 {
    font-size: 100px;
  }
  .blog-main {
    padding: 60px 0;
    flex-direction: row;
  }
  .blog-content li ul li:not(:first-child),
  .blog-content li ol li:not(:first-child) {
    margin-top: 15px;
  }
  .blog-image {
    flex: 0 0 23vw;
    max-width: 23vw;
    margin-left: 75px;
  }
  .blog-recommended .container {
    padding: 0;
  }
  .blog-recommended-title {
    padding-bottom: 35px;
  }
  .blog-posts {
    padding: 60px 0;
  }
  .single-post .post-list {
    display: flex;
  }
  .single-post .post-item {
    flex: 0 0 23%;
    max-width: 23%;
    margin: 15px;
  }
}
.post-header {
  border-bottom: 1px solid #939597;
  width: 1336px;
  max-width: 80%;
  margin: auto;
  margin-bottom: 7.5vh;
}
.post-header .container {
  max-width: 1100px;
  margin: auto;
}
.post-header h1 {
  padding-top: 9vh;
  padding-bottom: 20px;
  font-weight: 400;
  text-align: center;
}
.post-header h4 {
  font-weight: 300;
  text-align: center;
}
.post-header .bot {
  margin-top: 4.5vh;
  margin-bottom: 7vh;
  display: flex;
  justify-content: center;
  gap: 65px;
}
.post-main {
  max-width: 800px;
  margin: auto;
}
.post-main h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.single-post {
  background: white;
}
@media only screen and (max-width: 1023px) {
  .single-post {
    padding: 0 15px;
  }
}
.single-post .wp-block-media-text {
  gap: 34px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 900px) {
  .single-post .wp-block-media-text .wp-block-media-text__media {
    flex: 0 0 40%;
  }
}
.single-post .wp-block-media-text figure {
  margin: 0;
}
.single-post .wp-block-image figure {
  margin: 0;
}
.single-post .wp-block-image img {
  width: 100%;
  height: auto;
}

.blog-posts .post-category {
  margin-bottom: 10px;
}
.blog-posts .post-category .inner {
  width: fit-content;
  font-size: 14px;
  margin-left: 5px;
  padding-left: 25px;
}
.blog-posts .post-category .inner:before {
  position: absolute;
  transition: all 0.3s ease-out;
  left: 0;
  top: -1px;
}
.blog-posts .post-category .inner span {
  color: white;
  z-index: 2;
}
.filter {
  width: 270px;
  height: 48px;
  background: #1D1D1B;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid white;
}
.filter-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.filter-title {
  font-size: 14px;
  padding: 22px;
  color: white;
}
.filter-body {
  transition: all 0.3s ease-out;
  overflow: hidden;
  position: absolute;
  top: 47px;
  left: -1px;
  right: -1px;
  max-height: 0;
  z-index: 1;
}
.filter-option {
  color: white;
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.filter-option + .filter-option {
  margin-top: 15px;
}
.filter-options {
  background: #1D1D1B;
  border: 3px solid white;
  border-top: 1px solid white;
  padding: 15px 20px;
  list-style: none;
  margin: 0;
}
.filter-chevron {
  width: 40px;
}
.filter-chevron:before {
  color: white;
  transition: all 0.3s ease-out;
  position: absolute;
  font-family: "icomoon";
  content: "\e911";
  font-size: 20px;
  top: 13px;
  transform: rotate(90deg);
}
.filter-top-title {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}
.filter-filters {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
  margin-top: 16px;
  min-height: 37px;
}
.filter-filter {
  cursor: pointer;
  font-size: 12px;
  color: white;
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 23px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.filter-filter:not(.active) {
  display: none;
}
.filter-filter .closer {
  position: relative;
  border: 1px solid white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.filter-filter .closer:after {
  font-family: "icomoon";
  content: "\e907";
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  right: 1px;
  transform: translate(-50%, -50%);
  font-size: 6px;
}
.filter-wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
}
.filter-reset {
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.filter:hover .filter-body {
  max-height: 175px;
}
.filter:hover .filter-chevron:before {
  transform: rotate(270deg);
}
.filter label {
  padding-left: 25px;
  position: relative;
}
.filter label:before {
  transition: all 0.3s ease-out;
  content: "";
  height: 13px;
  width: 13px;
  display: block;
  background: white;
  position: absolute;
  left: 1px;
  top: 5px;
  border-radius: 3px;
}
.filter input {
  display: none;
}
.filter input:checked + label:before {
  background: #E42313;
}
.filter label,
.filter input {
  height: 22px;
  cursor: pointer;
}

.blog-posts {
  position: relative;
}
.blog-posts .inner {
  opacity: 1;
  transition: all 0.2s ease-out;
}
.blog-posts .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.4s ease-out;
  margin: auto;
  max-width: 100px;
  min-height: 25vh;
  text-align: center;
  margin-top: 150px;
  opacity: 0;
  visibility: hidden;
}
.blog-posts .overlay svg {
  animation: flip 0.75s ease-out infinite;
}
.blog-posts.loading .overlay {
  opacity: 1;
  visibility: visible;
}
.blog-posts.loading .inner {
  opacity: 0;
}

@keyframes flip {
  50% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
}

/*# sourceMappingURL=blog.css.map */
