@import "mixins.scss";

.case-study-info {
    .info {
        order:3;
        background: white;
        padding: 25px 35px;
        @include screen(1024) {
            padding: 50px 0px;
        }
        h4 {
            font-weight: 300;
            @include screen(1024) {
                font-size: 40px;
                line-height: 48px;
            }
        }
        .top {
            border-bottom: 1px solid black;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        .bot {
            display: flex;
            gap: 80px;
            @include screen(1024) {
                gap: 7vw;
            }
            span {
                font-size: 16px;
            }
        }
        .wrapper {
            display: flex;
            gap: 6.7vw;
            flex-direction: column;
            @include screen(1024) {
                flex-direction: row;
                align-items: center;
            }
        }
        .left {
            @include screen(1024) {
                flex: 0 0 500px;
                max-width: 500px;
            }
        }
        .right {
            @include screen(1024) {
                flex-grow: 1;
                max-width: 700px;
            }
            p {
                font-size: 20px;
                line-height: 30px;
                @include screen(1024) {
                    font-size: 24px;
                    line-height: 34px;
                }
            }
        }
        strong {
            display:block;
        }
    }
}