{% extends "block-base.twig" %}

{% block content %}
<section class="case-study-info">
    <div class="info">
        <div class="container">
            <div class="wrapper">
                <div class="left">
                    <div class="top">
                        <h4>{{fields.info.title}}</h4>
                    </div>
                    <div class="bot">
                        <div>
                            <strong>Date</strong>
                            <span>{{fields.info.date}}</span>
                        </div>
                        <div>
                            <strong>Location</strong>
                            <span>{{fields.info.location}}</span>
                        </div>
                    </div>
                </div>
                <div class="right">{{fields.info.content}}</div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
