@import "mixins.scss";

.case-study-slider {
    .slider {
        margin: 50px 0;
        position:relative;
        padding: 0px 15px;
        @include screen(1024) {
            padding: 0px;
        }
        &-wrapper {
            @include screen(1024) {
                margin-right: -25vw;
            }
        }
        &:before {
            content:"";
            position:absolute;
            display:block;
            background:#E42313;
            height:620px;
            width:620px;
            border-radius: 50%;
            left: -130vw;
            top: 47%;
            transform: translate(0, -50%);
            @include screen(1024) {
                top: 50%;
                left: -25vw;
            }
        }
        .slide {
            img {
                height: 397px;
                width: auto;
                object-fit: cover;
            }
        }
        .controls {
            display: flex;
            gap: 20px;
            &-container {
                display: flex;
                justify-content: space-between;
                margin: auto;
                margin-top: 10px;
                flex-direction: column;
                gap:15px;
                align-items: flex-end;
                @include screen(1024) {
                    max-width: 80%;
                    gap:0;
                    flex-direction: row;
                    align-items: center;
                }
            }
            .control {
                &:before {
                    cursor:pointer;
                    font-family: "icomoon";
                    font-size: 25px;
                    @include screen(1280) {
                        font-size: 30px;
                    }
                    @include screen(1366) {
                        font-size: 38px;
                    }
                }
                &.prev {
                    &:before {
                        content: "\e90d";
                        transform: translate(-50%,-50%);
                        left: -25px;
                    }
                }
                &.next {
                    &:before {
                        content: "\e90c";
                        right: 0;
                        transform: translate(-50%,-50%) rotate(180deg);
                        right: -30px;
                    }
                }
    
            }
        }
        .nav {
            &-items {
                display:flex;
                align-items: center;
                gap:10px;
            }
            &-item {
                cursor:pointer;
                transition:all 0.3s ease-out;
                height:12px;
                width:12px;
                border-radius: 50%;
                background:#939597;
                @include screen(1024) {
                    height:16px;
                    width:16px;
                }
                &.tns-nav-active {
                    background:#E42313;
                }
            }
        }
    }
}