{% extends "block-base.twig" %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<section class="case-study-slider">
    <div class="content">
        <div class="container">
            <div class="slider">
                <div class="slider-wrapper">
                    <div class="slides">
                    {% for item in fields.slider.slides %}
                        <div class="slide">
                            <img src="{{item.slide.url}}" >
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="controls-container">
                    <div class="slider-nav">
                        <div class="nav-items">
                        {% for item in fields.slider.slides %}
                            <div class="nav-item"></div>
                        {% endfor %}                            
                        </div>
                    </div>
                    <div class="controls">
                        <div class="control prev"></div>
                        <div class="control next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
  var slider = tns({
    container: '.slider .slides',
    controlsContainer: '.slider .controls',
    navContainer: '.slider .slider-nav .nav-items',
    items: 1,
    loop:true,
    autoplay: false,
    nav: true,
    navPosition:'bottom',
    autoplayButtonOutput: false,
    mouseDrag:true,
    autoWidth:true,
    gutter:16

  });
</script>
{% endblock %}
