@media only screen and (max-width: 1200px) {
  .hide-m {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .hide-d {
    display: none !important;
  }
}

@media only screen and (max-width: 1023px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}
main {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  max-width: 100%;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.txt-w {
  color: white;
}

.rl {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rl li {
  margin: 0;
}

body {
  margin: 0;
}

@media only screen and (min-width: 900px) {
  .container-lg {
    max-width: 80%;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
  }
}
.hide {
  display: none;
}

.privacy-policy .main {
  max-width: 95%;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 900px) {
  .privacy-policy .main {
    max-width: 80%;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1335px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) {
  .container-m {
    width: 736px;
    max-width: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .container-l {
    width: 992px;
    max-width: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1367px) {
  .container-xl {
    width: 1335px;
    max-width: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}
em {
  font-style: normal;
}

.btn {
  font-size: 18px;
  color: #1D1D1B;
}
.btn:after {
  content: "\e90b";
  color: #e42313;
  font-family: "icomoon";
  margin-left: 20px;
  font-weight: 400;
  font-size: 40px;
  vertical-align: middle;
  cursor: pointer;
}

.header-logo {
  background: #1D1D1B;
  z-index: 5;
  position: relative;
}
.header-logo-link img {
  display: block;
}
.header-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}
.header-toggler {
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-toggler svg {
  transition: all 0.4s ease-out;
}
.header-toggler:before {
  position: absolute;
  transition: all 0.4s ease-out;
  content: "\e907";
  font-family: "icomoon";
  color: white;
  font-size: 30px;
  opacity: 0;
}

.menu-container {
  transition: all 0.3s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 71px;
  background: #1D1D1B;
  padding: 35px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid;
}
.menu-inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-link {
  color: white;
  font-weight: 900;
}
.menu-item {
  overflow: hidden;
}
.menu-item:after {
  z-index: -1;
  position: relative;
  opacity: 0;
  font-weight: 900;
  content: attr(data-title);
}
.menu-item-holder {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  transition: all 0.3s ease-out;
}
.menu-social {
  padding-bottom: 25px;
}
.menu-social ul {
  display: flex;
  gap: 25px;
  justify-content: flex-start;
}
.menu-social li {
  opacity: 0;
}
.menu-social a {
  position: relative;
}
.menu-social a:before {
  font-size: 25px;
  font-family: "icomoon";
  color: white;
  content: var(--icon);
}

@media only screen and (max-width: 899px) {
  html.menu-open {
    overflow: hidden;
  }
  html .menu-container {
    transform: translateY(calc(100% + 71px));
  }
  .header {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .header-logo {
    padding: 0 35px;
  }
  .header-logo-link img {
    max-height: 46px;
    max-width: 40px;
  }
  .header-logo-text {
    display: none;
  }
  .header-wrapper {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  body {
    padding-bottom: 71px;
  }
}
html.menu-open .header-toggler svg {
  opacity: 0;
}
html.menu-open .header-toggler:before {
  opacity: 1;
}

@media only screen and (min-width: 900px) {
  html .menu-container {
    transform: translateY(calc(-100% - 71px));
  }
  html.menu-open {
    overflow: hidden;
  }
  html.menu-open .header-toggler svg {
    opacity: 0;
  }
  html.menu-open .header-toggler:before {
    opacity: 1;
  }
  html::-webkit-scrollbar {
    display: none;
  }
  body {
    padding-top: 139px;
  }
  .menu-container {
    top: 71px;
    bottom: 0;
    z-index: 4;
  }
  .menu-inner, .menu-social {
    max-width: 78%;
    width: 100%;
    margin: auto;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .header-logo-wrapper {
    padding-top: 45px;
    padding-bottom: 30px;
    margin: auto;
  }
  .header-logo-link {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .header-logo-link img {
    max-height: 64px;
    max-width: 56px;
  }
  .header-logo-text {
    color: white;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
  }
  .header-logo-text em {
    color: #E42313;
  }
  .header-toggler {
    cursor: pointer;
  }
}
.submenu {
  transition: all 0.3s ease-out;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1d1d1b;
  padding: 35px;
  border-bottom: 1px solid;
  z-index: 10;
}
.submenu-inner {
  max-width: 78%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.submenu .toggler {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid white;
  width: fit-content;
  padding-bottom: 2px;
  margin-top: 100px;
  margin-left: 50px;
  position: relative;
}
.submenu .toggler:before {
  font-family: "icomoon";
  content: "\e90b";
  color: #e42313;
  position: absolute;
  font-size: 35px;
  left: -50px;
  top: -10px;
  transform: rotate(180deg);
}

.submenu {
  transform: translateX(100%);
}

@media only screen and (min-width: 900px) {
  .header-logo-wrapper {
    max-width: 90%;
  }
}
@media only screen and (min-width: 1536px) {
  .header-logo-wrapper {
    max-width: 1320px;
  }
}

.footer {
  background: #1D1D1B;
  padding: 0 35px;
  z-index: 3;
  position: relative;
  padding-bottom: 50px;
}
.footer a,
.footer span {
  color: white;
}
.footer-cta {
  font-size: 23px;
  line-height: 17px;
  font-weight: 900;
}
.footer-cta em {
  color: #E42313;
}
.footer .top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.footer .mid {
  padding: 25px 0;
  font-size: 14px;
  font-weight: 400;
}
.footer .bot ul {
  display: flex;
  gap: 25px;
  justify-content: center;
  padding-bottom: 35px;
}
.footer .bot a {
  font-size: 14px;
}
.footer-logo {
  padding-bottom: 25px;
}
.footer-cta-link a:after {
  content: "\e90b";
  color: #e42313;
  font-family: "icomoon";
  margin-left: 20px;
  font-weight: normal;
  font-size: 40px;
  vertical-align: middle;
}
.footer .footer-menu-item-holder {
  font-size: 14px;
}

@media only screen and (max-width: 899px) {
  .footer .top {
    padding: 55px 0;
  }
  .footer-menu {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  .footer-wrapper {
    max-width: 78%;
    margin: auto;
  }
  .footer-menu {
    flex: 0 0 150px;
  }
  .footer-menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  .footer .top {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 35px;
  }
  .footer .bot {
    display: none;
  }
}
.d-flex {
  display: flex;
}

.po-r {
  position: relative;
}

/*# sourceMappingURL=main.css.map */
