@media only screen and (max-width: 1200px) {
  .hide-m {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .hide-d {
    display: none !important;
  }
}

@media only screen and (max-width: 1023px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}
.notfound {
  background: #1D1D1B;
  padding: 50px 0;
}
.notfound h1 {
  color: white;
  font-weight: 900;
  margin: 0;
}
.notfound .sub {
  color: white;
  text-align: center;
}
.notfound .holder {
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
}
.notfound .wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.notfound .ball {
  transition: all 0.25s ease-out;
  background: white;
  height: 225px;
  width: 225px;
  border-radius: 50%;
}
.notfound .ball:hover {
  transform: scale(1.05);
}
.notfound .ball.double {
  background: #E42313;
}
.notfound .ball.has-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.notfound .ball a {
  font-size: 23px;
  line-height: 17px;
  font-weight: 900;
  position: relative;
  display: block;
  padding-left: 50px;
}
.notfound .ball a:after {
  margin-left: 0;
  font-size: 50px;
  position: absolute;
  left: -10px;
  transform: rotateZ(180deg);
}

@media only screen and (max-width: 899px) {
  .notfound h1 {
    font-size: 120px;
    line-height: 0.9;
  }
  .notfound .sub {
    font-size: 15px;
    line-height: 12px;
  }
  .notfound .ball {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  .notfound .ball.double {
    border-radius: 113px;
    width: 300px;
  }
  .notfound .ball a {
    font-size: 20px;
  }
  .notfound .ball a:after {
    font-size: 35px;
    left: 0;
  }
  .notfound .ball:nth-child(1), .notfound .ball:nth-child(2), .notfound .ball:nth-child(3), .notfound .ball:nth-child(4), .notfound .ball:nth-child(5), .notfound .ball:nth-child(9), .notfound .ball:nth-child(10), .notfound .ball:nth-child(11), .notfound .ball:nth-child(12), .notfound .ball:nth-child(15), .notfound .ball:nth-child(16), .notfound .ball:nth-child(17), .notfound .ball:nth-child(18), .notfound .ball:nth-child(19), .notfound .ball:nth-child(20), .notfound .ball:nth-child(21) {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  .notfound h1 {
    font-size: 194px;
    line-height: 0.9;
  }
  .notfound .sub {
    font-size: 22px;
    line-height: 27px;
  }
  .notfound .ball {
    height: 225px;
    width: 225px;
    border-radius: 50%;
  }
  .notfound .ball.double {
    border-radius: 113px;
    width: 470px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1279px) {
  .notfound .wrapper {
    max-width: 900px;
    margin: auto;
  }
  .notfound .ball:nth-child(1), .notfound .ball:nth-child(2), .notfound .ball:nth-child(3), .notfound .ball:nth-child(4), .notfound .ball:nth-child(9), .notfound .ball:nth-child(10), .notfound .ball:nth-child(11), .notfound .ball:nth-child(15), .notfound .ball:nth-child(16), .notfound .ball:nth-child(17), .notfound .ball:nth-child(18), .notfound .ball:nth-child(19) {
    display: none;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .notfound .ball:nth-child(1), .notfound .ball:nth-child(9), .notfound .ball:nth-child(15), .notfound .ball:nth-child(16) {
    display: none;
  }
}

/*# sourceMappingURL=orphan.css.map */
