.content-block-two {
    padding:35px;
    background:#1D1D1B;
    & > * {
        color:white;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight:300;
        margin: 0;
        line-height:1;
    }

    em {
        color: var(--dot-color);
    }

    p {
        font-weight:400;
    }
    img {
        width:100%;
        height:auto;
        max-width: 48.5%;
    }
    &.careers {
        padding-top:5vh;
        .top {
            padding-top:0;
        }
        h1 {
            @include screen(1280) {
                font-size: 45px !important;
            }
            @include screen(1536) {
                font-size: 55px !important;
            }
        }
        p {
            font-weight: 300;
            @include screen(900) {
                font-size: 22px;
                line-height: 1.2;
            }
        }
        a {
            color:#e42313;
            @include screen(900) {
                font-size: 22px;
                line-height: 1.2;
            }
        }
        .container-full {
            @include screen(900) {
                padding-bottom:75px;
            }
        }
    }
}

@include screen(0,899) {
    .content-block-two {
        .top {
            margin-bottom: 25px;
        }
        .right {
            display:flex;
            gap:5px;
        }
        img {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}

@include screen(900, 1535) {
    .content-block-two{
        padding:0;
        padding-top: 5vh;
        .top {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size:50px;
                font-weight:300;
            }
        }

        h3 {
            font-size:20px;
            line-height:24px;
            font-weight:300;
        }

        p {
            font-size:16px;
            line-height:19px;
        }

        .h {
            &-1 {
                padding-left:3.5vw;
            }
            &-2 {
                padding-left:12.5vw;
            }
        }

        .top {
            padding-top:7.5vh;
        }
        .container-full {
            display:flex;
            padding-top: 5vh;
            column-gap: 50px;
            align-items: center;
            .left {
                flex-grow: 1;
                max-width: 55vw;
                padding-top: 15px;
                .inner {
                    max-width: 574px;
                    margin-left: auto;
                    padding-top: 5vh;
                }
            }
            .right {
                flex:0 0 45vw;
                max-width: 45vw;
                display: flex;
                justify-content: space-between;
                gap: 15px;
                img {
                    flex: 0 0 48%;
                    max-width: 48%;
                    height: 100%;
                    width: auto;
                    &:nth-child(1) {
                        margin-bottom: -50px;
                    }
                    &:nth-child(2) {
                        margin-top: -50px;
                    }
                }
            }
        }
    }
}

@include screen(1536) {
    .content-block-two{
        padding:0;
        padding-top: 10vh;
        .top {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size:75px;
                font-weight:300;
            }
        }

        h3 {
            font-size:28px;
            line-height:34px;
            font-weight:300;
        }

        p {
            font-size:16px;
            line-height:19px;
        }

        .h {
            &-1 {
                padding-left:3.5vw;
            }
            &-2 {
                padding-left:12.5vw;
            }
        }

        .top {
            padding-top:100px;
        }

        .container-full {
            display:flex;
            padding-top: 125px;
            column-gap: 100px;
            align-items: center;
            .left {
                flex-grow: 1;
                max-width: 55vw;
                .inner {
                    max-width: 574px;
                    margin-left: auto;
                    padding-top: 5vh;
                }
            }
            .right {
                flex:0 0 45vw;
                max-width: 45vw;
                display: flex;
                justify-content: space-between;
                gap: 15px;
                img {
                    &:nth-child(1) {
                        margin-bottom: -50px;
                    }
                    &:nth-child(2) {
                        margin-top: -50px;
                    }
                }
            }
        }
    }
}