{% extends "block-base.twig" %}

{% block content %}
<section class="content-block-two {{block.className}}" style="--dot-color:{{fields.primary_content.color}}" {{blockSection(block)}}>
    <div class="container-lg">
        <div class="top">
        <{{fields.primary_content.heading.heading_options.type}}>
        {% for line in fields.primary_content.heading.lines %}
            <div class="h-{{loop.index}}">{{line.line}}</div>
        {% endfor %}
        </{{fields.primary_content.heading.heading_options.type}}>
        </div>
    </div>
    <div class="container-full">
        <div class="left">
            <div class="inner">
                {{fields.primary_content.content}}
            </div>
        </div>
        <div class="right">
            {% for item in fields.image_section.images %}
                {{imageElement(item.image)}}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
