<ul class="rl post-list">
    {% for item in ajax_posts %}
        {% set category = fn('get_post_primary_category', item.id) %}
        <li class="post-item">
            <a href="{{item.link}}" class="post-container">
                <div class="post-info">
                    <div class="post-image">
                        <img src="{{item.thumbnail.src}}" alt="{{item.thumbnail.alt}}"/>
                        <div class="post-image-shape">
                        </div>
                    </div>
                    <div class="post-category">
                        <div class="inner" style="--color:{{ fn('get_field', 'category_colour', category.primary_category).color }}";>{{category.primary_category.name}}</div>
                    </div>
                    <div class="post-title">
                        <h4>{{item.title}}</h4>
                    </div>
                    <div class="post-content">
                        <p class="preview">{{ item.preview.length(15).read_more('') }}</p>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>
