<div class="hb2-overlay">
    <div class="inner">
        <div class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="328.711" height="127.631" viewBox="0 0 328.711 127.631">
                <g id="Group_122" data-name="Group 122" transform="translate(-105.801 -175.263)">
                    <path id="Path_190" data-name="Path 190" d="M192.429,180.667l-15.856,43.662-15.856-43.662H142.412l25.55,64.844h17.221l25.551-64.844Z" transform="translate(24.372 3.597)" fill="#fff"/>
                    <g id="Group_118" data-name="Group 118" transform="translate(105.801 175.263)">
                    <path id="Path_191" data-name="Path 191" d="M249.253,180.669A32.327,32.327,0,1,0,281.581,213a32.328,32.328,0,0,0-32.328-32.328m0,50.236A17.908,17.908,0,1,1,267.161,213,17.906,17.906,0,0,1,249.253,230.9" transform="translate(-31.824 -171.664)" fill="#fff"/>
                    <path id="Path_192" data-name="Path 192" d="M310.64,180.667l-15.2,43.371-15.2-43.371H257.077v64.844h15.254V199.625L289.4,245.511H301.49l17.065-45.886v45.886h15.253V180.667Z" transform="translate(-5.096 -171.666)" fill="#fff"/>
                    <path id="Path_193" data-name="Path 193" d="M241.563,233.664a27.445,27.445,0,1,1,.2-34.157,37.7,37.7,0,0,1,8.658-11.014,41.193,41.193,0,1,0-.333,56.287,37.668,37.668,0,0,1-8.528-11.117" transform="translate(-57.08 -175.263)" fill="#fff"/>
                    <path id="Path_194" data-name="Path 194" d="M155.834,175.263h-20.11L124.35,210.747a56.608,56.608,0,0,0-13.524-1.136l-5.025,13.68s40.651-4.256,56.784,25.815h22.2ZM137.6,214.484l7.716-26.371,11.655,36.865s-9.819-7.282-19.37-10.494" transform="translate(-105.801 -175.263)" fill="#fff"/>
                    <path id="Path_195" data-name="Path 195" d="M128.761,214.171c0-3.53-3.231-6.391-7.219-6.391a7.106,7.106,0,0,0-6.989,4.816l-.013.007-5.743,14.87H124.4l3.828-10.9a6.767,6.767,0,0,0,.531-2.4" transform="translate(-103.807 -153.616)" fill="#fff"/>
                    <path id="Path_196" data-name="Path 196" d="M228.138,206.968a17.447,17.447,0,1,1-17.447-17.447,17.445,17.445,0,0,1,17.447,17.447" transform="translate(-47.591 -165.771)" fill="#d60812"/>
                    </g>
                    <g id="Group_121" data-name="Group 121" transform="translate(110.708 261.841)">
                    <g id="Group_119" data-name="Group 119">
                        <path id="Path_197" data-name="Path 197" d="M115.541,233.08v8.392h10.887v5.107H115.541v8.57h13.992v5.285H108.747V227.793h20.786v5.287Z" transform="translate(-108.747 -226.872)" fill="#fff"/>
                        <path id="Path_198" data-name="Path 198" d="M145.38,256.658h-5.96a1.685,1.685,0,0,1-1.093-.336,2.648,2.648,0,0,1-.663-.788l-4.566-7.626a4.6,4.6,0,0,1-.586,1.349l-3.913,6.276a3.612,3.612,0,0,1-.665.776,1.449,1.449,0,0,1-1,.348H121.4l7.874-11.966-7.559-11.225h5.962a2.073,2.073,0,0,1,.989.18,1.627,1.627,0,0,1,.563.585l4.544,7.356a5.771,5.771,0,0,1,.292-.776,6.276,6.276,0,0,1,.428-.776l3.486-5.69a1.6,1.6,0,0,1,1.4-.878h5.69l-7.557,10.955Z" transform="translate(-100.323 -223.095)" fill="#fff"/>
                        <path id="Path_199" data-name="Path 199" d="M142.361,236.682a13.739,13.739,0,0,1,1.486-1.406,9.593,9.593,0,0,1,1.686-1.1,9.033,9.033,0,0,1,1.936-.72,9.216,9.216,0,0,1,2.249-.258,7.428,7.428,0,0,1,3.431.8,7.7,7.7,0,0,1,2.688,2.317,11.519,11.519,0,0,1,1.754,3.723,18.379,18.379,0,0,1,.63,5.039,15.8,15.8,0,0,1-.708,4.826,11.755,11.755,0,0,1-2.014,3.834,9.3,9.3,0,0,1-3.138,2.532,9.041,9.041,0,0,1-4.083.911,7.56,7.56,0,0,1-5.557-2.092v9.245h-6.208V233.646h3.824a1.505,1.505,0,0,1,1.552,1.079Zm.36,14.037a4.953,4.953,0,0,0,1.9,1.418,5.9,5.9,0,0,0,2.192.4,4.813,4.813,0,0,0,2.047-.428,4.075,4.075,0,0,0,1.586-1.338,6.741,6.741,0,0,0,1.024-2.329,13.847,13.847,0,0,0,.36-3.375,15.256,15.256,0,0,0-.3-3.283,6.562,6.562,0,0,0-.856-2.182,3.3,3.3,0,0,0-1.338-1.2,4.081,4.081,0,0,0-1.756-.37,5.442,5.442,0,0,0-2.755.64,7.594,7.594,0,0,0-2.1,1.879Z" transform="translate(-90.263 -223.275)" fill="#fff"/>
                        <path id="Path_200" data-name="Path 200" d="M156.595,246.162a7.332,7.332,0,0,0,1.857,4.769,5.633,5.633,0,0,0,4.083,1.506,7.223,7.223,0,0,0,2.215-.3,10.491,10.491,0,0,0,1.642-.675c.471-.248.9-.471,1.281-.675a2.415,2.415,0,0,1,1.138-.3,1.326,1.326,0,0,1,1.124.54l1.8,2.25a9.775,9.775,0,0,1-2.182,1.9,11.729,11.729,0,0,1-2.474,1.193,13.1,13.1,0,0,1-2.587.606,19.556,19.556,0,0,1-2.52.17,12.687,12.687,0,0,1-4.532-.8,10.274,10.274,0,0,1-3.666-2.362,11.069,11.069,0,0,1-2.464-3.881,14.8,14.8,0,0,1-.9-5.377,12.688,12.688,0,0,1,.776-4.454,10.469,10.469,0,0,1,5.792-6.108,11.737,11.737,0,0,1,4.724-.909,11.564,11.564,0,0,1,4.106.708,9.086,9.086,0,0,1,3.238,2.059,9.262,9.262,0,0,1,2.115,3.318,12.51,12.51,0,0,1,.753,4.487,8.024,8.024,0,0,1-.067,1.148,2.036,2.036,0,0,1-.225.72.827.827,0,0,1-.428.371,2.041,2.041,0,0,1-.7.1Zm9.763-3.69a6.468,6.468,0,0,0-.258-1.846,4.26,4.26,0,0,0-.821-1.551,3.977,3.977,0,0,0-1.418-1.069,4.87,4.87,0,0,0-2.045-.395,4.715,4.715,0,0,0-3.488,1.261,6.412,6.412,0,0,0-1.642,3.6Z" transform="translate(-81.012 -223.239)" fill="#fff"/>
                        <path id="Path_201" data-name="Path 201" d="M170.673,237.469a10.382,10.382,0,0,1,2.542-3.125,5.245,5.245,0,0,1,3.375-1.148,4.16,4.16,0,0,1,2.564.741l-.4,4.589a1.04,1.04,0,0,1-.348.618,1.08,1.08,0,0,1-.641.17,7.459,7.459,0,0,1-1.036-.1,8.4,8.4,0,0,0-1.259-.1,4.321,4.321,0,0,0-1.517.247,3.773,3.773,0,0,0-1.181.7,5.008,5.008,0,0,0-.934,1.1,10.561,10.561,0,0,0-.776,1.486v14.193h-6.208V233.646h3.666a1.916,1.916,0,0,1,1.306.338,2.115,2.115,0,0,1,.516,1.168Z" transform="translate(-71.402 -223.275)" fill="#fff"/>
                        <path id="Path_202" data-name="Path 202" d="M181.575,231.019a3.423,3.423,0,0,1-.316,1.462,4.068,4.068,0,0,1-.843,1.193,3.851,3.851,0,0,1-1.238.81,3.934,3.934,0,0,1-1.517.292,3.654,3.654,0,0,1-1.451-.292,3.777,3.777,0,0,1-1.2-.81,4,4,0,0,1-.821-1.193,3.542,3.542,0,0,1-.3-1.462,3.62,3.62,0,0,1,.3-1.474,3.965,3.965,0,0,1,.821-1.2,3.777,3.777,0,0,1,1.2-.81,3.654,3.654,0,0,1,1.451-.293,3.935,3.935,0,0,1,1.517.293,3.851,3.851,0,0,1,1.238.81,4.028,4.028,0,0,1,.843,1.2A3.5,3.5,0,0,1,181.575,231.019Zm-.743,6.591V260.8h-6.208V237.611Z" transform="translate(-65.387 -227.24)" fill="#fff"/>
                        <path id="Path_203" data-name="Path 203" d="M185.9,246.162a7.332,7.332,0,0,0,1.856,4.769,5.638,5.638,0,0,0,4.083,1.506,7.216,7.216,0,0,0,2.215-.3,10.425,10.425,0,0,0,1.642-.675c.473-.248.9-.471,1.283-.675a2.409,2.409,0,0,1,1.136-.3,1.326,1.326,0,0,1,1.124.54l1.8,2.25a9.766,9.766,0,0,1-2.18,1.9,11.78,11.78,0,0,1-2.475,1.193,13.1,13.1,0,0,1-2.587.606,19.517,19.517,0,0,1-2.52.17,12.688,12.688,0,0,1-4.532-.8,10.288,10.288,0,0,1-3.666-2.362,11.069,11.069,0,0,1-2.464-3.881,14.8,14.8,0,0,1-.9-5.377,12.688,12.688,0,0,1,.776-4.454,10.469,10.469,0,0,1,5.792-6.108,11.742,11.742,0,0,1,4.724-.909,11.564,11.564,0,0,1,4.106.708,9.093,9.093,0,0,1,3.24,2.059,9.259,9.259,0,0,1,2.114,3.318,12.474,12.474,0,0,1,.753,4.487,8.029,8.029,0,0,1-.067,1.148,2.036,2.036,0,0,1-.225.72.827.827,0,0,1-.428.371,2.03,2.03,0,0,1-.7.1Zm9.763-3.69a6.526,6.526,0,0,0-.258-1.846,4.285,4.285,0,0,0-.821-1.551,3.976,3.976,0,0,0-1.417-1.069,4.884,4.884,0,0,0-2.047-.395,4.711,4.711,0,0,0-3.486,1.261,6.391,6.391,0,0,0-1.642,3.6Z" transform="translate(-61.503 -223.239)" fill="#fff"/>
                        <path id="Path_204" data-name="Path 204" d="M199.91,236.308a15.034,15.034,0,0,1,1.451-1.236,9.583,9.583,0,0,1,1.6-.968,8.674,8.674,0,0,1,1.822-.63,9.478,9.478,0,0,1,2.125-.225,8.151,8.151,0,0,1,3.351.651,6.936,6.936,0,0,1,2.464,1.822,7.836,7.836,0,0,1,1.507,2.79,11.894,11.894,0,0,1,.506,3.555V256.8h-6.186V242.068a4.527,4.527,0,0,0-.9-3A3.276,3.276,0,0,0,204.994,238a5.5,5.5,0,0,0-2.452.561,8.453,8.453,0,0,0-2.182,1.574V256.8h-6.208V233.61h3.823a1.5,1.5,0,0,1,1.552,1.079Z" transform="translate(-51.893 -223.239)" fill="#fff"/>
                        <path id="Path_205" data-name="Path 205" d="M226,238.783a2.585,2.585,0,0,1-.541.551,1.3,1.3,0,0,1-.765.19,1.608,1.608,0,0,1-.866-.258c-.278-.172-.6-.36-.956-.561a7.973,7.973,0,0,0-1.281-.563,5.7,5.7,0,0,0-1.846-.258,5.415,5.415,0,0,0-2.419.5,4.513,4.513,0,0,0-1.7,1.452,6.506,6.506,0,0,0-1,2.294,12.916,12.916,0,0,0-.326,3.037,8.915,8.915,0,0,0,1.428,5.445,4.631,4.631,0,0,0,3.9,1.889,6.427,6.427,0,0,0,1.472-.147,5.011,5.011,0,0,0,1.079-.371,4.31,4.31,0,0,0,.8-.495q.337-.27.641-.495a3.82,3.82,0,0,1,.606-.37,1.554,1.554,0,0,1,.686-.148,1.326,1.326,0,0,1,1.124.54l1.777,2.25a10.567,10.567,0,0,1-2.114,1.9,10.85,10.85,0,0,1-2.329,1.193,11.653,11.653,0,0,1-2.44.606,18.031,18.031,0,0,1-2.452.17,10.414,10.414,0,0,1-4.049-.8,9.7,9.7,0,0,1-3.353-2.329,11.161,11.161,0,0,1-2.282-3.758,14.262,14.262,0,0,1-.845-5.084,14.589,14.589,0,0,1,.743-4.724,10.75,10.75,0,0,1,2.182-3.779,10.066,10.066,0,0,1,3.566-2.509,12.4,12.4,0,0,1,4.914-.909,11.784,11.784,0,0,1,4.657.854,11.184,11.184,0,0,1,3.6,2.475Z" transform="translate(-42.705 -223.239)" fill="#fff"/>
                        <path id="Path_206" data-name="Path 206" d="M226.172,246.162a7.323,7.323,0,0,0,1.856,4.769,5.633,5.633,0,0,0,4.083,1.506,7.216,7.216,0,0,0,2.215-.3,10.423,10.423,0,0,0,1.642-.675c.473-.248.9-.471,1.283-.675a2.409,2.409,0,0,1,1.136-.3,1.326,1.326,0,0,1,1.124.54l1.8,2.25a9.812,9.812,0,0,1-2.182,1.9,11.741,11.741,0,0,1-2.475,1.193,13.1,13.1,0,0,1-2.587.606,19.512,19.512,0,0,1-2.519.17,12.69,12.69,0,0,1-4.534-.8,10.3,10.3,0,0,1-3.666-2.362,11.069,11.069,0,0,1-2.464-3.881,14.8,14.8,0,0,1-.9-5.377,12.689,12.689,0,0,1,.776-4.454,10.479,10.479,0,0,1,5.793-6.108,11.729,11.729,0,0,1,4.722-.909,11.564,11.564,0,0,1,4.106.708,9.071,9.071,0,0,1,3.238,2.059,9.262,9.262,0,0,1,2.115,3.318,12.474,12.474,0,0,1,.755,4.487,8,8,0,0,1-.068,1.148,2.036,2.036,0,0,1-.225.72.827.827,0,0,1-.428.371,2.031,2.031,0,0,1-.7.1Zm9.763-3.69a6.528,6.528,0,0,0-.258-1.846,4.286,4.286,0,0,0-.821-1.551,3.991,3.991,0,0,0-1.418-1.069,4.878,4.878,0,0,0-2.047-.395,4.72,4.72,0,0,0-3.488,1.261,6.4,6.4,0,0,0-1.641,3.6Z" transform="translate(-34.695 -223.239)" fill="#fff"/>
                        <path id="Path_207" data-name="Path 207" d="M240.027,256.8V233.61h3.823a1.505,1.505,0,0,1,1.552,1.079l.36,1.507a16.354,16.354,0,0,1,1.249-1.169,7.884,7.884,0,0,1,1.384-.934,7.308,7.308,0,0,1,3.486-.843,5.406,5.406,0,0,1,3.531,1.136,7.031,7.031,0,0,1,2.115,3.025,7.164,7.164,0,0,1,1.383-1.9,7.307,7.307,0,0,1,1.8-1.294,8.637,8.637,0,0,1,2.07-.73,10.287,10.287,0,0,1,2.194-.237,9.527,9.527,0,0,1,3.463.585,6.516,6.516,0,0,1,2.532,1.721,7.684,7.684,0,0,1,1.562,2.778,11.935,11.935,0,0,1,.54,3.735V256.8h-6.208V242.068q0-4.073-3.486-4.071a3.936,3.936,0,0,0-1.451.258,3.307,3.307,0,0,0-1.171.775,3.576,3.576,0,0,0-.786,1.283,5.063,5.063,0,0,0-.281,1.756V256.8h-6.208V242.068a4.575,4.575,0,0,0-.866-3.14A3.319,3.319,0,0,0,250.06,238a4.275,4.275,0,0,0-2.035.5,6.754,6.754,0,0,0-1.789,1.406V256.8Z" transform="translate(-21.354 -223.239)" fill="#fff"/>
                        <path id="Path_208" data-name="Path 208" d="M272.945,233.25a13.03,13.03,0,0,1,4.747.831,10.221,10.221,0,0,1,6.028,6.12,15.316,15.316,0,0,1,0,9.954,10.628,10.628,0,0,1-2.362,3.768,10.379,10.379,0,0,1-3.666,2.384,12.994,12.994,0,0,1-4.747.833,13.145,13.145,0,0,1-4.781-.833,10.324,10.324,0,0,1-3.678-2.384,10.748,10.748,0,0,1-2.374-3.768,15.116,15.116,0,0,1,0-9.954,10.655,10.655,0,0,1,2.374-3.746,10.438,10.438,0,0,1,3.678-2.374A13.18,13.18,0,0,1,272.945,233.25Zm0,19.234a4.475,4.475,0,0,0,3.936-1.834,12.2,12.2,0,0,0,0-10.889,4.478,4.478,0,0,0-3.936-1.832,4.549,4.549,0,0,0-4,1.832,12.2,12.2,0,0,0,0,10.889A4.546,4.546,0,0,0,272.945,252.484Z" transform="translate(-7.212 -223.239)" fill="#fff"/>
                        <path id="Path_209" data-name="Path 209" d="M282.612,237.469a10.361,10.361,0,0,1,2.544-3.125,5.245,5.245,0,0,1,3.375-1.148,4.16,4.16,0,0,1,2.564.741l-.4,4.589a1.04,1.04,0,0,1-.348.618,1.08,1.08,0,0,1-.641.17,7.4,7.4,0,0,1-1.034-.1,8.435,8.435,0,0,0-1.261-.1,4.337,4.337,0,0,0-1.519.247,3.811,3.811,0,0,0-1.181.7,5.048,5.048,0,0,0-.933,1.1,10.73,10.73,0,0,0-.776,1.486v14.193h-6.208V233.646h3.666a1.919,1.919,0,0,1,1.306.338,2.116,2.116,0,0,1,.516,1.168Z" transform="translate(3.118 -223.275)" fill="#fff"/>
                        <path id="Path_210" data-name="Path 210" d="M291.306,246.162a7.323,7.323,0,0,0,1.856,4.769,5.633,5.633,0,0,0,4.083,1.506,7.216,7.216,0,0,0,2.215-.3,10.49,10.49,0,0,0,1.642-.675c.473-.248.9-.471,1.283-.675a2.4,2.4,0,0,1,1.136-.3,1.326,1.326,0,0,1,1.124.54l1.8,2.25a9.8,9.8,0,0,1-2.18,1.9,11.78,11.78,0,0,1-2.475,1.193,13.1,13.1,0,0,1-2.587.606,19.537,19.537,0,0,1-2.52.17,12.688,12.688,0,0,1-4.532-.8,10.273,10.273,0,0,1-3.666-2.362,11.069,11.069,0,0,1-2.464-3.881,14.8,14.8,0,0,1-.9-5.377,12.725,12.725,0,0,1,.775-4.454,10.492,10.492,0,0,1,5.793-6.108,11.743,11.743,0,0,1,4.724-.909,11.564,11.564,0,0,1,4.106.708,9.072,9.072,0,0,1,3.238,2.059,9.263,9.263,0,0,1,2.115,3.318,12.511,12.511,0,0,1,.753,4.487,8.024,8.024,0,0,1-.067,1.148,2.036,2.036,0,0,1-.225.72.827.827,0,0,1-.428.371,2.031,2.031,0,0,1-.7.1Zm9.763-3.69a6.528,6.528,0,0,0-.258-1.846,4.285,4.285,0,0,0-.821-1.551,3.991,3.991,0,0,0-1.417-1.069,4.884,4.884,0,0,0-2.047-.395,4.72,4.72,0,0,0-3.488,1.261,6.389,6.389,0,0,0-1.641,3.6Z" transform="translate(8.665 -223.239)" fill="#fff"/>
                    </g>
                    <g id="Group_120" data-name="Group 120" transform="translate(316.443 26.701)">
                        <path id="Path_211" data-name="Path 211" d="M298.723,246.87a3.555,3.555,0,0,1,.282-1.406,3.5,3.5,0,0,1,.776-1.146,3.787,3.787,0,0,1,4.048-.766,3.67,3.67,0,0,1,1.171.766,3.5,3.5,0,0,1,.776,1.146,3.68,3.68,0,0,1,0,2.823,3.483,3.483,0,0,1-1.947,1.889,3.981,3.981,0,0,1-2.89,0,3.519,3.519,0,0,1-2.215-3.306Z" transform="translate(-298.723 -243.27)" fill="#d60812"/>
                    </g>
                    </g>
                </g>
            </svg>
        </div>
        <div class="text fade-in-on-load">We make event experiences happen.</div>
    </div>
</div>