.home-block-two {
    position:relative;

    h1 {
        color:white;
        font-size: 38px;
        line-height: 1;
        @include screen(1024) {
            font-size: 65px;
        }
        @include screen(1366) {
            font-size: 80px;
        }
        @include screen(1440) {
            font-size: 90px;
        }
        @include screen(1920) {
            font-size: 112px;
        }
    }

    .container {
        @include screen(1024) {
            margin-left: 11vw;
        }
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    video {
        display: block;
        max-width: 100%;
        @include screen(1024) {
            min-height: 917px;
        }
    }

    .top {
        margin-bottom: -60px;
        padding: 20px;
        z-index: 2;
        position: relative;
        @include screen(1024) {
            margin-bottom: 0px;
            padding: 0px;
            position:absolute;
            max-width: 75vw;
            margin-top: 3vh;
        }
        @include screen(1536) {
            margin-top: 6vh;
        }
        @include screen(1920) {
            margin-top: 12vh;
        }
    }

    .bot {
        display:flex;
        flex-direction: column-reverse;
        @include screen(1024) {
            flex-direction: row;
            align-items: self-end;
        }
    }

    .right {
        @include screen(1024) {
            flex: 0 0 50vw;
        }
        @include screen(1024,1920) {
            max-width: 917px;
        }
    }
    .left {
        padding: 35px;
        @include screen(1024) {
            flex: 1 0 50vw;
            padding: 0;
            padding-bottom: 10vh;
        }
    }
    a {
        position: relative;
        &:hover {
            &:before {
                color:white;
            }
        }
        &:before {
            transition:all 0.3s ease-out;
            font-family: "icomoon";
            content: "\e90b";
            color: #e42313;
            position:absolute;
            font-size: 20px;
            top: 50%;
            left: 0;
            transform: translate(0,-50%);
            @include screen(1024) {
                font-size: 32px;
            }
        }
    }
    li {
        & + li {
            margin-top: 15px;
        }
    }

    a {
        color:white;
        font-size: 29px;
        font-weight: 300;
        padding-left: 6vw;
        @include screen(1024) {
            padding-left: 3.5vw;
        }
        @include screen(1024) {
            font-size: 30px;
        }
        @include screen(1280) {
            font-size: 30px;
        }
        @include screen(1366) {
            font-size: 40px;
        }
        @include screen(1536) {
            font-size: 45px;
        }
    }
}

.hb2-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 45;
    background: #1d1d1b;
    &.gone {
        display:none;
    }
    .inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .logo {
        text-align: center;
        margin-bottom: 10vh;
    }
    .text {
//        transition:all 0.5s ease-out;
        text-align: center;
        color:white;
        font-size: 31px;
        &:not(.visible) {
            opacity: 0;
        }
    }
}

.fade-in-on-load {
    animation:0.25s ease-out 1s 1 fadeIn;
}

.fade-out {
    animation:0.25s ease-out 1s 1 fadeOut;
}

.overlay-active {
    height:100vh;
    width:100vw;
    overflow: hidden;
}

@keyframes fadeOut {
    0% {
        opacity:1;
    }
    10% {
        opacity:0.9;
    }
    20% {
        opacity:0.8;
    }
    30% {
        opacity:0.7;
    }
    40% {
        opacity:0.6;
    }
    50% {
        opacity:0.5;
    }
    60% {
        opacity:0.4;
    }
    70% {
        opacity:0.3;
    }
    80% {
        opacity:0.2;
    }
    90% {
        opacity:0.1;
    }
    100% {
      opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
      opacity: 1;
    }
}