{% extends "block-base.twig" %}

{% block content %}
<section class="home-block-two {{block.className}}" {{blockSection(block)}}>
    <div class="top">
        <div class="container">{{fields.content.content}}</div>
    </div>
    <div class="bot">
        <div class="left">
            <div class="container">
                <ul class="rl">
                {% for item in fields.content.items %}
                    <li>
                        <a href="{{item.item.url}}" target="{{item.item.target}}">{{item.item.title}}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="wrapper">
                <video muted loop>
                <source src="https://player.vimeo.com/progressive_redirect/playback/783329131/rendition/540p/file.mp4?loc=external&signature=c4547c9ce277412dde3a5ff75341c01e71dc9dd2a0f426431555b8a4e9cf3ec8" type="video/mp4">
                Your browser does not support HTML video.
                </video>
            </div>
        </div>
    </div>
    {% include "home-block-two-overlay.twig" %}
</section>
<script>

document.querySelector('.hb2-overlay .text').classList.add('fade-in-on-load');

document.querySelector("html").classList.add('overlay-active');

document.querySelector('.hb2-overlay .text').addEventListener('animationend', (event) => {
    event.srcElement.classList.add('visible');
    document.querySelector('.hb2-overlay').classList.add('fade-out');
});

document.querySelector('.hb2-overlay').addEventListener('animationend', (event) => {
    event.srcElement.classList.add('gone');
    document.querySelector("html").classList.remove('overlay-active');
});
</script>
{% endblock %}