{% extends "block-base.twig" %}

{% block content %}
<section class="home-block-two {{block.className}}" {{blockSection(block)}}>
    <div class="top">
        <div class="container">{{fields.content.content}}</div>
    </div>
    <div class="bot">
        <div class="left">
            <div class="container">
                <ul class="rl">
                {% for item in fields.content.items %}
                    <li>
                        <a href="{{item.item.url}}" target="{{item.item.target}}">{{item.item.title}}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="wrapper">
                <video muted loop playsinline>
                <source src="https://player.vimeo.com/progressive_redirect/playback/783329131/rendition/540p/file.mp4?loc=external&signature=c4547c9ce277412dde3a5ff75341c01e71dc9dd2a0f426431555b8a4e9cf3ec8" type="video/mp4">
                Your browser does not support HTML video.
                </video>
            </div>
        </div>
    </div>
    {% include "home-block-two-overlay.twig" %}
</section>
<script>
const overlayText = document.querySelector('.hb2-overlay .text');
const overlay = document.querySelector('.hb2-overlay');
const htmlDoc = document.querySelector("html");

htmlDoc.classList.add('overlay-active');

overlayText.classList.add('fade-in-on-load');

overlayText.onanimationend = (e) => {
//    console.log('First animation ended');
    e.srcElement.classList.add('visible');
    e.stopPropagation();
    overlay.classList.add('fade-out');
};

overlay.onanimationend = (e) => {
//    console.log('Second animation ended');
    initializeHome();
    e.srcElement.classList.add('gone');
    htmlDoc.classList.remove('overlay-active');
};

function initializeHome() {
    document.querySelector('.home-block-two video').play();
    onVisible(document.querySelector(".content-counter"), () => runAnimations());
}
</script>
{% endblock %}