{% extends "block-base.twig" %}

{% block content %}
<section class="home-block-two {{block.className}}" {{blockSection(block)}}>
    <div class="top">
        <div class="container">{{fields.content.content}}</div>
    </div>
    <div class="bot">
        <div class="left">
            <div class="container">
                <ul class="rl">
                {% for item in fields.content.items %}
                    <li>
                        <a href="{{item.item.url}}" target="{{item.item.target}}">{{item.item.title}}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="wrapper">
            {{imageElement(fields.content.image)}}
            </div>
        </div>
    </div>
    {% include "home-block-two-overlay.twig" %}
</section>
<script>
document.querySelector('.hb2-overlay .text').classList.add('fade-in-on-load');

document.querySelector("html").classList.add('overlay-active');

document.querySelector('.hb2-overlay .text').addEventListener('animationend', (event) => {
    event.srcElement.classList.add('visible');
    document.querySelector('.hb2-overlay').classList.add('fade-out');
});

document.querySelector('.hb2-overlay').addEventListener('animationend', (event) => {
    event.srcElement.classList.add('gone');
    document.querySelector("html").classList.remove('overlay-active');
});
</script>
{% endblock %}