@import "mixins.scss";


.sticky-modal {
    .acf-innerblocks-container {
        @include screen(0,1279) {
            padding: 25px 0;
            overflow-x: hidden;
            overflow-y: scroll;
//            height: -webkit-fill-available;
        }
        @include screen(1280) {

        }
    }
    &-toggle {
        will-change: transform;
        position: fixed;
        bottom: 70px;
        left: 0;
        right: 0;
        z-index: 10;

        background: linear-gradient(97deg, rgba(228,35,19,1) 0%, rgba(244,161,0,1) 50%);
        border: none;
        color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 10px 12px;
        font-size: 16px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        @include screen(900) {
            padding: 15px 12px;
            gap: 15px;
            bottom: 150px;
            right: 0;
            left: unset;
            writing-mode: vertical-rl;
//            transform: rotate(180deg);
            border-bottom-left-radius: 5px;
            border-top-right-radius: 0px;
        }
        svg {
            @include screen(1024) {
//                transform: rotate(180deg);
            }
        }
    }
    .whitepaper-form-new {
    padding:0 !important;
    .media,
    .flex {
        padding: 0 25px !important;
    }
    .media {
        @include screen(1024) {
            max-width: 40% !important;
        }
    }
    .flex {
        @include screen(1024) {
            flex: 1 0 48.5% !important;
        }
    }
    .wrapper {
        @include screen(1024) {
            align-items: center !important;
        }
    }
    h2 {
        @include screen(1024,1279) {
            font-size: 30px;
        }
        @include screen(1280,1536) {
            font-size: 35px;
        }
    }
    h5 {
        @include screen(1024,1536) {
            font-size: 20px;
        }
    }
    p {
        @include screen(1024,1536) {
            font-size: 15px;
        }
    }
    .gform_fields {
        gap: 10px !important;
    }
    .gfield label {
//        margin-bottom: 10px !important;
    }
    .gfield input {
        min-height: 40px !important;
        margin-bottom: 0px !important;
    }
    .gfield--type-checkbox .gchoice {
        align-items: center;
        input {
            min-height: unset !important;
        }
    }
}
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
  
  .modal.modal-show {
    animation: fadeIn 0.1s ease-in-out forwards;
  }

  .modal.modal-hide {
    animation: fadeOut 0.1s ease-in-out 0.1s forwards;
  }

  .modal-content {
    position: relative;
    background-color: #fff;
    margin: 2rem;
    padding: 2rem;
    border-radius: 0.25rem;
    width: 50%;
    max-height: 75%;
    overflow: auto;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
    // overflow-x: hidden !important;
    // overflow-y: scroll !important;
    display: flex;

    overflow: hidden;
    @include screen(1280) {
        align-items: center;
        overflow: hidden;
    }

  }

  .modal.modal-show .modal-content {
    animation: fadeInDown 0.3s ease-in-out forwards;
  }

  .modal.modal-hide .modal-content {
    animation: fadeOutUp 0.2s ease-in-out forwards;
  }
  .modal-content h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .modal-content p {
    margin: 1rem 0;
    line-height: 1.5rem;
  }
  .modal-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0 0.75rem;
    color: rgba(0,0,0,0.2);
    cursor: pointer;
    user-select: none;
  }
  .modal-close:hover, .modal-close:focus {
    color: rgba(0,0,0,0.5);
  }
  
.modal {
    justify-content: center;
    align-items: center;
  }
  .modal .modal-content {
    padding: 0;
    height: 85%;
    max-height: 85%;
    width: auto;
    max-width: 85%;
    overflow: visible;
    border: 3px solid #fff;
  }
  .modal .modal-content img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;  
  }
  .modal .modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    top: -1.5rem;
    right: -1.5rem;
    border-radius: 50%;
    color: #111;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
  }
  .modal .modal-close:hover, .modal .modal-close:focus {
    color: #111; /* color: rgba(255,0,0,0.5); */
  }
  .modal.modal-show .modal-content {
    animation: zoomIn 0.3s ease-in-out forwards;
  }
  .modal.modal-hide .modal-content {
    animation: zoomOut 0.2s ease-in-out forwards;
  }

  @keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes zoomOut {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.3);
    }
  }