{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
<div data-modal-target="modal5" class="sticky-modal-toggle">
    <div class="shape">
        <svg xmlns="http://www.w3.org/2000/svg" width="28.667" height="28.667" viewBox="0 0 28.667 28.667">
            <g id="Group_414" data-name="Group 414" transform="translate(28.667) rotate(90)">
                <g id="Icon_feather-arrow-right" data-name="Icon feather-arrow-right" transform="translate(5.566 8.506)">
                <path id="Path_3" data-name="Path 3" d="M0,0H11.655" transform="translate(0 5.827)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                <path id="Path_4" data-name="Path 4" d="M0,0,5.827,5.827,0,11.655" transform="translate(5.827 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                </g>
                <g id="Ellipse_4" data-name="Ellipse 4" transform="translate(0)" fill="none" stroke="#fff" stroke-width="1.5">
                <circle cx="14.333" cy="14.333" r="14.333" stroke="none"/>
                <circle cx="14.333" cy="14.333" r="13.583" fill="none"/>
                </g>
            </g>
        </svg>
    </div>
    <div class="text">Download <strong>Future of Events Report</strong> NOW</div>
</div>
<div class="modal" id="modal5">
  <div class="modal-content">
    <span class="modal-close">×</span>
    <InnerBlocks/>
  </div>
</div>
</section>
<script>
const modalTriggerButtons = document.querySelectorAll("[data-modal-target]");
const modals = document.querySelectorAll(".modal");
const modalCloseButtons = document.querySelectorAll(".modal-close");

modalTriggerButtons.forEach(elem => {
  elem.addEventListener("click", event => toggleModal(event.currentTarget.getAttribute("data-modal-target")));
});

modalCloseButtons.forEach(elem => {
  elem.addEventListener("click", event => toggleModal(event.currentTarget.closest(".modal").id));
});

modals.forEach(elem => {
  elem.addEventListener("click", event => {
    if(event.currentTarget === event.target) toggleModal(event.currentTarget.id);
  });
});

// Close Modal with "Esc"...
document.addEventListener("keydown", event => {
  if(event.keyCode === 27 && document.querySelector(".modal.modal-show")) {
    toggleModal(document.querySelector(".modal.modal-show").id);
  }
});

function toggleModal(modalId) {
  const modal = document.getElementById(modalId);

  if(getComputedStyle(modal).display==="flex") { // alternatively: if(modal.classList.contains("modal-show"))
    modal.classList.add("modal-hide");
    setTimeout(() => {
      document.body.style.overflow = "initial";
      modal.classList.remove("modal-show", "modal-hide");
      modal.style.display = "none";      
    }, 200);
  }
  else {
    document.body.style.overflow = "hidden";
    modal.style.display = "flex";
    modal.classList.add("modal-show");
  }
}
</script>
{% endblock %}
