.thank-you-block {
    background:#1D1D1B;
    padding: 35px;
    min-height: 50vh;
    padding-top: 100px;
    h1 {
        margin: 0;
        line-height: 0.9;
        color: white;
        font-weight: 300;
        font-size: 75px;
    }
    p {
        color:white;
        margin: 3rem 0;
    }
    em {
        color: #e42313;
    }
    .btn {
        color:white;
        font-weight:900;
    }
    .right {
        text-align: right;
    }
}

@include screen(600) {
    .thank-you-block {
        h1 {
            font-size: 100px;
        }
    }
}

@include screen(1200) {
    .thank-you-block {
        min-height: 60vh;
        p {
            font-size: 28px;
            line-height: 34px;
        }
    }
}