{% extends "block-base.twig" %}

{% block content %}
<section class="thank-you-block {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="left">
            {{fields.content.content}}
            </div>
            <div class="right">
                <a class="btn" href="{{fields.content.link.url}}" target="{{fields.content.link.target}}">{{fields.content.link.title}}<em>.</em></a>
            </div>
        </div>
    </div>
</section>
<script>

</script>
{% endblock %}
